[2021-03-12 22:00] alexandrekm-amzn commented on #1890
@noni-mizu
Answering your questions
1. Correct
2. Absolutely
3. I don't know which tutorial are you referring to.

I took a second look at the partial logs you pasted and since they are partial it's missing one part of it.
When you run the SDK it will print a code like this:
`#       To authorize, browse to: 'https://amazon.com/us/code' and enter the code: XXXXX       #`

Did you do this step ? My

[2021-03-12 22:20] noni-mizu commented on #1890
Thanks @alexandrekm-amzn, your responses are helpful.
Here's the full stacktrace, I cut it off when it started on "Checking for Authorization (2)..."
It's very long. I'll respond to your other comments in a new comment.

2021-03-12 22:16:25.246 [  4] 9 LibCurlHttpContentFetcher:transferThread:numTransfersLeft=1
2021-03-12 22:16:25.286 [  1] 5 AlexaInterfaceCapabilityAgent:createDefaultAlexaInterfa

[2021-03-12 22:23] noni-mizu commented on #1890
@alexandrekm-amzn I never made it to the point where I got a code and could copy it to enter into the Amazon website. I'm going to try following the tutorial you sent me and see if I can figure it out. The tutorial I used to install the SDK at first is included in my first comment when I started the issue. Thanks.

[2021-03-12 22:34] noni-mizu commented on #1890
@alexandrekm-amzn Ah, I don't know what happened, but I actually did get the code in that last run. But now I enter it into the website and it says it could not recognize the code. Any idea why that might be the case?

[2021-03-12 22:42] clinesmith-m commented on #1891
Thanks for pointing that out! My path was off because I was trying to reuse the same script I made when I installed the SDK in another environment, but forgot that I had changed the name of the ~/my_project/ directory. It builds properly now. I'm closing the issue.

[2021-03-12 22:42] #1891 closed

[2021-03-12 23:11] alexandrekm-amzn commented on #1890
@noni-mizu I'm glad that this is fixed.

I will close the ticket, if you have any other issue please cut another ticket

[2021-03-12 23:11] #1890 closed

[2021-03-12 23:19] alexandrekm-amzn commented on #1889
hi @josema777,
You compiled the SDK in release mode and by default DEBUG9 logs are disabled in this mode.
[code]

Can you please recompile in DEBUG mode and re-run with DEBUG9 logs ?
This will be a lengthy file so if you can attach the file directly this would be better.

Thanks,
-Alex

[2021-03-13 13:59] josema777 commented on #1889
Hi @alexandrekm-amzn.

I have recompiled in DEBUG mode and re-run with DEBUG9 logs

I attach the output file.

Thanks and regards.

[Log DEBUG9.txt](https://github.com/alexa/avs-device-sdk/files/6134908/Log.DEBUG9.txt)

[2021-03-14 08:32] sambro2 commented on #1523
yes, I'm stuck at 93%, how can I fix it?? any idea

[2021-03-15 14:58] sdetweil opened #1892 "end of create calendar dialog fails with "I'm having trouble understanding""
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I have my own 'avs' sdk implementation. all used to work great (July 2020),  I have been sick, and now just back verifying before release...  but now creating a calendar entry fails.  (which works on a re

[2021-03-16 01:09] xiaqinzhan commented on #1071
@TaoGegithub @xuyongqing9527  could you share your experience for resolving this issue ? Thanks

[2021-03-16 01:34] xiaqinzhan opened #1893 "Alexa for Android: CANNOT LINK EXECUTABLE "/data/app/avs/bin/SampleApp": cannot locate symbol "EVP_CIPHER_CTX_init" referenced by "/system/lib/libdrmmtkutil.so"..."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

 We have deployed the alexa to MTK android develop board, but we encount CANNOT LINK EXECUTABLE "/data/app/avs/bin/SampleApp": cannot locate symbol "EVP_CIPHER_CTX_init" referenced by "/system/lib/libdrm

[2021-03-16 05:58] kjkh commented on #1878
Closing due to inactivity.

[2021-03-16 05:58] #1878 closed

[2021-03-16 06:02] kjkh commented on #1892
Hi @sdetweil,

Unfortunately your question is beyond the scope of this forum. The forum is meant for issues related to the AVS Device SDK. If you do not receive an answer to your forum question, you can try reaching out via the contact form here: https://developer.amazon.com/alexa/console/contact-us.

[2021-03-16 06:13] kjkh commented on #1893
Hi @xiaqinzhan,

Can you provide the CMake flags you are building with?

[2021-03-16 06:27] kjkh commented on #1893
Can you also provide the Android version?

[2021-03-16 07:58] 593980284 commented on #492
I met the same problem, how to solve it

[2021-03-16 08:06] 593980284 commented on #492
curl --version
   curl 7.64.1 (x86_64-apple-darwin19.0) libcurl/7.64.1 (SecureTransport) LibreSSL/2.8.3 zlib/1.2.11 nghttp2/1.39.2
brew --version
   Homebrew 3.0.5
xcode-select --version
    xcode-select version 2373.

1. brew install cmake pkg-config
2. cd ~
3.  mkdir cross-compile
4.  cd cross-compile
5.  cd ~/cross-compile
6.  git clone https://github.com/leetal/ios-cmake.git
7.  git clone http

[2021-03-16 08:30] 593980284 commented on #1633
I met the same problem, how to solve it？

[2021-03-16 16:07] sdetweil commented on #1892
thanks.. I was directed here from there already
https://developer.amazon.com/alexa/console/contact-us/case?caseID=8095156021

[2021-03-16 21:10] kjkh commented on #1886
This has been fixed, closing ticket.

[2021-03-16 21:10] #1886 closed

[2021-03-17 12:19] josema777 commented on #1889
Hi @alexandrekm-amzn.

I have already attached the Log file recompiled in DEBUG mode and executed with DEBUG9. Do you need more info?

Thanks and best regards.

[2021-03-17 23:57] vinlos opened #1894 "[Raspberry PI Zero W] Impossible to start sample app (bluetooth or local audio)"
## Briefly summarize your issue:
Sample app does not start successfully and it exits abnormally after requiring authorization. I have an USB microphone and a bluetooth speaker attached to the device which is a Raspberri Pi Zero W, but the app has never started successfully in any possible audio device configuration.

## What is the expected behavior?
I expect to successfully start sample app and t

[2021-03-18 01:04] trident1232003 opened #1895 "SDK 1.18 stucks at authorization state, never goes into idle (different than 1.17 )"
## Briefly summarize your issue:
the Alexa SampleApp running fine after upgrade SDK 1.12 to 1.17. However,  SDK 1.18 and beyond has problem with authorization ==> connecting, but never goes into idle state. ( q key will not quit the SampleApp anymore ).

It's seemed that authorization thread hangs during system startup. ( has to press key "t" to wake it up to further continue authorization process

[2021-03-18 01:06] trident1232003 commented on #1895
Here is the DEBUG9 level of SDK 1.18 startup log

=============== log begin =============
# GST_PLUGIN_PATH_1_0=/usr/lib/gstreamer-1.0 TZ=UTC /usr/bin/SampleApp /data/AlexaClientSDKConfig.json.1.18 DEBUG9
2021-03-18 00:36:12.345 [  1] I sdkVersion: 1.18.0
configFile /data/AlexaClientSDKConfig.json.1.18
Running app with log level: DEBUG9
2021-03-18 00:36:12.361 [  1] 0 ConfigurationNode:initializeS

[2021-03-18 03:40] kjkh commented on #1889
Hi @josema777,

Can you check your AVS product on developer.amazon.com? Under Product Details -> Entertainment, do you see any available MSPs that are supported?

[2021-03-18 11:06] josema777 commented on #1889
Hi @kjkh,

Thanks for your answer. In my AVS product on developer.amazon.com under Product Details -> Entertainment, all MPS appear as Not Requested.

I don't understand what that means, because in Spain, where I live, several services are available (Amazon Music, Spotify, TuneIn ...), and if I ask for music to play on the device that I have mounted (raspberry + speaker) through from the mobile ap

[2021-03-19 05:39] kjkh commented on #1895
Hi @trident1232003,

What system is this running this on? Can you see if it's reproducible in the last version of the SDK?

[2021-03-19 23:09] trident1232003 commented on #1895
Hi

As I reported in my previous comment, this problem is reproducible on the latest SDK 1.22/1.21. However on the 1.18 when authorization process stucks, I can press "t" + return to wake it up then continue until idle state. On 1.22 the problem get worse that authorization process seemed hang completely.

The SDK is currently running on broadcom reference hardware platform with broadcom SDK:

###

[2021-03-20 02:51] kjkh commented on #1895
Hi @trident1232003,

Your previous comments indicated this problem existed on 1.18 and 1.20.1. Are you saying you already tried on 1.22 as well? If not, can you please confirm if the issue still exists on 1.22? The reason I am asking for this is because in 1.21 we fixed an issue on certain compilers that caused high CPU usage during the authorization request stage. This sounds like it could be rel

[2021-03-20 03:01] kjkh commented on #1894
Hi @vinlos,

I see in your DEBUG logs some messages involving Jack:

[code]

In the instructions for running SampleApp on raspberry-pi, PortAudio needs to be built without jack support (Step 2, Item 4):

https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#step-2-set-up-your-raspberry-pi-environment

Can you double check to see that PortAudio has been configured correctly

[2021-03-21 00:29] vinlos commented on #1894
I confirm that I build Port Audio with the option `--without-jack`

[code]

[2021-03-22 14:24] Mechan0 opened #1896 "Playback router pause stops rather than pausing"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

It seems that this is intended behaviour, as the tests indicate but it seems odd that the existing `PlayerActivity::PAUSED` is not issued instead. Our application needs

[2021-03-22 17:19] kclchan commented on #1820
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-03-22 17:19] #1820 closed

[2021-03-22 17:22] kclchan commented on #1872
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-03-22 17:22] #1872 closed

[2021-03-22 23:54] kclchan commented on #1879
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-03-22 23:54] #1879 closed

[2021-03-23 08:47] BobXLiu opened #1897 "WAKEWORD initiator is bad request and TAP initiator is OK"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Get bad request when communicating with AVS server using WAKEWORD initiator, but used TAP initiator is success.
Log information: [avs.log](https://github.com/alexa/avs-device-sdk/files/6188087/avs.log)
T

[2021-03-23 10:38] prachipsutane opened #1898 "getting error while building alexa sdk : libpryon_lite.a: error adding symbols: file in wrong format"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

i have been trying to build alexa sdk, facing this error:

## What is the expected behavior?

build succesfull
## What behavior are you observing?

getting error : libpryon_lite.a: error adding symbols:

[2021-03-23 16:21] kclchan commented on #1898
Hi @prachipsutane, please could contact your Amazon Solutions Architect for support with question like these.  I am going to close this issue now.  Thanks!

[2021-03-23 16:21] #1898 closed

[2021-03-23 23:12] kclchan commented on #1896
HI @Mechan0, please note that pause state in AudioPlayer is mostly used only for interruptions (e.g. barge-in).  The AudioPlayer AVS API (https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/audioplayer.html) has only the STOP and PLAY directive for pause and resume.  To pause, AVS sends to the device a STOP directive.  To resume, AVS sends a PLAY directive with the appropriate offset

[2021-03-24 11:38] ghost opened #1899 "Wake word not working"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I updated the avs to the latest version (I completely deleted the workspace) and since then the wake word doesn't work any more, but t+Enter does perfectly. I accepted the SENSORY-License-Agreements, but

[2021-03-24 14:58] Mechan0 commented on #1896
@kclchan Thank you for the reply! This is rather confusing so glad to have a definitive reason. So in our case, what would you suggest to determine the difference between a stop directive returning due to a pause command, in which case we need to persist showing our playback controls to the user, or an error that results in a stop. Even setting a variable on our side after any mechanism issues a l

[2021-03-24 23:22] kclchan commented on #1897
Hi @BobXLiu, were there any changes made to the SDK or the wakeword adapter?  From the logs, I am seeing messages like this:
[code]
I would like to suggest double checking if the data are being written to the AudioInputStream correctly.

[2021-03-24 23:28] kclchan commented on #1894
Hi @vinlos, I believe the problem is due to `1144 Forbidden instruction`.  Please note that the setup.sh is meant to be used by Raspberry Pi3 or Pi4 and ships with the sensory wakeword binary that is only compatible for these platforms.  Since you are running the SampleApp on Pi Zero, it is exiting due to the binary not being compatible.  As a workaround, you could disable wakeword detection.

[2021-03-24 23:30] kclchan commented on #1899
Hi @JustixDev, the fact that 't+enter' is working for you, it doesn't seem like it's a micophone issue.  Could you please attach the DEBUG9 logs for further investigation.  Thanks!

[2021-03-24 23:38] JustixDev commented on #1899
Sure, here you go:
[debug9-log.txt](https://github.com/alexa/avs-device-sdk/files/6201056/debug9-log.txt)

[2021-03-24 23:47] kclchan commented on #1899
Hi @JustixDev, I think this is the problem:
[code]
Please make sure the file '...lexa-rpi/models/spot-alexa-rpi-31000.snsr' exists.  The alexa-rpi path should be under the same path where you specified `-DSENSORY_KEY_WORD_DETECTOR_LIB_PATH` in your cmake.

[2021-03-25 15:07] JustixDev commented on #1899
Okay I reinstalled the sdk and installed it from source (other guide), but now even t+Enter doesn't work and the logs are getting spammed with readTimeout exceptions.

[debug9-log-2.txt](https://github.com/alexa/avs-device-sdk/files/6205686/debug9-log-2.txt)

Output still works perfectly. This is my ~/.asoundrc file:

`pcm.!default {
  type asym
  capture.pcm "mic"
  playback.pcm "speaker"
}
pcm.m

[2021-03-25 15:27] JustixDev commented on #1899
Okay after changing some settings like language, time zone etc. via https://alexa.amazon.de/spa/ and rebooting the raspberry pi the mic seems to work fine, but now the speaker sounds like Alexa sends the audio in an incorrect rate (see audio test).

[audio-test.mp3.zip](https://github.com/alexa/avs-device-sdk/files/6205881/audio-test.mp3.zip)

[2021-03-25 21:02] trident1232003 commented on #1895
Hi

I tried SDK v1.22, and it works fine on my system. One more question, is it possible to backport the fix to older release? where can I find the patch for this issue?

Thanks
Alex

[2021-03-25 21:02] #1895 closed

[2021-03-25 21:17] #1884 closed

[2021-03-26 09:00] prachipsutane opened #1900 "Getting error : libpryon_lite.a: error adding symbols: file in wrong format"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I have been trying to build alexa sdk on ubuntu machine. I am getting error saying : libpryon_lite.a: error adding symbols: file in wrong format
error:
Scanning dependencies of target AbstractKeywordDete

[2021-03-26 16:15] kclchan commented on #1900
Hi @prachipsutane, please could contact your Amazon Solutions Architect for support with question like these. I am going to close this issue now. Thanks!

[2021-03-26 16:15] #1900 closed

[2021-03-29 22:31] caleighatamazon commented on #1885
Closing this issue.

[2021-03-29 22:31] #1885 closed

[2021-03-31 12:25] ldritsas opened #1901 "no audio to Waveshare WM8960 audio HAT - Raspberry Pi"
## Briefly summarize your issue:
Raspberry Pi 2 with Waveshare WM8960 audio HAT. Alexa is working and using the HAT's microphones, but will not output audio to the HAT, audio only available on the Pi's 3.5mm jack.

## What is the expected behavior?
The audio should output to the HAT

## What behavior are you observing?
Alexa works fine, uses the HAT microphones as the input, will not output audio

[2021-03-31 15:36] AppropriateEagle opened #1902 "CANNOT LINK EXECUTABLE "/system/alexa/bin/SampleApp": library "libsqlite3.so" not found"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?
run avs

## What behavior are you observing?
error: dependency missing

## Provide the steps to reproduce the issue, if applicable:
bash startsample.sh
WARNING: linker:

[2021-04-01 21:24] caleighatamazon commented on #1877
Closing due to inactivity.

[2021-04-01 21:24] #1877 closed

[2021-04-01 21:24] caleighatamazon commented on #1830
I'm going to close this one due to inactivity. Please open a new issue with fresh logs and a description of the error if this is still a problem for you. Thanks!

[2021-04-01 21:24] #1830 closed

[2021-04-01 21:25] caleighatamazon commented on #1892
I'm going to close this issue since unfortunately we cannot help issues unrelated to the Device SDK.

[2021-04-01 21:25] #1892 closed

[2021-04-01 21:49] sdetweil commented on #1892
thanks. the resolution was that I wasn't sending the status events for speechStarted and speechFinished

[2021-04-04 19:59] camero2734 opened #1903 ""Music and Radio playback is not available on this device" - Raspberry Pi 4B"
## Briefly summarize your issue:
Using Raspberry Pi 4B as audio sink (connecting phone to RPi to play music). Currently built AVS with the bluetooth cmake parameters, but if I say "Alexa, pause the music", I get "Music and Radio playback is not available on this device".

I know it _can_ work, as I really messed with things at one point and Alexa was able to control it, but after resetting my RPi,

[2021-04-05 16:21] caleighatamazon commented on #1902
Hi there, can you confirm that you used our Android quick start guide to build the SDK Sample App for Android? https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/android.html

[2021-04-05 17:30] caleighatamazon commented on #1896
Hi @Mechan0 , AudioPlayer doesn't have a single, easy way to signal an error to a listener. I'll note this as a feature request.

But there are a few workarounds to be notified of errors, that might work for you:

- MessageSenderInterface will be used to send a PlaybackError to AVS, so you could monitor for that to know if there's an error.
- The 'Play' command can fail (and will, for several reas

[2021-04-05 17:30] #1896 closed

[2021-04-06 08:43] Alexa-AUH opened #1904 "Alexa Comms is not working"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide)

## Briefly summarize your issue:
While running Alexa comms, failed to create SipUserAgentInterface_create which results in "Failed to create to SampleApplication!"

## What is the expected behavior?
Alexa should run with the Comms feature

[2021-04-06 14:30] #1902 closed

[2021-04-06 18:01] camero2734 commented on #1903
Disabling `bluealsa` (as was suggested [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html)) worked. I'm curious as to why this is required when it seems it was able to interface with bluez just fine (and should be able to control the Play, Pause, etc via dbus).

[2021-04-06 18:01] #1903 closed

[2021-04-07 08:28] j4ckp0t85 commented on #1889
Any update on this? I'm interested too (running latest 1.23.0 version)

[2021-04-07 11:02] alexismailov2 opened #1905 "Should be used getScheduledTime_ISO_8601Locked instead. std::mutex - non recursive and current code lead to deadlock."
https://github.com/alexa/avs-device-sdk/blob/f2dab7ee26e59caa41fa861e04df256fa8563ef1/capabilities/Alerts/acsdkAlerts/src/Alert.cpp#L823

[2021-04-07 12:30] alexismailov2 opened #1906 "Dead lock on non recursive mutex. may be can be used m_dynamicData.timePoint.getTime_Unix() directly."
https://github.com/alexa/avs-device-sdk/blob/f2dab7ee26e59caa41fa861e04df256fa8563ef1/capabilities/Alerts/acsdkAlerts/src/Alert.cpp#L824

[2021-04-07 17:45] womw commented on #1906
Hello @alexismailov2 thanks for posting.

Thanks for bringing this bug to our attention, we will investigate this internally.

[2021-04-07 17:52] womw commented on #1905
Hi @alexismailov2 thanks for posting.

Thanks for bringing this bug to our attention, we will be investigating this internally.

[2021-04-07 17:58] womw commented on #1904
Hi @Alexa-AUH thanks for posting

Can you please reach out to your amazon representative to receive further support?

[2021-04-07 17:58] #1904 closed

[2021-04-07 18:09] womw commented on #1899
Hi @JustixDev thanks for posting

Following the steps here: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html

Can you update your ~/.asoundrc, your values for pcm.!default are incorrect
pcm.!default {
   type asym
    playback.pcm {
      type plug
      slave.pcm "hw:0,0"
    }
    capture.pcm {
      type plug
      slave.pcm "hw:1,0"
    }
 }

Also can you run ` su

[2021-04-07 18:29] womw commented on #1901
Hi @ldritsas thanks for posting.

There isn't a line of code in the SDK that specifies the audio output of the device. Are you running the SampleApp with the correct value set for the env variable PA_ALSA_PLUGHW?

Can you try running the device with DEBUG9 logs enabled and sharing them here?

[2021-04-08 14:30] JustixDev commented on #1899
The audio still sounds like the one in the audio-test and now the mic isn't working at all (with the new .asoundrc and the "rec" command.

[2021-04-08 17:07] tdididit commented on #1850
sudo apt-get install libcurl4-gnutls-dev

[2021-04-09 20:41] womw commented on #1889
Hello @josema777  @j4ckp0t85 ,

By default Music Service Providers are disabled by default, as evident by your Product Details page. You can work with your amazon representative in order to have these services enabled.

You are able to play these services through the companion app as this enablement only affects devices and not the app.

[2021-04-09 21:52] j4ckp0t85 commented on #1889
Maybe half of the users that have compiled this sdk are private devs that want to play around it or it addicted in general, that's the truth.

No commercial target (and so no need to pass certificaon processes). Even if a fun fact is that sometimes big companies 'steal' ideas from personal, free licensed projects.
But that's another story.

It's legit for Amazon to lock this kind of capability, of

[2021-04-12 00:35] BobXLiu commented on #1897
Hi @kclchan, This issue has been resolved and the root cause is incorrect context content

[2021-04-12 00:35] #1897 closed

[2021-04-13 06:16] zjn0505 commented on #1535
Is it fixed in [1.19](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/release-notes.html#version-1191)?

[2021-04-13 10:59] ldritsas commented on #1901
Thank you for your help. my startample.sh reads
`PA_ALSA_PLUGHW=1 ./SampleApp "/home/pi/build/Integration/AlexaClientSDKConfig.json" "/home/pi/third-party/alexa-rpi/models" DEBUG9`
I'll get the logs for you, but I cannot see any obvious errors in them as they scroll by.

[2021-04-13 11:23] ldritsas commented on #1901
for more info I followed the instructions
"Set Up the AVS Device SDK on Raspberry Pi with a Script"
and alexa works fine, just not using the speakers I want (via the audio HAT)
in dbug logs I notice the following:

Cannot connect to server socket err = No such file or directory
Cannot connect to server request channel
jack server is not running or cannot be started
JackShmReadWritePtr::~JackShmRea

[2021-04-13 11:26] ldritsas commented on #1901
and here is the full startup log
2021-04-13 11:24:53.546 [  1] I AlexaClientSdkInit:initialize:sdkversion=1.23.0
2021-04-13 11:24:53.557 [  1] 0 ConfigurationNode:initializeSuccess
2021-04-13 11:24:53.566 [  1] 5 SDKPrimitivesProvider:getInstance
2021-04-13 11:24:53.567 [  1] 5 SDKPrimitivesProvider:withTimerDelegateFactory
2021-04-13 11:24:53.567 [  1] 5 SDKPrimitivesProvider:isInitialized
2021-0

[2021-04-16 16:04] Pipopa opened #1908 "AVS stops installing on Raspi"
## Briefly summarize your issue:
I try to make my Raspberry Pi a Alexa. When I install the programm on my Pi it always stops at:
/home/pi/avs-device-sdk/thirdparty/rapidjson/rapidjson-1.1.0/include/rapidjson/document.h:578:7: note: class rapidjson ::GenericValue<rapidjson::UTF8<> declare class here class GemericValue {

## What is the expected behavior?
It should keep on installing. The tutorial s

[2021-04-16 16:22] alexandrekm-amzn commented on #1908
hi @Pipopa
Thanks for reaching out. We will need extra info to be able to help you:
* which type of installation are you following? can you link the documentation?
* is this a raspberry pi 4? if so what operating system are you using?
* please attach the complete build log in the ticket.

[2021-04-16 16:42] Pipopa commented on #1908
Hi @alexandrekm-amzn,
thanks for the quick response.

I'm following this installation:
https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi-script.html

I'm using a raspberry pi 3a+ with the Raspberry Pi OS Lite (2021-03-04)

The build log is:

pi@raspberrypi:~ $ sudo bash setup.sh config.json [-s 1234]
##########################################################################

[2021-04-16 17:09] tekprepper commented on #1045
sudo apt-get install gstreamer1.0-alsa fixed it for me :)

[2021-04-18 08:48] #1908 closed

[2021-04-19 12:37] tinypancake opened #1909 "IheartRadioLocal Station occurs carton when start playing about 6s"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
When the second time to play from IheartRadioLocal station WILD 94.9, after start playing for 6s, it suddenly has no music output, and after about 40s, it resume playing

## What is the expected behavior?

[2021-04-19 12:46] tinypancake commented on #1909
Also, I have found the state-change is too late, maybe it is due to too much logs?
2021-04-19 12:28:08.394 [  8] 7 MediaPlayer:State Change:oldState=PLAYING,newState=PAUSED,pendingState=VOID_PENDING
2021-04-19 12:28:08.394 [  8] 0 MediaPlayer:callingOnBufferUnderrun:name=AudioMediaPlayer,currentId=2

[2021-04-19 19:16] ghost opened #1910 "delete"

[2021-04-20 09:29] BobXLiu opened #1911 "Should the alarm stop when reconnect the device to internet?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

After setting the alarm successfully, disconnect the network connection. Reconnect to the network after the alarm sounds. Whether the alarm should ring?

## What is the expected behavior?

## What behavi

[2021-04-21 09:17] #1911 closed

[2021-04-21 09:58] BobXLiu opened #1912 "[Self test ID:1002]How to detect the Alexa.SoftwareComponentReporter interface is implemented"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

 "AVS function self-check list [test case ID:1002]" requires the AVS APP to implement the [Alexa.Discovery](https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/functional-requirements.html#

[2021-04-21 14:31] pavlonadolynskyi opened #1913 "Alexa SDK crashes in libcurl"
## Briefly summarize your issue:
iOS app crashes in the background in the libcurl part.

## What is the expected behavior?
Not to crash in the background.

## What behavior are you observing?
App with Alexa SDK running sometimes crash when resources (like the internet connection) are limited by the system while the app is running in the background.
Crash reports samples that we get:
[code]

[code]

[2021-04-22 03:12] kjkh commented on #1909
Hi @tinypancake,

A few questions:

- Is this problem consistently reproducible?
-  Have you see this with any other stations?
- When the audio resumes, does it resume from the same point or is it skipping ahead?
- What version of GStreamer are you using?

[2021-04-22 06:34] Baskarthangavelu commented on #936
hi,

i have installed AVS-DSK on my raspberry pi 3 alexa is working fine but when i ask for play songs am getting music and radio playback not supported on this device  any ideas will be helpful

[2021-04-23 02:37] kjkh commented on #1912
Hi @BobXLiu,

The Alexa.SoftwareComponentReporter capability needs to be sent in guidance with the Alexa.Discovery rules specified here:

https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/alexa-discovery.html#addorupdatereport

For a standard app restart which does not meet any of the conditions listed above, and with which components and their versions that are reported through Al

[2021-04-23 15:36] Ken-Howe opened #1914 "iOS AVS Not recognising Smart Home Devices in account"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Not recognising Smart Home Devices in account, if I use the Alexa App or my Alexa device the smart home devices are recognised and the interaction works. I use LWA and the same account as my main Alexa ac

[2021-04-23 16:13] hadheemi opened #1915 "wake word problem"
I set up alexa on raspberry Pi 3 model B following those steps https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html that aazon provide , the tap to talk work but the wake word doesn't work. I've tried alot of methods and the amazon's method  was the one that worked for me but without wake word . would you please help me?

## Tell us about your environment:

### What versi

[2021-04-23 23:59] kjkh commented on #1915
Hi @hadheemi ,

Can you please provide DEBUG9 logs as well as your cmake command (if applicable) and SampleApp command (if applicable)?

[2021-04-24 00:02] kjkh commented on #1914
Hi @Ken-Howe,

Please attach DEBUG9 logs. Additionally, you clarify the version of the AVS SDK you're using? 3.0.0 is not an official release version, please see this list:

https://github.com/alexa/avs-device-sdk/releases

Also, to clarify, in what capacity are you using the AVS SDK? Have you created your own iOS app using the AVS SDK?

[2021-04-24 00:13] kjkh commented on #1913
Hi @pavlonadolynskyi,

Thank you for pointing this out. We are investigating the issue internally.

[2021-04-24 06:56] Ken-Howe commented on #1914
Apologies, posted in the wrong please... This is not an issue with the SDK as I'm getting responses. Its just that any request using Smart Home Devices does not work.

[2021-04-24 06:56] #1914 closed

[2021-04-24 09:59] manazibmahmooth001 commented on #1536
2021-04-24 09:50:39.135 [  d] 9 TaskThread:startThread:moniker=  d,duration=6033
#################################################
#       NOTIFICATION INDICATOR STATE: OFF       #
#################################################

2021-04-24 09:50:39.137 [  1] 5 DefaultClient:addBluetoothDeviceObserver::Bluetooth disabled
2021-04-24 09:50:39.152 [  1] 5 TemplateRuntime:addObserver
2021-04-24 09:5

[2021-04-26 07:57] BobXLiu commented on #1912
Hi @kjkh,
Thank you fro your reply.

[2021-04-26 07:57] #1912 closed

[2021-04-26 09:20] BobXLiu opened #1916 "[Self test ID:267]Can not get current JP account information"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

"AVS function self-check list [test case ID: 267]" requires the AVS APP to obtain account information. When I set the AVS APP language to JP and log in to my JP account, I cannot get the account informat

[2021-04-27 08:25] rajat8888 commented on #563
I am still facing the same issue after trying even everything mentioned here. Alexa is sound slow and drunk

[2021-04-27 14:12] arjun312 opened #1917 "no audio ouput and couldn't find "autoaudiosink" anymore at line 589"
Hi guys,

My alexa AVS was working fine (since 2019) until the latest update, after updating to the latest version I'm not able to get the audio output from alexa. I tried the troubleshoot mentioned here https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/troubleshooting.html#try-this-2

I tried this "gst-launch-1.0 -m audiotestsrc ! autoaudiosink" it didn't work out but,
gst-launch-1.0 -

[2021-04-28 12:50] alexismailov2 opened #1918 "Very short answer from alexa on "what news" after interrupting before alexa started answering on previous question "sport updates""
## Overview
The problem is in the floating bug in playing answer after asking "what news" right after alexa starts playing answer on previous command for example "sports update". So it looks like interrupting alexa will not work correct and looks like it can be data race or wrong internal state machine.

## What is the expected behavior?
Interrupting should not change usual alexa answers.

## What

[2021-04-28 12:58] #1917 closed

[2021-04-28 13:01] arjun312 commented on #1917
Problem solved.

I run alexa without sudo, then I get the audio but if I run with sudo, I don't know why it's not working...ufffff somehow it's working... 😊

[2021-04-28 17:42] #1514 closed

[2021-04-28 17:43] kclchan commented on #1746
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-04-28 17:43] #1746 closed

[2021-04-28 17:44] kclchan commented on #1703
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-04-28 17:44] #1703 closed

[2021-04-28 17:45] kclchan commented on #1894
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-04-28 17:45] #1894 closed

[2021-04-28 17:46] #1888 closed

[2021-04-28 17:46] kclchan commented on #1893
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-04-28 17:46] #1893 closed

[2021-04-29 11:04] alozach opened #1919 "Keyword detection delay using wake word engine"
When running the SampleApp, I have a delay of ~2sec between the end of the "Alexa" utterance and the actual detection of the keyword by the Sensory wake word engine.
The audio reading seems to be done correctly, ~8ms per call to `readFromStream`, and with the default value of `msToPushPerIteration` (10ms)

I have the exact same behavior after having integrated the Porcupine wake word engine.

The

[2021-04-29 22:17] kclchan commented on #1916
Hi @BobXLiu, would you be able to attach the DEBUG9 log?  Thanks!

[2021-04-30 00:23] BobXLiu commented on #1916
Hi @kclchan,

The log information as below. Thanks!

JP log:
[log_JP.txt](https://github.com/alexa/avs-device-sdk/files/6402324/log_JP.txt)

US log:
[log_US.txt](https://github.com/alexa/avs-device-sdk/files/6402328/log_US.txt)

[2021-04-30 08:37] mkb878 opened #1920 "Audio file input to AVS using AUDIO INJECTION parameter not working"
## Briefly summarize your issue:

I am trying to inject an audio file to the AVS after building the sample app with audio injection enabled (-DAUDIO_INJECTION=ON). I can reach the Audio Injection screen and input a .wav file generated according to the specifications for audio file input, but then there is no response from the AVS. The voice history for the device does not indicate that any input h

[2021-04-30 23:31] kclchan commented on #1919
Hi @alozach, 60% usage does seem very high when Alexa is idle.  Could you try disabling logging or use RELEASE build instead of DEBUG build to see if it makes a difference?

[2021-04-30 23:32] kclchan commented on #1916
Hi @BobXLiu, I will file an ticket internally to investigate this.  Thanks.

[2021-05-01 00:43] kclchan commented on #1918
Hi @alexismailov2, thanks for bringing this to our attention.  I've opened an internal ticket to look into this.  Thanks.

[2021-05-01 17:13] mlabate commented on #1889
So I can't play music on my compiled sdk despite I have an amazon music unlimited account. This is weird...

[2021-05-01 19:24] mlabate opened #1921 "Sound starts with delay"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I have the sdk up and running; when I make a wakeword request, for example "Alexa, what's the weather today?" or "Alexa open akinator", when the answer starts, both if Alexa is speaking and if the skill h

[2021-05-02 09:44] Haddybaba123 commented on #1316
I also have the same problem first I was stucked at 93% then after writing various commands and decresing the graphics memory it started but then got stucked on 95% please help waiting from a month and I have also written the same thing on the stackoverflow but no response please please and please help me out

[2021-05-02 09:45] Haddybaba123 commented on #1316
I think someone among you understands

[2021-05-02 09:45] Haddybaba123 commented on #1523
I also have the same problem first I was stucked at 93% then after writing various commands and decresing the graphics memory it started but then got stucked on 95% please help waiting from a month and I have also written the same thing on the stackoverflow but no response please please and please help me out

[2021-05-02 09:46] Haddybaba123 commented on #1030
I also have the same problem first I was stucked at 93% then after writing various commands and decresing the graphics memory it started but then got stucked on 95% please help waiting from a month and I have also written the same thing on the stackoverflow but no response please please and please help me out

[2021-05-02 09:49] Haddybaba123 commented on #617
I also have the same problem first I was stucked at 93% then after writing various commands and decresing the graphics memory it started but then got stucked on 95% please help waiting from a month and I have also written the same thing on the stackoverflow but no response please please and please help me out

I am following the instructions on https://developer.amazon.com/en-US/docs/alexa/avs-dev

[2021-05-02 14:26] ujjwalk450 commented on #1316
@Haddybaba123 So here is how I resolved it
1. Switched to CLI mode instead of GUI for better RAM usage
2. Decrease your GPU memory as low as possible
3. Leave it overnight, it will fail/autoclose a minimum of 5-6 times before getting completed, everytime it fails, restart your Pi

[2021-05-02 15:14] kurol1 opened #1922 "no microphone"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2021-05-03 09:30] alozach commented on #1919
Hi @kclchan, thank you for your help
I was wrong about the CPU usage. I have done other tests, and I have 35-40% usage when idle (and 2-3% more with a debug build).

We currently have a custom version inspired by the SampleApp, but performing the keyword detection directly in a DSP, which notifies our integration when "Alexa" has been said. We wanted to evaluate the impact of using a third-party w

[2021-05-03 09:53] tejSunnewar commented on #709
Hi,

Could you please help me how can I use AuthDelegateInterface  in my code. Any reference document.

[2021-05-03 19:10] Mechan0 opened #1924 "Kindle book UI pause then verbal play results in "Sorry, music and radio playback are not supported on this device""
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Doing the self tests for Kindle book playback, testing playback initiation via the official Amazon app on iOS to our device, then pausing on the official app UI correctly results in our device pausing pl

[2021-05-03 19:15] Mechan0 commented on #1924
[Kindle test error.txt](https://github.com/alexa/avs-device-sdk/files/6417103/Kindle.test.error.txt)
DEBUG9 logs

[2021-05-04 01:10] caleighatamazon commented on #1920
Hi there, thanks for reporting this. Can you answer a few more questions to help us debug?
1. If you press "q" to exit the app while it's hanging, what happens?
2. How did you build the Sample App? What cmake flags? Did you use our script?
3. Can you please attach full logs? (As an attachment, please don't copy and paste them here.)
4. Is it possible for you to also attach the wav file here, as we

[2021-05-04 01:12] caleighatamazon commented on #1922
Hello, there is not enough information here for us to help you with this issue. I'm going to close this. If you need help, though, please open a new issue and fill out the fields in our issue reporting template. Thanks!

[2021-05-04 01:12] #1922 closed

[2021-05-04 01:12] caleighatamazon commented on #1921
Hi there, can you please attach DEBUG9 logs where you reproduce this issue? Thanks!

[2021-05-04 09:28] mkb878 commented on #1920
Hi,
Thank you for the reply. In answer to your questions:

1. When I press q while the app is hanging, it exits the Audio Injection screen and returns to the Diagnostics options page.
2. I built the sample app for audio injection with the following cmake parameters:
`cmake $HOME/[folder name]/source/avs-device-sdk -DGSTREAMER_MEDIA_PLAYER=ON -DPORTAUDIO=OFF -DDIAGNOSTICS=ON -DAUDIO_INJECTION=ON -D

[2021-05-04 16:08] caleighatamazon commented on #1920
Hi @mkb878 , thanks for providing more detail. The issue here is that because you've built the SDK without wakeword enabled, you have to press "t" then inject audio in order for the SDK to actually process the audio. When wakeword is disabled, the SDK will only process audio if the user presses "t" or "h" first. Audio injection is a simple microphone replacement. Your PortAudio example worked beca

[2021-05-05 11:11] mkb878 commented on #1920
Hi
Thank you for this advice - I made some modifications to UserInputManager.cpp as suggested, and the audio injection is working now.

[2021-05-05 11:11] #1920 closed

[2021-05-09 12:58] yashh1326 opened #1925 "Troubleshooting Assistance Required : HttpPost:doPostFailed:reason=curl_easy_performFailed,result=60,error=SSL peer certificate or SSH remote key was not OK"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
After executing the commands in CLI, I'm facing issues in using the AVS SDK SAMPLE APP though it's configured correctly and executed, an error message is visible in CLI to perform core functionality (try/

[2021-05-10 17:18] rajat8888 commented on #1763
Same issue tried everything

[2021-05-11 15:59] mkb878 opened #1926 "Saving audio response from AVS to .mp3 files"
## Briefly summarize your issue:
I would like to be able to save audio responses from the AVS to .mp3 files (including both synthesised speech responses and other audio files that may contain speech). I am grateful for any advice on the best way to do this. I have looked at previous issues on this topic - such as https://github.com/alexa/avs-device-sdk/issues/14 , but have not been able to impleme

[2021-05-13 19:40] royka1 opened #1927 "That feature is only available on certified alexa builtin devices"
## Briefly summarize your issue:
I've followed the docs on Amazon to install Alexa on a Raspberry Pi, this worked good for about a year, since an hour ago it stopped working correctly. No matter what I say, it responds by saying with "feature is only available on certified alexa builtin devices"

## What is the expected behavior?
To answer the questions and execute the orders.

## What behavior ar

[2021-05-13 23:42] thardbarger commented on #1927
I’ve experienced the same issue starting today.

[2021-05-14 01:55] GitHubUser4234 commented on #1927
Yes, same here, the prototypes stopped working, even the simplest commands like "Can you hear me" or "Good morning" result in Alexa saying the feature was only available on certified Alexa builtin devices :fearful:

Please help, thanks!

[2021-05-14 02:04] caleighatamazon commented on #1927
We're taking a look. Thanks for reporting this!

[2021-05-14 08:56] royka1 commented on #1927
@caleighatamazon It's working again. But are there plans to stop the service for non certified devices?

[2021-05-14 13:20] thardbarger commented on #1927
It's working again for me also. Many thanks!

[2021-05-18 13:14] prachipsutane opened #1928 "getting error like : 'undefined reference to xyz'"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

i am buidling alexa using toolchain for aarch64 env.
while doing so i am getting error like below:
[ 74%] Built target TemplateRuntimeTest
Scanning dependencies of target MediaPlayerTest
[ 75%] Building

[2021-05-18 22:49] alexandrekm-amzn commented on #1928
hello @prachipsutane
Taking a look at the logs it looks like you are compiling with the comms option enabled (-DCOMMS=ON) but you are not providing the path to the comms library. Can you please check if you are passing that toggle as ON? Additionally please provide the cmake command used when generating the makefile.
Regards

[2021-05-18 23:17] alexandrekm-amzn commented on #1926
hi @mkb878
The SDK uses curl to communicate with servers.
HTTP2Stream.cpp in ACL has code that can emit verbose libcurl diagnostics.  These diagnostics are in the form of three files output per stream
    * Hex dump of all transfers annotated with libcurl debug messages
    * Raw data sent
    * Raw data received  (this is what you are interested in)

To enable this feature, the SDK must be re-bui

[2021-05-18 23:26] #1926 closed

[2021-05-19 07:11] prachipsutane commented on #1928
Hello Alexandre,
i have used these settings:
-DCOMMS=ON
-DCOMMS_LIB_PATH=$SRC_PATH/CapabilityAgents/CallManager/lib/libAlexaCommsLib.so
-DCOMMS_INCLUDE_DIR=$SRC_PATH/CapabilityAgents/CallManager/include/

new errors are generating.
/opt/fsl-imx-xwayland/5.4-zeus/sysroots/x86_64-pokysdk-linux/usr/libexec/aarch64-poky-linux/gcc/aarch64-poky-linux/9.2.0/real-ld: warning: libresample.so.2, needed by /

[2021-05-19 10:26] prachipsutane commented on #1928
cmake command is: =
cmake -g -DCMAKE_TOOLCHAIN_FILE=$BUILD_PATH/build/toolchain.cmake $SRC_PATH -DCMAKE_INSTALL_PREFIX=$INSTALL_PATH -DKWD=ON -DGSTREAMER_MEDIA_PLAYER=ON -DPORTAUDIO=ON -DPORTAUDIO_LIB_PATH=$LIB_PATH/libportaudio.so.2.0.0 -DPORTAUDIO_INCLUDE_DIR=$INCLUDE_PATH -DAMAZONLITE_KEY_WORD_DETECTOR=ON -DAMAZONLITE_KEY_WORD_DETECTOR_LIB_PATH=$LIB_PATH/libpryon_lite.a -DAMAZONLITE_KEY_WORD_DE

[2021-05-19 13:08] prachipsutane commented on #1928
Addition:
libAlexaCommsLib.so.3.2.15 and libresample.so are in same folder

[2021-05-20 00:00] valeri-atamaniouk commented on #1925
Hello @yashh1326

It is possible, that the test environment doesn’t have correctly installed root certificates. On MacOS with Brew, there are two versions of openssl: in /usr/bin and in /usr/local/opt/openssl@1.1/bin. You can try to execute the following commands to check if openssl library has correct certificates:

[code]
And
[code]

Expected output should contain a message:
[code]

If output co

[2021-05-22 15:35] wireless-road opened #1929 "capabilityNotEnable trying to enable Power controller on custom hardware"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

`SampleApp` compiled with `-DENABLE_ALL_ENDPOINT_CONTROLLERS=ON` needs for `libPowerController.so`, `libToggleController.so`, `libRangeController.so`, and `libModeController.so` but throws errors like:
[

[2021-05-22 22:44] PeterBorisenko commented on #744
@pablinho1023 Run `license.sh` with `sudo`

[2021-05-22 22:46] PeterBorisenko commented on #744
@visayamv How to switch to Kitt.AI?

[2021-05-23 10:28] PeterBorisenko commented on #744
I ran `license.sh` as it was suggested but there is no result: still no reaction on keyword.
Also I ran `test.sh` and got a result:
[code]
As expected.

[2021-05-24 01:20] JordanTaylo opened #1930 "Issue while building the sdk"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Building the SDK Always giving me this error
[code]

## What is the expected behavior?

build the sdk

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

fo

[2021-05-24 10:54] SivaNallamalli commented on #685
I am getting same issue though i enable http2 option with curl.  I am using yocto build with recipe for avs-device-sdk for linux board based on beaglebone.

I can see hhtp2 option for curl command. Also verified its working.

curl -I https://nghttp2.org/
HTTP/1.1 200 OK
Date: Mon, 24 May 2021 10:53:54 GMT
Content-Type: text/html
Last-Modified: Tue, 02 Feb 2021 11:41:51 GMT
Etag: "60193a7f-19d8"
Ac

[2021-05-24 15:41] SivaNallamalli opened #1931 "AlexaClientSdkInit:initializeFailed:reason=curlDoesNotSupportHTTP2"
## Briefly summarize your issue:
< SampleApp throwing an error curlDoesNotSupportHTTP2 though  i enabled curl with http2 support

curl -I https://nghttp2.org/
HTTP/1.1 200 OK
Date: Mon, 24 May 2021 15:22:13 GMT
Content-Type: text/html
Last-Modified: Tue, 02 Feb 2021 11:41:51 GMT
Etag: "60193a7f-19d8"
Accept-Ranges: bytes
Content-Length: 6616
X-Backend-Header-Rtt: 0.001771
Strict-Transport-Security

[2021-05-28 12:37] #1929 closed

[2021-05-31 17:42] TheBozzz34 opened #1932 "Stuck on Build"
Building the Amazon SDK from the Amazon Developer docs works up until
 `[ 90%] Building CXX object ApplicationUtilities/DefaultClient/src/CMakeFiles/DefaultClient.dir/DefaultClientComponent.cpp.o`
Where it immediately gets stuck and the entire pi has to be rebooted. I am fairly certain its not a thermal issue since it has an ICE Cooler from GeeekPi

## What is the expected behaviour?
Build should

[2021-06-01 11:49] VitaminPSG opened #1933 "AutoSDK engine crashes on start"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Unfortunately, I could not create an error in the original repository for [auto sdk](https://github.com/alexa/alexa-auto-sdk) and decided to describe my issue here.
version: Auto SDK v3.2
platform: Androi

[2021-06-01 21:39] kjkh commented on #1930
Hi @JordanTaylo,

Can you please confirm if androidConfig.txt contains valid JSON? Ie, there are no missing or invalid characters?

[2021-06-01 21:43] kjkh commented on #1928
HI @prachipsutane,

`/opt/fsl-imx-xwayland/5.4-zeus/sysroots/x86_64-pokysdk-linux/usr/libexec/aarch64-poky-linux/gcc/aarch64-poky-linux/9.2.0/real-ld: warning: libresample.so.2, needed by /avs-device-sdk-1.18//CapabilityAgents/CallManager/lib/libAlexaCommsLib.so, not found (try using -rpath or -rpath-link)`

This error from your logs indicates you are missing the `libresample` dependency. Please m

[2021-06-01 22:06] kjkh commented on #1931
Hi @SivaNallamalli,

A possibility here is that while you have compiled curl correctly, this version of curl is not being used when compiling the AVS SDK.

You can change this by explicitly specifying the location of the curl library and headers with the following cmake flags: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/cmake-parameters.html#curl_library

[2021-06-02 10:08] xlb767923274 opened #1934 "Playing amazon music intermittently and stuttering at Android platform"
[Playing amazon music intermittently and stuttering at Android platform.log](https://github.com/alexa/avs-device-sdk/files/6583822/Playing.amazon.music.intermittently.and.stuttering.at.Android.platform.log)
**IMPORTANT**:Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue

[2021-06-04 16:14] JordanTaylo commented on #1930
Hi @kjkh
that is my androidConfig.txt
[code]

[2021-06-04 17:45] garmin-holder commented on #1931
I wanted to check on what support the SDK currently has for Sidewalk network. I’ve been asked to verify that our 3rd party device will not get pulled into the Sidewalk. From what I can tell the SDK doesn’t add support for Sidewalk, but wanted to verify that.

________________________________

CONFIDENTIALITY NOTICE: This email and any attachments are for the sole use of the intended recipient(s) a

[2021-06-05 00:15] TheBozzz34 commented on #1932
No there are not any errors, it just simply freezes, i'll modify the setup.sh as soon as i can and report the results

[2021-06-07 01:18] xlb767923274 commented on #1934
artists, albums be  able to reproduce,   (setSource( ..url... ))

by add some  log I found that

1. There are multiple ts streams in a m3u8 url, which will go to the FFmpegDecoder::next() path
2. android::FFmpegUrlInputController::getCurrentFormatContext(), avformat_open_input() take 1000~8000ms often
3. FFmpegDecoder::initialize()，avformat_find_stream_info() + av_find_best_stream take 1000~3000ms

[2021-06-07 09:09] androrz opened #1935 "startsample.bat failed on windows 10"
## Briefly summarize your issue:

**I am not sure if it is a bug, or was I doing something wrong.
After I successfully built the avs-device-sdk, and try to run the sample app by double clicking the startsample.bat file located in C:/msys64/home/<user_name>, the sample app did't show the following auth message as expected:**

 ##################################
 #       NOT YET AUTHORIZED       #

[2021-06-09 00:52] #1910 closed

[2021-06-09 00:53] kclchan commented on #1915
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-06-09 00:53] #1915 closed

[2021-06-09 00:54] kclchan commented on #1909
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-06-09 00:54] #1909 closed

[2021-06-09 00:54] kclchan commented on #1921
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-06-09 00:54] #1921 closed

[2021-06-09 00:54] #1927 closed

[2021-06-09 00:59] kclchan commented on #1932
Hi @TheBozzz34, can you try increasing the swap memory size.  You can refer to #1856

[2021-06-09 11:52] mlabate opened #1936 "Sound starts with delay"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

*IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I have the sdk up and running; when I make

[2021-06-09 11:56] mlabate commented on #1936
Hello sorry for my delay. I'm reopening issue #1921
Please find in attachment the DEBUG) logs.
Thank you
[issue1921-debug9_log.txt](https://github.com/alexa/avs-device-sdk/files/6623521/issue1921-debug9_log.txt)

[2021-06-09 14:01] pavlonadolynskyi commented on #1913
@kjkh do you have any news?

[2021-06-09 14:01] pavlonadolynskyi commented on #1918
@kclchan do you have any news?

[2021-06-09 15:16] TheBozzz34 commented on #1932
Hello, sorry for the lat response, i tried both solutions, but to no avail,
it still gets stuck at
`[ 90%] Building CXX object
ApplicationUtilities/DefaultClient/src/CMakeFiles/DefaultClient.dir/DefaultClientComponent.cpp.o`

On Tue, Jun 8, 2021 at 6:59 PM Kenneth Chan ***@***.***>
wrote:

[2021-06-09 15:18] #1932 closed

[2021-06-09 15:29] David-cpu-ai opened #1937 "Alexa (Pc and raspberry pi) problems"
Hi, I got stuck while cloning and the official developer way didn't let me put in the code that amazon send me, I am using a raspberry pi 3b+, and also I want to know if some of you has made an Alexa app for mac os. Also, how can I put the Alexa app for pc in Spanish?

[2021-06-09 17:01] ereich1217 commented on #1937
I have built the Alexa app for the Mac.  Follow these directions:  https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/mac-os.html

To change the language settings of an Alexa device use the Alexa phone app.  The following link says it is for the echo, but it also works for devices created from the alexa-device-sdk https://www.amazon.in/gp/help/customer/display.html?nodeId=G96ABGB

[2021-06-10 17:17] Ssemakula-Jonathan commented on #1705
I have the same error, but that solution has not worked

[2021-06-10 19:35] Panp59 opened #1938 "SampleApp don't start"
## Briefly summarize your issue:
All seems to be allright but sampleApp crashes after asking authorization

## What behavior are you observing?
command launched :

result :
[code]

### Tell us what hardware you're using:
- [x] Raspberry Pi

Mic is ok, I can record and listen.
I can register the code on the url, but it changes at every time and the app don't start better...

[2021-06-11 11:07] flos06 commented on #1403
Any progress on this?

[2021-06-11 20:02] kclchan commented on #1935
Hi @androrz, could you attach the complete DEBUG9 for this issue?

[2021-06-11 20:06] kclchan commented on #1938
Hi @Panp59, which version of the Raspberry Pi are you using?  Please note that in [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi-script.html) the prerequisites is Raspberry Pi 3 or 4.

[2021-06-11 20:07] kclchan commented on #1937
Hi @David-cpu-ai, when you do git clone, did you use the --single-branch option?

[code]

[2021-06-11 22:28] kclchan commented on #1936
Hi @mlabate, unfortunately the log you provided doesn't contain sufficient information.  Could you run the cmake command with `-DCMAKE_BUILD_TYPE=DEBUG` option and do a make again?

[2021-06-11 22:33] kclchan commented on #1930
Hi @JordanTaylo, could you try commenting out or deleting this line [here](https://github.com/alexa/avs-device-sdk/blob/master/tools/Install/setup.sh#L290) in setup.sh file in your workspace?

[2021-06-11 22:34] kclchan commented on #1931
Hi @garmin-holder, the SDK doesn't add support for Sidewalk.

[2021-06-12 07:20] Panp59 commented on #1938
Hi,

Yes indeed that s a pi2  😔
No way to run it ?

[2021-06-12 07:25] ereich1217 commented on #1938
You can use other Raspberry Pis, but you can't use the Sensory Wake word engine.   You can use the Kitt.AI wake word engine without any issue.

[2021-06-12 07:42] Panp59 commented on #1938
OK that's great. How could I register the app ? Or at least to have some logs to debug ?

[2021-06-13 04:45] jbarnett12 opened #1939 "exit"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2021-06-13 04:46] #1939 closed

[2021-06-13 04:53] jbarnett12 opened #1940 "Alexa sample app will not run afetr recent update"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I have had Alexa working on my PI for several weeks but now it fails to start after a recent update to my system

## What is the expected behavior?

## What behavior are you observing?

Loaded: loaded (/l

[2021-06-14 20:31] don-boucher opened #1941 "Alexa cannot handle adding more than 2 numbers"
## Briefly summarize your issue:
Alexa has trouble with addition if you don't start with "what is" and there are more than 2 numbers.
If you say "Alexa, 2 plus 2 plus 2", she'll respond with
"You can ask me to check your own math skills, by saying tell me now if 1 plus 2 equals 3..."
"Ok, Here's Tell Me Now"

Occasionally she would respond with
"Sorry, I'm having trouble accessing your Tell Me Now

[2021-06-16 01:13] androrz commented on #1935
Hi @kclchan  these are the whole DEBUG9 messages printed on the terminal.

[2021-06-16 08:12] xlb767923274 opened #1942 "AndroidSLESMediaQueue::fillBuffer() may coredump"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

**AndroidSLESMediaQueue.cpp**

**thread1：**
              void AndroidSLESMediaQueue::fillAllBuffers(const PlaybackConfiguration& configuration) {
                  enqueueSilence(configuration);

[2021-06-16 14:14] buddywhitman commented on #1404
I have the latest SDK version but still faced the same issue.

[2021-06-17 14:02] mkb878 opened #1943 "modifying timeout for EXPECTING dialog state"
Hi,
I am running the AVS Device SDK on a Ubuntu virtual machine (20.4).  I would like to modify/increase the timeout for dialog state EXPECTING in multi-turn interactions via the AVS, so that the AVS will wait for user input for a longer period of time before it issues a reprompt to the user (i.e. transitions to SPEAKING), or exits to the IDLE dialog state.
Grateful for advice on whether this is p

[2021-06-18 13:56] don-boucher commented on #1941
Problem should resolve after disabling the "Tell me now" skill.

[2021-06-18 16:01] don-boucher commented on #1941
Confirmed this was the issue. Closing.

[2021-06-18 16:01] #1941 closed

[2021-06-18 17:28] womw commented on #1943
Hello @mkb878 thanks for posting.

The listening duration ends when avs sends a Stop Capture directive to the device. Unfortunately this is not something that can be configured from the device sdk

https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/speechrecognizer.html#stopcapture

[2021-06-18 17:29] womw commented on #1940
Hi @jbarnett12 thanks for posting.

Is it possible to post the full debug logs from your device?

[2021-06-18 17:34] womw commented on #1942
Hi thanks for posting @xlb767923274
We're currently investigating this bug

[2021-06-18 17:42] jbarnett12 commented on #1940
I hope this is correct:
021-06-18 17:41:22.273 [  1] I AlexaClientSdkInit:initialize:sdkversion=1.23.0
2021-06-18 17:41:22.276 [  1] 0 ConfigurationNode:initializeSuccess
2021-06-18 17:41:22.279 [  1] 5 SDKPrimitivesProvider:getInstance
2021-06-18 17:41:22.279 [  1] 5 SDKPrimitivesProvider:withTimerDelegateFactory
2021-06-18 17:41:22.280 [  1] 5 SDKPrimitivesProvider:isInitialized
2021-06-18 17:41

[2021-06-21 01:46] xlb767923274 commented on #1942
other question ：
1. At this file(AndroidSLESMediaQueue.cpp)， the ‘m_playedWords’ are not accurate;

  1.1. It has Enqueued a silense buffer ( size = 4? ) at first time,  this buffer's size hasn't count into the array(m_bufferSizes );
         but at callback function by this silense buffer, m_playedWords add a size by 'm_decoder->read()'

  1.2. Is it possible to get the offset through GetPosition

[2021-06-21 18:18] mlabate commented on #1936
Hello, please find it in attach.
TY
[issue1921-debug9_log_v2.txt](https://github.com/alexa/avs-device-sdk/files/6688685/issue1921-debug9_log_v2.txt)

[2021-06-28 22:41] brett-lynnes commented on #1662
here are the DEBUG9 logs, although i don't know if you are going to get more information than just actually reproducing this bug with an android phone.

[I](main-thread) 15:36:07.1772 Creating Alexa Service
[I](main-thread) 15:36:07.1858 2021-06-28 22:36:07.185 [  1] 5 CustomerDataManager:createCustomerDataManagerInteface
[I](main-thread) 15:36:07.1862 2021-06-28 22:36:07.186 [  1] 5 AVSGatewayMan

[2021-06-28 22:47] brett-lynnes commented on #1662
This is still an issue on v1.24 of the SDK and an unmodified BlueZ implementation stack on Ubuntu using PortAudio. Basically, if you connect an android phone it takes the ability to process the profile "00001108-0000-1000-8000-00805f9b34fb" to mean that the phone is connected to a device for Call Audio. This causes the microphone input to get attached to the phone (which is not actually streaming

[2021-06-28 22:51] brett-lynnes commented on #1662
![Screenshot_20210628-153122_Settings](https://user-images.githubusercontent.com/36085547/123713152-a5fc5100-d828-11eb-93aa-26ccdb4aa676.jpg)

[2021-07-02 07:26] Shawn314 opened #1944 "[Problem] How to add local VAD in sdk"
I want to add local vad at sdk, how to add vad properly? Do you have a supportive plan?

[2021-07-02 09:41] Marius5000 commented on #1933
Hi @VitaminPSG
Did you solve this issue? I run into the exact same problem.

[2021-07-05 02:30] xlb767923274 opened #1945 "what caused CLIENT_ERROR_BAD_REQUEST at sending audio?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

After wakeword, when sending audio, CLIENT_ERROR_BAD_REQUEST was returned, and then AIP switched from RECOGNIZING to IDLE directly, and stop capture audio, what caused CLIENT_ERROR_BAD_REQUEST?

## What

[2021-07-12 20:58] kjkh commented on #1944
Hi @Shawn314,

Can you please provide more information? Can you confirm that when you say VAD, you mean "Voice Activity Detection"? If so, can you clarify what you mean by "local" VAD?

Currently, wake word detection is done locally on the device, see Sensory as an example. There can be additional cloud validation that can be enabled as well: https://developer.amazon.com/en-US/docs/alexa/alexa-voi

[2021-07-13 04:53] Shawn314 commented on #1944
Sorry, I didn't describe it clearly before. Yes，"local VAD" I mentioned is "Voice Activity Detection" at avs sdk。

[BACKGROUND]: We want to realize vad at sdk, so it can be reduce latency and pcm data that upload avs server. Currently, I have known STOP_CAPTURE directive send from avs.

[WANT TO DO]: To end speech more faster and freely change the nn model at sdk vad, we can active stop capture at

[2021-07-13 05:03] aneesu401 opened #1946 "AVS android app does not detect alexa custom skill. avs app commands not added in alexa history."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

AVS android app does not detect alexa custom skill. avs app commands not added in alexa history.

## What is the expected behavior?

AVS android app should detect alexa custom skills. avs app commands sh

[2021-07-15 10:01] xlb767923274 opened #1947 "Failed to cancel Alarm -- certification case [Alarm-cancel]"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

can't cancel alarm

## What is the expected behavior?

alarm can be canceled

## What behavior are you observing?

alexa said that "Your alarm is not set."

## Provide the steps to reproduce the issue, i

[2021-07-18 08:37] BranchEnterprise opened #1948 "Accidentally Posted here"

[2021-07-19 17:40] #1948 closed

[2021-07-20 00:10] moose-rivieh opened #1949 "yocto build support"
There was no documentation on how to include this library in a yocto build? Is this not possible?

### Tell us what hardware you're using:
- [ ] Desktop / Laptop
- [ ] Raspberry Pi
- [x] Other - tell us more: NXP using yocto generated Linux image.

### Tell us about your OS (Type & version):
- [x] Linux
- [ ] MacOS
- [ ] Raspbian Stretch
- [ ] Raspbian Jessy
- [ ] Other - tell us more:

[2021-07-20 00:14] kjkh commented on #1945
Hi,

Apologies for the delayed response. Can you comment on if this has always happened or if this is a sudden development? If this is still reproducible, can you please attach fresh DEBUG9 logs? I was unable to find cloud side logs for your request, which may be due to them expiring.

[2021-07-20 00:34] kjkh commented on #1946
Hi,

This forum is only for issues related to the avs-device-sdk. It appears that you are using a reference implementation form another repository, which we do not have the knowledge to support.

Please take a look through this document for a list of commonly asked questions.
https://developer.amazon.com/en-US/docs/alexa/custom-skills/skills-beta-testing-for-alexa-skills.html

In particular, pleas

[2021-07-20 00:34] #1946 closed

[2021-07-20 00:37] kjkh commented on #1947
Hi @xlb767923274,

The problem here is due to the nuance between Alarms and Timers. When you said set an alarm for one minute, Alexa created a Timer for you (Timers are duration based, Alarms are timestamp based).

I just tested this, and saying "Alexa, cancel the timer" successful stops it. If these are the exact wording on the certification test that is expected, please reach out to the certific

[2021-07-20 01:07] xlb767923274 commented on #1945
thanks for replay， here is the newest DEBUG9 log  ：

 C:\Users\Administrator\Downloads\TTS无回复14：26分\speaker_20210719-102900.log (6 hits)
	Line 30479: 07-19 11:40:26.333 D/AlexaSampleApp( 3268): [ 3e] 0 AudioInputProcessor:onSendCompleted:status=CLIENT_ERROR_BAD_REQUEST
	Line 30480: 07-19 11:40:26.333 D/AlexaSampleApp( 3268): [ 3e] 0 AudioInputProcessor:resetState:dueToStatus=CLIENT_ERROR_BAD_REQUE

[2021-07-20 01:11] xlb767923274 commented on #1934
I has increase the size of MediaQueue（AndroidSLESMediaQueue.h::NUMBER_OF_BUFFERS） to 20, Alleviated the stuttering problem

[2021-07-20 01:13] xlb767923274 commented on #1947
thanks for reply， we will check the case with certification team.

[2021-07-21 11:10] rom-vdb opened #1950 "AVS do not support multiple logout/login"
## Briefly summarize your issue:
AVS do not support well multiple logout/login, threads are leaking and oom crash occurs

## What is the expected behavior?
multiple logout/login support without leaks

## What behavior are you observing?
Some threads are leaking, RSS memory is increasing (more than 2Mbytes per logout/login)

## Provide the steps to reproduce the issue, if applicable:
using avs in s

[2021-07-21 23:18] kclchan commented on #1949
@moose-rivieh, we currently do not have plans to support yocto.  Thanks for your interest in the project.

[2021-07-21 23:18] #1949 closed

[2021-07-23 13:23] valioiv opened #1951 "Cannot play audio on a non-default audio device"
### My version of the AVS Device SDK
`Version 1.24.0 alexa-client-sdk`

### My hardware
- [x] Desktop / Laptop

### My OS
- [x] Linux Ubuntu 18.04 LTS

## Summary
I'm forced to play audio on device which is different than the default one. I managed to capture audio from a non-default device by changing the device index which Alexa is listening to, but cannot find the place in code where the playba

[2021-07-23 13:33] krustache commented on #1930
Hi, I have the same error and we did comment that line. Once we did, the process continued but since that line copy the content of the temp config file to the output config file, the output file on my device was empty.

I logged what $GSTREAMER_CONFIG was and copied it manually into the temp file and I copied it on my device but this didn't help at all since once the StartSample ran, all we had wa

[2021-07-27 12:35] pavlonadolynskyi commented on #1913
@kjkh Hi, could you pls update me on progress?

[2021-07-27 12:36] pavlonadolynskyi commented on #1918
@kclchan Hi, could you pls update me on progress?

[2021-07-29 02:15] #1934 closed

[2021-08-04 17:59] alexandrekm-amzn commented on #1951
hello @valioiv
Thanks for reaching out. By default the SDK chooses the default audio device, to specify a different one use one of two methods:
1. https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/alexa-client-sdk-config-json.html (search for audioSink)
2. https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/troubleshooting.html#issue-the-sdk-doesnt-output-audio

[2021-08-04 23:25] MuQ-dev commented on #1889
Hey,

I had the same problem, but I think I have found the solution. If you go to developer.amazon.com, go to your products and click on yours, you have a tab named "Test Tools" on the right of your "Product Detail" Tab. There you can click on "Provision Account", it'll take 10 minutes, and then you can apparently do validation tests on your device. Im doing these right now, not 100% sure if it'll

[2021-08-05 21:01] MuQ-dev opened #1952 "Audio playback not supported on this device"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I installed avs on my raspberry pi 4, and when I try to play music, I get this: "Audio playback not supported on this device"
I have looked at the Music Service Validation, but I am pretty lost here.
##

[2021-08-06 14:03] sudharsantel opened #1953 "Audio feedback is not available for alexa actions/responses involving overlay display."
## Briefly summarize your issue:
When we invoke any action/command using alexa that involves overlay display, audio feedback is not available. For example, when we invoke alexa and say "what is the weather in newyork". It display's an overlay with climate information with out any audio feedback.

## What is the expected behavior?
Audio feedback should be available along with overlay display.

## W

[2021-08-06 14:49] sudharsantel commented on #1953
[alexa-weather-debug.txt](https://github.com/alexa/avs-device-sdk/files/6946236/alexa-weather-debug.txt)

[2021-08-08 13:53] saikreddy commented on #1145
@Vaishnavikumara I am getting the same error in MAC: PortAudioMicrophoneWrapper:Failed to open PortAudio default stream:errorCode=-9986. Please tell me how your issue got resolved.

[2021-08-09 07:22] Anandkrizz opened #1954 "Failed to create sample app"
sudo env PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json /home/pi/sdk-folder/third-party/alexa-rpi/models DEBUG9
configFile ./Integration/AlexaClientSDKConfig.json
Running app with log level: DEBUG9
2021-08-09 07:15:41.707 [  1] W Logger:debugLogLevelSpecifiedWhenDebugLogsCompiledOut:level=DEBUG9:

WARNING: By default DEBUG logs are compiled out of RELEASE builds

[2021-08-09 17:34] valeri-atamaniouk commented on #1834
@smirkhani Hello, does the issue still exist? Can you try with the latest SDK release?

[2021-08-09 23:47] thankarezos opened #1955 "spotify non-comercial"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I am wondering if there is a way to get spotify to work with alexa sdk, I contacted alexa developer support but they said its not possible because of licencing. With everything I found out I think is pos

[2021-08-10 08:03] Anandkrizz opened #1956 "Illegal instruction error while intializing sample app"
## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device SDK are you using?
      <>

### Tell us what hardware you're using:
- [ ] Desktop / Laptop
- [o] Raspberry Pi
- [ ] Other - tell us more:

### Tell us about your

[2021-08-10 08:17] longcp opened #1957 ""Wikipedia something" Only has voice reply, no UI display"
## Briefly summarize your issue:
Said "hello" to alexa, would get voice reply and UI display.
But said "Wikipedia something", would only get voice reply.

We are conducting UX testing. Tester told us that wikipedia skill has no UI display on our Android device.

We did some debugging on this and found that when saying "hello", will  receive the "RenderTemplate" message from avs, see the log:
" : M

[2021-08-10 11:09] #1947 closed

[2021-08-10 12:30] Renthner opened #1958 "Failed to create SampleApplication!"
## Briefly summarize your issue:
I followed this tutorial for my Alexa on my RasPi 4: https://developer.amazon.com/de-DE/docs/alexa/avs-device-sdk/raspberry-pi.html
I just don't have a mic to record. So I will just use it as a Music-Player.

## What is the expected behavior?
It should give me this lines:
[code]

## What behavior are you observing?
When I input the command it gives back "Failed to

[2021-08-10 20:40] ereich1217 commented on #1956
What type of Raspberry Pi are you using?
Do you have the Sensory wake word enabled?

[2021-08-11 08:26] Anandkrizz commented on #1956
Im using **Raspberry pi version B+ rev 1.2** and it shows alexa service active and running i tried recording audio with mic and played it back its working fine ( on a different method https://nematicslab.com/amazon-alexa-on-raspberry-pi/ shown in this website and it was fast and easy ,no errors ( after the reboot it says hello and its not responding tried many times calling alex, idont know whats

[2021-08-11 11:29] Anandkrizz commented on #1956
@ereich1217
● **AlexaPi.service** - Alexa client for all your devices
   Loaded: loaded (/usr/lib/systemd/system/AlexaPi.service; enabled; vendor preset: enabled)
   Active: **active (running)** since Wed 2021-08-11 16:44:23 IST; 12min ago
     Docs: https://github.com/alexa-pi/AlexaPi/wiki
 Main PID: 367 (python3)
   CGroup: /system.slice/AlexaPi.service
           └─367 /usr/bin/python3 /opt/Ale

[2021-08-11 23:49] ereich1217 commented on #1956
https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html

Required hardware
Raspberry Pi – Use a Raspberry Pi 3 or 4.

The easiest way to resolve this is to get a Pi 3 or 4.

[2021-08-12 04:58] Anandkrizz commented on #1956
But some of the guys installed it on older pi's  , is there any way?
to fix?

[2021-08-12 15:02] don-boucher opened #1959 "Failed to create SampleApplication"
I'm getting a `Failed to create SampleApplication!` error after running SampleApp.
Logging is turned on using `-DCMAKE_BUILD_TYPE=DEBUG` and `DEBUG9` is used when calling. I'm not getting any additional log info though. The logging should be going to the console, not to a file, right?

I've done this process many times and this is the first time in a while that I haven't been able to run the sdk.

[2021-08-12 15:19] don-boucher commented on #1959
So I guess I wouldn't be getting any errors since that would depend on the creation of sampleApplication.

https://github.com/alexa/avs-device-sdk/blob/e40477e9f512a9e22cdaac35956488cc8e115011/SampleApp/src/main.cpp#L127-L142

[2021-08-12 15:42] don-boucher commented on #1959
I added some print statements.

[code]

[code]

Input definitely seems to be a problem.

[2021-08-12 15:48] don-boucher commented on #1959
This looks a little better.

[code]

[2021-08-12 15:59] don-boucher commented on #1959
My curl configuration also confirms that HTTP2 is disabled despite using `--with-nghttp2`. I'm going to try using [curl-7.78.0](https://github.com/curl/curl/releases/tag/curl-7_78_0).

[code]

[2021-08-12 16:20] don-boucher commented on #1959
I'm getting the same thing for curl-7.78.0. Is this just because curl doesn't implement http2, but uses a library instead?

[code]

[2021-08-12 19:29] don-boucher commented on #1959
I installed `nghttp2` and `libnghttp2-dev`. Curl has HTTP2 now.

[code]

[2021-08-12 20:37] don-boucher commented on #1959
After rebuilding with `nghttp2` installed:

<details>
<summary>

[code]

</summary>

[code]

</details>

[2021-08-12 21:04] don-boucher commented on #1959
For some reason, it seems to work fine if I leave out the debug statements and roll back to 1.23.

[2021-08-13 01:11] kclchan commented on #1959
Hi @don-boucher,

According to the logs, it seems to be failing due to:
[code]
If you look at the guide [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html), the path to the model files are set in the 2nd parameter when starting SampleApp.  Please check if it is set properly.

[2021-08-13 13:46] don-boucher commented on #1959
Thanks @kclchan

This was during authorization. Amazon's guide suggests that the path to the model files are not needed when authorizing.

Authorizing:
[code]

Relaunch:
[code]

I suppose that I probably already ran authorization (which failed) and then tried to run the same thing again, but for some reason, it was expecting the models path to be there at that point.

[2021-08-13 14:37] don-boucher commented on #1959
Everything is working for me as of yesterday evening https://github.com/alexa/avs-device-sdk/issues/1959#issuecomment-897966869.

If I get time, I will double check the full installation process without explicitly installing nghttp2. I think that that could still be an issue with the install process.

[2021-08-13 15:55] #1959 closed

[2021-08-14 00:49] Renthner commented on #1958
Sadly I still have the problem.
The Thread of @don-boucher didn't help me...
Has anyone an idea how to fix it?

[2021-08-14 05:26] ereich1217 commented on #1956
You can as long as you don't use sensory.  If you use kitt.ai then it will
work.

Le mer. 11 août 2021 21 h 58, Anandkrizz ***@***.***> a
écrit :

[2021-08-14 06:28] Anandkrizz commented on #1956
How can I install it using kitt.ai ? Is there any tutorials or something?

[2021-08-16 12:41] sudharsantel commented on #1953
[alexa-weather-debug-log.txt](https://github.com/alexa/avs-device-sdk/files/6992371/alexa-weather-debug-log.txt)

Latest log file uploaded.

[2021-08-17 06:56] SnEhERANDE opened #1960 "Failed to install avs-device-sdk make: *** [Makefile:3663: SampleApp] Error 2"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Hi I am following this tutorial - https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/windows-64.html
I am stuck at https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/windows-64.html#s

[2021-08-17 07:53] albanoandrea opened #1961 "Token handling with companion app example"
## Briefly summarize your issue:
We have an AVS implementation that will work with a companion App for authorization process.
We have done both app LWA implementation and Bluetooth communication.

What is not clear now is how to modifiy AVS client side to make it work correctly and not to break anything.

We have understood the explanation [here](https://developer.amazon.com/it-IT/docs/alexa/alexa

[2021-08-17 19:57] jbgoog opened #1962 "Expect Speech Initiator Always Cleared after Stream Closed"
## Briefly summarize your issue:
 - The initiator string is cleared whenever the stream closes after sending voice data to AVS
 - This results in strange multi-turn interactions where Alexa does not always understand the context

## What is the expected behavior?
 - Initiator is sent with Alexa `SpeechRecognizer:Recognize` event.

## What behavior are you observing?
When asking Alexa a mutliturn q

[2021-08-18 00:23] brett-lynnes opened #1963 "GStreamerMediaPlayer users linear volume instead of cubic"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2021-08-18 00:33] brett-lynnes commented on #1963
found this which does a better job of explaining the problem:
https://www.dr-lex.be/info-stuff/volumecontrols.html

[2021-08-20 03:19] DuyV20 commented on #1954
Try this: sudo apt-get -y install build-essential nghttp2 libnghttp2-dev libssl-dev
https://askubuntu.com/questions/884899/how-do-i-install-curl-with-http2-support

[2021-08-21 10:48] arjun312 commented on #1512
@Yeremiy  hey man, Thanks for the [guide](https://github.com/alexa/avs-device-sdk/issues/1512#issuecomment-629572755), this really helped me, can you please guide me on how to mute and unmute in the same way you call alexa wake function.

[2021-08-21 11:12] arjun312 opened #1964 "Functions to call for Alexa actions"
## Summary:
I'm able to call Alexa wake function using a push button which is connected to my RPI GPIO referred from [here ](https://github.com/alexa/avs-device-sdk/issues/1512#issuecomment-536181448)

Now I want to mute or unmute Alexa using a push button, so kindly let me know which function to be used and if possible, please share me a list of functions call for the following:

- Microphone tog

[2021-08-21 11:47] arjun312 commented on #1964
Got it guys, referred InteractionManager and got it working, so closing the issue.

[2021-08-21 11:47] #1964 closed

[2021-08-24 21:55] kjkh commented on #1950
Hi,

Can you clarify if you are using the SampleApp from the AVS SDK, the SampleApp from the Smart Screen SDK or your own application?

Are you tearing down DefaultClient completely between restarts?

[2021-08-24 22:00] kjkh commented on #1952
Hi,

Unfortunately music playback is only supported on certified devices. If you have an Alexa Business Representative, you can reach out to them for further questions.

[2021-08-24 22:28] kjkh commented on #1953
Hi,

I do not see a Speak directive coming down from the cloud. Has this recently stopped working, or has this never worked? Do you receive audio from the cloud for other utterances such as "Alexa, Tell me a Joke?"

[2021-08-24 23:17] kjkh commented on #1957
Hi,

Can you clarify if this is something that is happening intermittently? Or does the Wikipedia utterance consistently fail?

[2021-08-24 23:37] kjkh commented on #1961
Hi,

In order to use your own authorization mechanism, you can directly implement [AuthDelegateInterface](https://github.com/alexa/avs-device-sdk/blob/master/AVSCommon/SDKInterfaces/include/AVSCommon/SDKInterfaces/AuthDelegateInterface.h) if using SDK versions older than 1.25.0. For 1.25.0+, there is a new interface, [AuthorizationAdapterInterface](https://github.com/alexa/avs-device-sdk/blob/mast

[2021-08-24 23:43] kjkh commented on #1954
Hi,

For instructions on building from source, please refer to:

https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#step-2-set-up-your-raspberry-pi-environment.

In particular, there are steps on how to install curl:
[code]
Closing this ticket. If there are further questions, feel free to open a new ticket.

[2021-08-24 23:43] #1954 closed

[2021-08-24 23:50] kjkh commented on #1956
Hi,

It looks like you are using the AlexaPi project, which is not affiliated with the avs-device-sdk project. Unfortunately, we cannot provide further support on that.

If you wish to try setting up your Pi using the avs-device-sdk, please refer to these guides:

https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html
https://developer.amazon.com/en-US/docs/alexa/avs-device

[2021-08-24 23:50] #1956 closed

[2021-08-24 23:53] kjkh commented on #1958
Hi,

Can you please ensure you have built in DEBUG mode and attach DEBUG9 logs?

[2021-08-25 08:57] rom-vdb commented on #1950
Hello Keith,

In the steps to reproduce I wrote
_using avs in smart screen patching the version to call resetDevice when pressing navigation button
or in our smart screen set top box integration_

So to be more precise, I use **smartscreen vanilla ubuntu sample app** + a little patch to call the resetDevice function when pressing navigation button
(I have also the same leak issue using our smartsc

[2021-08-26 08:19] xlb767923274 opened #1965 "ContextManager: STATE_PROVIDER_TIMEDOUT"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Repeatedly play music and joke, after a period of time, STATE_PROVIDER_TIMEDOUT error appears，and alexa can wake up no longer。

## What is the expected behavior?

STATE_PROVIDER_TIMEDOUT does not appear,

[2021-08-28 02:33] longcp commented on #1957
accidentally closed the issue, can reopen it?

[2021-08-28 13:21] hatosan0112 opened #1966 "Wake Word settings cannot be changed using CMake"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I want to start SampleApp by wake word.
But I don't know the path of the library and include

## What is the expected behavior?

By calling 「Alexa」, the Sample App works.

## What behavior are you observ

[2021-08-29 19:00] ldritsas commented on #1901
I'd like to bump this back up as I am still having the same problem., Alexa is stubborn and will only output audio via the HDMI and no amount of tinkering on my part helps.

[2021-08-30 16:43] kjkh commented on #1960
Hi,

What the error indicates is that the linker `lld` is not being found. Please ensure that you have followed the instructions in the previous steps, particularly Step 2.

You can try manually installing `lld`: `pacman -S mingw-w64-x86_64-lld`

Also note, the official supported version is Windows 10. If upgrading to that is possible, I suggest doing so as there may be other unexpected errors oth

[2021-08-30 16:51] kjkh commented on #1966
Hi,

The explanation for the variables can be found here:
https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/cmake-parameters.html#wake-word.

Wakeword is only supported on Raspberry Pi at the moment due the availability of the wakeword binaries. Please follow this guide to set it up:
https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi-script.html

[2021-08-30 21:49] CyberSinh opened #1967 "Hot to use Alexa Cast"
I installed AVS on my Raspberry Pi 3 to cast audio from my Amazon Music app, but the Pi doesn't appear as available device for audio casting in the app.

What can I do ?

## What is the expected behavior?
The Pi should appear as available for audio casting in the Amazon Music app, like any other Alexa-enabled devices.

## What behavior are you observing?
The Alexa-enabled Pi doesn't appear ready t

[2021-08-30 22:43] kjkh commented on #1961
Thank you for your suggestion. I have created a feature request for supporting authorization via the CompanionApp.

I have some comments that can hopefully help with your custom token implementation.

The CBLAuthDelegate implementation is specifically designed to only use the CBL method. Unfortunately, it was not intended to support other methods. Instead of modifying CBLAuthDelegate, directly imp

[2021-08-31 00:30] kjkh commented on #1967
Hi,

Can you explain which version of the SDK you are using? Also, please provide any DEBUG9 logs so that we can better assist you.

[2021-08-31 00:48] #1931 closed

[2021-08-31 00:48] kclchan commented on #1937
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-08-31 00:48] #1937 closed

[2021-08-31 00:51] kclchan commented on #1940
@jbarnett12, could you try deleting the databases and try running the SampleApp again?

[2021-08-31 00:52] kclchan commented on #1943
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-08-31 00:52] #1943 closed

[2021-08-31 00:55] kclchan commented on #1944
Hi @Shawn314, could you try if calling `DefaultClient::notifyOfTapToTalkEnd()` when your local VAD detects end of utterance would server your purpose.

[2021-08-31 00:58] kclchan commented on #1951
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-08-31 00:58] #1951 closed

[2021-08-31 01:02] hatosan0112 commented on #1966
Thank you for your reply.

The inside of the avs-device-sdk/KWD folder has the following structure.
.
├── CMakeLists.txt
├── include
│   └── KWD
│       └── AbstractKeywordDetector.h
├── inputs
│   ├── alexa_joke.wav
│   ├── alexa_stop_alexa_joke.wav
│   ├── four_alexa.wav
│   └── stop_stop.wav
├── KittAi
│   ├── CMakeLists.txt
│   ├── include
│   │   └── KittAi
│   │       ├── KittAiKeyWordDetect

[2021-08-31 02:00] jbarnett12 commented on #1940
Sorry to be so ignorant but how do I delete the databases?

[2021-08-31 02:22] wkc2021 opened #1968 "startsample.bat fail"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I can build the sampleapp but cannot get auth message.

## What is the expected behavior?

expect the following message:
 ##################################
 #       NOT YET AUTHORIZED       #
 #########

[2021-08-31 06:01] CyberSinh commented on #1967
I follow the tutorial available here: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi-script.html
The SDK used by the script should be the latest.

The DEBUG9 log is attached:
[DEBUG9.txt](https://github.com/alexa/avs-device-sdk/files/7081590/DEBUG9.txt)

Thanks!

[2021-08-31 09:34] Renthner commented on #1958
Hi @kjkh,

I don't know if I built in DEBUG mode... Where can I see if I was building in DEBUG mode?

Greetings

[2021-08-31 18:31] kjkh commented on #1966
The expected params are from the Sensory Github repositories, not from the AVS SDK:

From https://github.com/alexa/avs-device-sdk/blob/master/tools/Install/pi.sh:
[code]

[2021-08-31 18:51] kjkh commented on #1950
Unfortunately that is outside the scope this forum. I suggest posting this issue to https://github.com/alexa/alexa-smart-screen-sdk.

However, if you can determine that DefaultClient has been shutdown, yet there is still a memory leak, then please reach back to us.

Regarding the MediaPlayers, can you also ensure that those objects are not being kept alive even after they've been passed into Defau

[2021-08-31 21:34] kclchan commented on #1935
@androrz, could you try running the commands in the .bat file directly, instead of running the .bat file?

[2021-08-31 21:34] kclchan commented on #1968
@wkc2021, could you try running the commands in the .bat file directly, instead of running the .bat file?

[2021-08-31 21:41] kclchan commented on #1962
Hi @jbgoog, I wasn't able to reproduce the issue with v1.20.1 version of the SampleApp.  Could you attach the full device log so we can see why this is happening in your case?

[2021-09-01 00:30] wkc2021 commented on #1968
@kclchan, here is the log:

C:\msys64\home\User\avs_sdk>set path=C:/msys64/mingw64/bin;%path%;

C:\msys64\home\User\avs_sdk>cd C:/msys64/home/User/avs_sdk/build/bin

C:\msys64\home\User\avs_sdk\build\bin>SampleApp.exe C:/msys64/home/User/avs_sdk/build/Integration/AlexaClientSDKConfig.json DEBUG9
configFile C:/msys64/home/User/avs_sdk/build/Integration/AlexaClientSDKConfig.json
Running app with log

[2021-09-01 02:02] xlb767923274 commented on #1965
I know the problem，there is a deadlock..

In AndroidSLESMediaPlayer::configureNewRequest()

std::lock_guard<std::mutex> requestLock{m_requestMutex};
{
     // Use global lock to stop player and set new source id.
     std::lock_guard<std::mutex> lock{m_operationMutex};
     if (m_hasShutdown) {
         ACSDK_ERROR(LX("configureNewRequestFailed").d("name", RequiresShutdown::name()).d("reason", "pl

[2021-09-01 13:32] PaintThis opened #1969 "StartSample.bat fails on Windows"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
StartSample.bat fails to start the sample app, it falls over before authorization step

## What is the expected behavior?
Expect to get to authorization step

## What behavior are you observing?
I get a s

[2021-09-01 16:05] PaintThis commented on #1960
I have also encountered this linker error, I will try the work around.

[2021-09-01 18:05] CyberSinh commented on #1967
Any idea?

[2021-09-02 00:34] kclchan commented on #1834
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-09-02 00:34] #1834 closed

[2021-09-02 00:41] kclchan commented on #1928
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2021-09-02 00:41] #1928 closed

[2021-09-02 09:34] PaintThis commented on #1969
This was caused by earlier build problems I had with building the sample app, I will add them as a seperate ticket.

[2021-09-02 09:34] #1969 closed

[2021-09-02 20:00] kclchan commented on #1965
@xlb767923274, thanks for the findings.  I have created an internal ticket to investigate this.

[2021-09-03 21:03] jbarnett12 commented on #1940
Thanks everyone for your help on this I have deleted the database and I am re-running the sample scrip but it seem that the script is take a long time and I hope it is not in an endless loop. I did put the security code in but it seems to be running for a long time 18+ hours - is that normal?

[2021-09-06 09:02] rom-vdb commented on #1950
hello @kjkh
I am a little bit lost, since @sngoc-amazon answered me to open an issue here in a comment of https://github.com/alexa/alexa-smart-screen-sdk/issues/97
Ok, I will try to understand how DefaultClient is initialized (and maybe not closed ?) in the vanilla smartscreen sampleapp context, but as far as I understand, it concerns a vanilla sample app, I was thinking you were interested

[2021-09-08 07:51] kaygeeyem16 opened #1970 "Steep 13 of test the alexa smart screen device SDK sample app failing"
hi Team,

In Raspberry Pi 4, I am following the below link but stuck at step13, which is test the alexa smart screen device SDK sample.
https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/raspberry-pi.html

PA_ALSA_PLUGHW=1 ./modules/Alexa/SampleApp/src/SampleApp -C \
 $HOME/sdk_folder/sdk-build/Integration/AlexaClientSDKConfig.json -C \
 $HOME/sdk_folder/alexa-smart-screen-sdk/mo

[2021-09-09 06:28] SnEhERANDE commented on #1960
Hello @kjkh thanks for the answer.
the build error got solved by the lld command.
but new error is coming when running the startsample.bat and this new error is also coming to another device with windows 10.

![sample_app error](https://user-images.githubusercontent.com/62797634/132634293-a72dac30-b9f8-41f5-8bc2-39e3ddddf8a6.JPG)
 should I create a new issue for this and close this or should I kee

[2021-09-09 12:35] Lmau3 opened #1971 "Reminders beyond 24 hours are played as alarm clock."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Hi Teams,
Reminder than 24 hours: the expiration runs a beep reminder and alarm clock sound sequence instead of the recorded reminder message.
Instead if I set up reminders within 24 hours it works regula

[2021-09-09 16:26] PaintThis commented on #1960
Hello @SnEhERANDE
I also got this error and got an idea for a work around from this:
https://github.com/alexa/avs-device-sdk/issues/1776

though I didn't follow the instructions exactly, I didn't do the wget and untarring,
I just did this:

cd portaudio
 ./configure --without-jack

make install
after that I could run the sampleapp, hope this helps

[2021-09-11 10:24] kaygeeyem16 opened #1972 "SampleApp not working"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/ubuntu.html
After completing step 5, sample app is not working. I tried t + enter but it  is not listening

## What is the expected beh

[2021-09-11 11:46] kaygeeyem16 opened #1973 "URGENT PLS - UBUNTU - ALEXA Smart Screen SDK error at step 8.5"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/ubuntu.html

cmake -DCMAKE_PREFIX_PATH=$HOME/sdk_folder/sdk-install \
-DWEBSOCKETPP_INCLUDE_DIR=$HOME/sdk_folder/third-party/websocketp

[2021-09-13 05:56] SnEhERANDE commented on #1960
Hi @PaintThis
Sorry but I am new to this can you explain little more how to do this command.

I am doing this -
![tmp_img](https://user-images.githubusercontent.com/62797634/133030932-a522e4a5-f4b3-471c-ab9b-8db6f534bb01.JPG)

Can you please tell me what am I supposed to do?

[2021-09-13 06:11] hatosan0112 commented on #1966
Hi

I could do as written.

but I cannot be activated by wake word.
Is it affected that the OS is not Ubuntu?

[2021-09-14 10:32] SnEhERANDE commented on #1960
Thank you @PaintThis & @kjkh.
Closing this issue and creating a new issue for  ./configure --without-jack

[2021-09-14 10:32] #1960 closed

[2021-09-14 10:43] SnEhERANDE opened #1974 "SampleApp.exe not running libportaudio-2.dll is missing error"
## Briefly summarize your issue:
Hi I am new and I am following this tutorial - https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/windows-64.html
I am stuck at https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/windows-64.html#step-6-run-and-authorize-the-sample-app
When I open the app this happens

![](https://user-images.githubusercontent.com/62797634/132634293-a72dac30-b9f8

[2021-09-14 10:56] PaintThis commented on #1974
Hi @SnEhERANDE

You missed the step to "cd portaudio"

cd portaudio
./configure --without-jack
make install

[2021-09-15 02:53] hatosan0112 opened #1975 "Is it possible to launch Alexa Wakeword on Ubuntu?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).
## Briefly summarize your issue:

I'm looking for a way to launch Alexa Wakeword on Ubuntu.
But I can't do it.

## What is the expected behavior?

Alexa can be run with Wakeword on Ubuntu.

## What behavior are you observing?

SampleApp c

[2021-09-15 08:22] SnEhERANDE commented on #1974
Hi Thanks. Sorry but I don't know why I am getting so many errors but this is the error now I am facing I also ran "make install" also this "bash setup.sh config.json -s 998987" and this is the error.

![Capture](https://user-images.githubusercontent.com/62797634/133397536-88f4a938-4a48-4aa7-9ecb-b187ecac43a6.JPG)

How to solve this?

Thanks

[2021-09-15 14:28] flos06 opened #1976 "Sensory repository down"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I am getting this error when trying to install the Alexa SDK on RPI 4.
fatal: remote error:
  Repository not found.

## What is the expected behavior?

I'd expect it to find the repository and install

#

[2021-09-16 01:31] xlb767923274 opened #1977 "ContextManager: STATE_PROVIDER_TIMEDOUT 【DeadLock - 2】"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Repeatedly play music and joke, after a period of time, STATE_PROVIDER_TIMEDOUT error appears，and alexa can wake up no longer。

## What is the expected behavior?

STATE_PROVIDER_TIMEDOUT does not appear,

[2021-09-16 01:38] xlb767923274 commented on #1977
because of #1965 ，I temporarily modified AndroidSLESMediaPlayer::configureNewRequest()

=====》

    stop(m_sourceId); //move stop to here, fix dead lock
    std::lock_guard<std::mutex> requestLock{m_requestMutex};
    {
        // Use global lock to stop player and set new source id.
        std::lock_guard<std::mutex> lock{m_operationMutex};
        if (m_hasShutdown) {
            return ERROR;

[2021-09-16 02:08] xlb767923274 commented on #1977
There is still a deadlock problem here after I modify it。。

Thread1 - AudioPlayer::configureMediaPlayer()
    ->AndroidSLESMediaPlayer::configureNewRequest() ,
         {
               std::lock_guard<std::mutex> requestLock{m_requestMutex};
               m_mediaQueue.reset();  // Delete old queue before configuring new one.
         }
     The reset operation is also within the scope of the loc

[2021-09-16 02:14] xlb767923274 commented on #1977
I don't know how to fix it, can you give me some suggestions before the next release version is released?

[2021-09-16 12:51] yvonne-mendonsa opened #1978 "AVS SDK 1.24.0 stuck after Authorization process"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

SDK Version 1.24 that I am using on my linux system does not go to Idle state. It seems to be stuck just after the authorization process in HTTP2Transport

## What is the expected behavior?

After succes

[2021-09-16 16:44] DallasPhoenix69 opened #1979 "Changing Audio Output Device on Raspberry Pi 4"
I was wondering if it was possible to change the output device for sound to my onboard soundcard (Raspiaudio Ultra+). The card has 2 built-in speakers and microphones. The microphones work but I cannot change the output, and can only use my built-in audio jack.

### What version of the AVS Device SDK are you using?
      1.23.0

### Tell us what hardware you're using:
 Raspberry Pi 4B

### Tell us

[2021-09-17 02:12] 0zuzu opened #1980 "'alexa-rpi' fatal remote error: Repository not found"
AVS script fails installation after trying to clone the sensory repo. Apparently, its Github has expired, so the installation cannot be completed.

Link to the repository: "https://github.com/Sensory/alexa-rpi.git".

Please fix this asap.

[2021-09-17 02:43] HelloYuGi commented on #1930
I have the same error.If i comment that line.Build success, but the file "AlexaClientSDKConfig.json" is empty.
How to solve this problem?

[2021-09-17 12:37] Ddvos commented on #1976
I am having the same issue. Is there already any sollution?

[2021-09-17 13:09] flos06 commented on #1976
Not that I know of unfortunately

[2021-09-17 14:59] Ddvos commented on #1976
Maybe it could help if there was another repo. We can update de link to https://github.com/Sensory/alexa-rpi  in the setup.sh file

[2021-09-17 15:06] flos06 commented on #1976
I've tried to find one but all the forks all outdated.

[2021-09-17 15:17] Ddvos commented on #1976
I think we have to wait on an update from out Amazon....

[2021-09-17 15:54] 0zuzu commented on #1976
Fuck

[2021-09-17 21:38] blazusiak-amazon commented on #1973
Hello @kaygeeyem16
Can you confirm whether you are still stuck on this step, I noticed that there is another issue you opened that you are stuck on step 13?

If it is the case that you are still struggling on step 8, could you send over the CMakeOutput.log file over?

Otherwise, I will proceed by closing the issue.

[2021-09-18 09:33] kaygeeyem16 commented on #1973
Hi Jacob,

It is resolved now.

I have created custom skills and deployed. Can I use those skills in AVS
SDK or Smart screen SDK ?

Thanks and Regards,
Ganesh

On Sat, Sep 18, 2021 at 5:38 AM Jacob Blazusiak ***@***.***>
wrote:

[2021-09-18 09:41] kaygeeyem16 opened #1981 "Custom skill which is deployed - how to use in AVS SDK or Smart Screen SDK"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I have few custom skills with custom utterances which are already deployed . How do I use these skills in AVS Ubuntu or Smart Screen SDK.

## What is the expected behavior?
Should return the expected resu

[2021-09-20 16:37] blazusiak-amazon commented on #1973
Hello @kaygeeyem16

That is great to hear, it seems that you posted this same question in another issue. So I will close this, and address these questions in that new issue thread.

[2021-09-20 20:27] gauthiersornet commented on #1976
What about this one githib link : https://github.com/jcakchen/alexa-rpi
Change the line :
TEST_MODEL_DOWNLOAD="https://github.com/Sensory/alexa-rpi/blob/master/models/spot-alexa-rpi-31000.snsr"
By this one :
TEST_MODEL_DOWNLOAD="https://github.com/jcakchen/alexa-rpi/models/spot-alexa-rpi-31000.snsr"

[2021-09-21 03:46] kaygeeyem16 commented on #1973
Hi Jacob,

I am testing video skills and I need test value for the below.

Can you please share or redirect to the right person.

Authorization URI
Access Token URI
Client Secret

On Tue, Sep 21, 2021 at 12:37 AM Jacob Blazusiak ***@***.***>
wrote:

[2021-09-21 07:09] flos06 commented on #1976
Wouldn't you need the license in order for it to work though?

[2021-09-21 08:22] gauthiersornet commented on #1976
I'm testing... But the compilation seems to be stuck... I let it and i'll see...

[2021-09-21 08:22] flos06 commented on #1976
I've tried. Spits out an error at the end that the library isn't licensed

[2021-09-21 15:09] gauthiersornet commented on #1976
It is still stuck :/

[2021-09-21 16:18] flos06 commented on #1976
well unless someone shares their latest license-key.txt it wont matter anyways :(

[2021-09-22 08:23] sammy4703 commented on #1976
I emailed Sensory about this - here's response:-
Hi xxx

Sensory has made a business decision to remove this project from GitHub. We apologize for any inconvenience. If you would like to explore a license of Sensory technology, contact sales@sensory.com.

[2021-09-23 00:36] t-ohno215 commented on #1980
I'm facing the same issue.
It seems to have been closed once in the past, but I can't seem to access Github again.
"https://github.com/alexa/avs-device-sdk/issues/1379"

[2021-09-23 13:32] flos06 commented on #1976
Well that sucks.

[2021-09-23 16:17] moskyow commented on #1980
Same problem here

[2021-09-23 16:26] moskyow commented on #1976
There is another way to have Alexa on Raspy ?

[2021-09-23 16:39] flos06 commented on #1976
You can use KITTAI (snowboy) wakeword engine instead of sensory, however you would need the alexa sdk 1.24 as 1.25 removed support for it. Should still be doable though

[2021-09-23 17:38] moskyow commented on #1976
Project closed on Dec. 31st, 2020

[2021-09-24 05:58] valeri-atamaniouk commented on #1980
Hello,
We are aware of the issue and working on a solution.

As a temporary workaround you can disable Sensory download commands, and disable it for the build. AVS SDK features will still be available with tap to talk functionality.

Replace `-DSENSORY_KEY_WORD_DETECTOR=ON` with  `-DSENSORY_KEY_WORD_DETECTOR=OFF` and comment out `build_kwd_engine` command in `run_os_specifics` function.

[2021-09-24 10:02] t-ohno215 commented on #1980
thank you for your reply.

Was the specific content of the workaround good as follows?
---------
1.pi.sh: L43
run_os_specifics() {
  build_port_audio
  build_curl
  build_kwd_engine <- Comment out
  configure_sound
}

---------
2.pi.sh: L24
CMAKE_PLATFORM_SPECIFIC = (-DSENSORY_KEY_WORD_DETECTOR = ON \
 ↓
CMAKE_PLATFORM_SPECIFIC = (-DSENSORY_KEY_WORD_DETECTOR = OFF \
change to

---------
As an addi

[2021-09-24 13:01] Ddvos commented on #1976
Maybe this one?
https://github.com/alexa-pi/AlexaPi

I haven't tried because it looks outdated.

I want to use Alexa for playing Spotify because as far as I know, that isn't possible with Google Assistant.
Maybe you guys can use Google Assistant?

[2021-09-26 08:52] Ddvos commented on #1980
Thanks this one is working for me, I hope you guys will fix the Sensory error because I want to use it stand alone without the need for a button/tap to talk. For now, it isn't possible for Alexa to listen continuously? Thanks for the help

[2021-09-26 08:54] Ddvos commented on #1976
Here is a temporary solution:

https://github.com/alexa/avs-device-sdk/issues/1980

But as far as I know, you can only use the tab to speak

[2021-09-26 09:32] flos06 commented on #1976
I've build it using KITT ai and honestly its working fine.
FYI Ddvos you can't use spotify on the alexa sdk either :( You have to be whitelisted and they don't seem to do that anymore unless you are a commercial user.

[2021-09-27 15:27] mcquaim opened #1982 "C++ Fatal Error building PreviewAlexaClientComponent.cpp.o"
## Briefly summarize your issue:
When running the install.sh script it is failing on the build step PreviewAlexaClientComponent.cpp.o

## What is the expected behavior?
It should complete and I see the [100%] Built Target SampleApp message.

## What behavior are you observing?
I'm getting this c++ fatal error:

[100%] Building CXX object applications/acsdkPreviewAlexaClient/src/CMakeFiles/LibPrevi

[2021-09-27 16:09] mcquaim commented on #1982
I got it sorted, looks like the Pi 3B+ didn't have enough memory. I increased the size of the swap file and it then completed fine.

[2021-09-27 18:33] valeri-atamaniouk commented on #1980
Hello @t-ohno215

Your change is appropriate.

If you want to wire a hardware button you can look into https://github.com/alexa/avs-device-sdk/blob/master/SampleApp/src/UserInputManager.cpp class as it handles all input events for SampleApp.

[2021-09-27 18:35] valeri-atamaniouk commented on #1980
Hello @Ddvos

You can patch sources https://github.com/alexa/avs-device-sdk/blob/master/SampleApp/src/UserInputManager.cpp  to constantly enter the device into listening state. This might or might not do what you expect.

[2021-09-27 22:36] t-ohno215 commented on #1980
@Ddvos
Thank you for answering.
alexa-rpi, Snowboy seems to have finished the project, so consider alternatives.
I'd like to consider Julius as an alternative, but is there any other good idea?

[2021-09-27 22:39] t-ohno215 commented on #1980
@valeri-atamaniouk
Thanks. I will try the correspondence of the hardware button.

[2021-09-28 00:40] azlsfrossard commented on #1978
I see you are using CBL Authorization. So this happens after you input the code at www.amazon.com/us/code ? Also, one thing that caught my eyes is that it seems the gateway was verified before authorization happened, can you confirm that?

[2021-09-28 00:55] azlsfrossard commented on #1889
Hi,

This is the link to the page where you can enable music:

https://developer.amazon.com/alexa/console/avs/products

Select your product, then go the Entertainment section and there you should have the actions available for you to enable or what to do if you want to enable.

[2021-09-28 01:10] azlsfrossard commented on #1973
Hi, the data that you have request are per product and are not meant to be shared by any means.

In order to be able to generate that please refer to the step 1 of these instructions: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html

[2021-09-28 01:38] SnEhERANDE commented on #1974
Hi, Thanks for the information. Everything is working.

[2021-09-28 01:38] #1974 closed

[2021-09-28 05:02] yvonne-mendonsa commented on #1978
Thanks for your response. Yes, I am using CBL authorization, but since it was already authorized in a previous run, I did not have to input any code.
I am attaching another log with a fresh run ( after clearing the DBs) and the problem seen right after entering the code.[](ur
[SDK_1.24_DEBUG9_Authorization_log.log](https://github.com/alexa/avs-device-sdk/files/7241174/SDK_1.24_DEBUG9_Authorization

[2021-09-28 05:36] yvonne-mendonsa commented on #1978
On further investigation, it looks to be stuck in HTTP2Transport::State HTTP2Transport::monitorSharedQueueWhileWaiting at the below point when m_state = whileState = AUTHORIZING:

`m_wakeEvent.waitUntil(lock, wakeTime, [this, whileState, messageRequestTime] {
        return m_state != whileState || m_sharedRequestQueue->peekRequestTime() != messageRequestTime;
    });
`

It appears that the thread

[2021-09-29 00:28] aginesh commented on #895
Hi @aki29,
    How did you finally manage with your requirement of getting the deviceId? I am also having a similar requirement as yours. Any details you could provide would be very helpful.

Thanks.

[2021-09-29 10:17] GitHubUser4234 commented on #1980
Really hope this can fixed soon. Looks like there are no real alternatives to Sensory except KITT.AI (which is not maintained anymore)?

[2021-10-01 03:18] GitHubUser4234 commented on #1976
I've built it with Kitt.AI as well, but it triggers way more often to false positives (listening although wake word hasn't been said). That totally sucks.

Amazon, what do you suggest, after all the steps in the [setup guide](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html)  became invalid too.

Wold be great if someone could make the necessary changes to support the

[2021-10-01 14:50] KaidiGuo opened #1983 "Issue running AVS Sample app on Android device, unsupported flags DT_FLAGS_1=0x8000001 warning"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I followed the instructions per this link: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/android.html
But cannot run the sample app and get this warning:
[code]
I read somewhere that we sh

[2021-10-04 11:28] tjothy-pc commented on #689
KINDLY REPLY IN PUBLIC, I AM ALSO FACING SAME ISSUE

[2021-10-05 02:00] SamHsu0828 opened #1984 "clang++: error: argument unused during compilation"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

When running the command
bash setup.sh config.json -a androidConfig.txt -s 998987

## Briefly summarize your issue:

################################################################################
#######################################

[2021-10-05 22:37] Chirod opened #1985 "DefaultClient plays Named Timers and Reminders using Alarm volume"
## Briefly summarize your issue:
When using the DefaultClient, Named Timers and Reminders are played using the Alarm volume. AVS device requirements indicate they should be played at the system volume.

## What is the expected behavior?
Named timers and alerts should play using the system volume.

## What behavior are you observing?
Named timers and alerts play using the alarm volume instead of th

[2021-10-07 12:55] apavslx opened #1986 "EventProcessed-Directive - TIMEDOUT"
## Briefly summarize your issue:
After initialization of the Alexa AVS SDK i get Errors or a Time-Out when receiving an EventProcessed-Directive. The program is able to start and register Endpoint-Controllers. but after some time in the App some Devices get unresponsive.

## What is the expected behavior?
Devices should not get in unresponsive State

## What behavior are you observing?
When receiv

[2021-10-13 02:53] SamHsu0828 commented on #1984
Update build machine to Ubuntu 18.04, it does not have this error.

[2021-10-13 02:53] #1984 closed

[2021-10-13 07:16] gaoseng opened #1987 "Unable to create the Sample App"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I follow this step that generate the AlexaClientSDKConfig.json file to be used by the sample apps for the SDKs. then it has a mistake
[code]

## What is the expected behavior?
The CLI window displays conf

[2021-10-13 10:21] GitHubUser4234 commented on #1980
Amazon has now removed the Sensory step from the [setup guide](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html) :disappointed_relieved:

[2021-10-13 21:04] praneethprpr opened #1988 "error: invalid linker name in argument '-fuse-ld=lld'"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
 error: invalid linker name in argument '-fuse-ld=lld'>

## What is the expected behavior?
This step should download any required dependencies

## What behavior are you observing?
[  0%] Linking CXX share

[2021-10-13 21:25] SilentGerry opened #1989 "Running Out of Memory building install"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I can build the SampleApp and run it just fine. But whenever I 'make' or 'make install' (no multi-threading) it errors out. 'dmesg' shows that it ran out of memory.

[142428.678516] [  29659]  1000 29659

[2021-10-14 02:10] gaoseng commented on #1987
Thinks! it is ok but I find a new issue
[code]

[2021-10-14 02:21] gaoseng commented on #1987
Thanks! it is ok but now I find a new problem , when I find the code It will throw fail
[code]

[2021-10-14 21:55] #1989 closed, assigned to nobody

[2021-10-18 17:48] kjkh commented on #1971
Hi @Lmau3,

Thank you for raising this. We are investigating the issue.

[2021-10-20 01:12] aginesh opened #1990 "Delayed playback volume lowering on detecting wake-word with Amazon music"
## Briefly summarize your issue:
Delayed playback volume lowering on detecting wake-word.

## What is the expected behavior?
Playback volume lowers immediately on detecting wake-word.

## What behavior are you observing?
When playing music from Amazon prime, invoke wake-word(alexa). Music playback continues at the same volume for about 2 secs and then lowers.
But when playing music from iHeartRadi

[2021-10-21 17:26] kjkh commented on #1978
Hi,

Thank you for raising this. It is interesting that changing the wait time of the underlying std::condition_variable is affecting spurious wake up behavior. Can you please also share the cmake flags you are using to compile the SDK, as well as the compiler version?

[2021-10-21 22:15] EricRafaelP commented on #1980
I am waiting for an update to this problem too.

[2021-10-26 07:41] #1987 closed, assigned to nobody

[2021-10-30 16:07] naihchams1 commented on #1958
Hi @Renthner,
Did you find any solution? I am currently facing the same issue.
Regards,

[2021-10-31 09:59] Renthner commented on #1958
Hey, @naihchams1,

I gave up ... I meanwhile bought an Alexa when it was on sale. Maybe I'll try again soon, but I don't need it right now.

Regards

[2021-11-01 19:20] valeri-atamaniouk commented on #1983
Hello @KaidiGuo

The original error indicates that libsqlite.so cannot locate EVP_MD_CTX_init symbol.

This method is from OpenSSL 1.0.2 API, and has been removed from later releases. Most likely your libsqlite.so library is built against older version, and application links to a newer one.

[2021-11-01 22:02] valeri-atamaniouk commented on #1979
Hello @DallasPhoenix69 ,

By default, SDK uses GStreamer on Raspberry PI. You can check which audio sinks are present on your device:

[code]

Then, you can modify AlexaClientSDKConfig.json to use required sink. Add a "gstreamerMediaPlayer" section into configuration as follows:

[code]

[2021-11-02 17:23] #1639 closed

[2021-11-03 10:24] j4ckp0t85 commented on #1980
so from 27th of this month we can basically say goodbye to voice detection (last license published), no other choices?

[2021-11-03 18:59] valeri-atamaniouk commented on #1990
Hello @aginesh,

We are looking into the issue. Can you provide debug logs for the scenario with delayed volume decrease?

Which wakeword engine do you use?

[2021-11-03 23:26] aginesh commented on #1990
Hi @valeri-atamaniouk,

Please find attached 2 logs one where there is delay vs when there is no delay.
The logs are captured with debug level 2. Please let me know if you need the logs with a different log level.
With debug level 9 there are too many logs and the logging itself introduces more delays.

[delay_logs.txt](https://github.com/alexa/avs-device-sdk/files/7471266/delay_logs.txt)
[no_dela

[2021-11-04 06:35] apavslx commented on #1986
Thanks. That was the case, the DiscoveryEventSender was not registered right.

[2021-11-04 06:35] #1986 closed

[2021-11-05 06:59] Thomas-fang opened #1991 "Hi，The operating system of our MCU is RT_ Thread or FreeRTOS. I hope it can be integrated with AVS through SDK"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2021-11-05 07:34] Thomas-fang commented on #1684
Hi,I am Thomas-fang, On the Alexa homepage, the SDK is only applicable to five operating systems. How to make the SDK run in the FreeRTOS operating system? I hope to get your reply. Thank you.

[2021-11-10 02:22] smirkhani commented on #1927
@caleighatamazon - We are encountering this same issue from yesterday. I found this post by searching the error message. Can you please help us to resolve the issue?

[2021-11-10 10:57] jianyingl opened #1992 "The played music was not showed on the Alexa App 'RECENTLY PLAYED" list"
## Briefly summarize your issue:
This is not a bug, but a question, since the same function works for Sample APP.
When our device plays a music, the music status could be only showed on the bar at the bottom of the Alexa App. But it cannot be showed in the "RECENTLY PLAYED" list on the top of the Alexa App.

We dont know what is wrong with our device. Is there any special event that we missed to r

[2021-11-11 00:14] smirkhani opened #1993 "feature is only available on certified alexa builtin devices"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

We are building a web app that uses AVS. We registered an AVS device. And also wrote our own javascript connector to AVS endpoint (using http-2). Since two days ago, the endpoint is not working for us an

[2021-11-11 10:24] jianyingl commented on #1992
we have found the root cause of this issue. the offset value in PlaybackStarted event should be set to 0.

[2021-11-11 10:24] #1992 closed

[2021-11-11 10:52] xlb767923274 opened #1994 "SampleApp crash on ubuntu 18.04 LTS"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).
[ubuntu_ss_avs_crash.log](https://github.com/alexa/avs-device-sdk/files/7519800/ubuntu_ss_avs_crash.log)

## Briefly summarize your issue:

Thread 10313 "SampleApp" received signal SIGPIPE, Broken pipe.
[Switching to Thread 0x7fff2b7fe700

[2021-11-11 17:57] cherylatamazon commented on #1993
Hi, this behavior is due to the fact that your device is uncertified; only limited features are available for uncertified devices: https://github.com/alexa/avs-device-sdk/security/policy . Once you have certified your device, it should work correctly. You can find out more about device certification here: https://developer.amazon.com/en-US/alexa/devices/connected-devices/business-resources/works-w

[2021-11-11 18:05] cherylatamazon commented on #1927
@smirkhani Answered this question here: https://github.com/alexa/avs-device-sdk/issues/1993

[2021-11-12 01:44] GitHubUser4234 commented on #1993
But certification is probably not for the nerds (like me)  that run their own AVS on RPI to build a private home automation system, right?

[2021-11-15 06:30] yulonglovecode commented on #1162
Currently Kitt.Ai has shut down their website and documentation on the configuration for raspberry pi . Is there any detailed steps to use Kitt.Ai with AVS on the raspberry pi ?

[2021-11-15 18:33] blazusiak-amazon commented on #1994
Hello @xlb767923274

Is this crash reproducible? If possible could you please provide the steps required in order to reproduce this crash?

[2021-11-15 18:34] #1993 closed

[2021-11-16 01:19] xlb767923274 commented on #1994
build by guide doc of ubuntu quick test， https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/ubuntu.html
+ kittai wakeword

test step：
1. Alexa, tell me a joke (wait 3 seconds)
2. what's the time (wait 3 seconds)
3. play music（wait 3 seconds)
4. repeat 1-3

[2021-11-16 05:39] xlb767923274 commented on #1994
new crash stack：

Thread 45 "SampleApp" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fff377fe700 (LWP 125824)]
0x00007fffef70ca07 in Curl_splaygetbest (i=..., t=0x7fff2c012cb8, removed=0x7fff377fd820) at splay.c:180
180 x->key = t->key;
(gdb) bt
#0 0x00007fffef70ca07 in Curl_splaygetbest (i=..., t=0x7fff2c012cb8, removed=0x7fff377fd820) at splay.c:180
#1 0x00007fffef7025ce

[2021-11-16 19:14] valeri-atamaniouk commented on #1980
Hello,

Sensory is no longer required by setup scripts starting from 1.26 release.

[2021-11-16 19:14] #1980 closed

[2021-11-16 19:24] lambrohan commented on #1980
@valeri-atamaniouk But alexa-pi can be activated with voice right?

[2021-11-16 21:17] EricRafaelP commented on #1980
I would like to know too.

[2021-11-17 01:51] GitHubUser4234 commented on #1980
What does it mean, "no longer required". It was not required before either, but now this option has been taken away from us.! Same goes for routine commands that dont work anymore either (see #1993).

Looks like Amazon wants to kick out the nerds who are using AVS to build a custom home automation system as we don't generate profit ....

[2021-11-22 07:01] BobXLiu opened #1995 "Does AVS have requirements for token encryption?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

The AVS SDK uses the CBL login method, and the token database(cblAuthDelegate.db) is not encrypted by default. The [AVS SDK documentation](https://alexa.github.io/avs-device-sdk/classalexa_client_s_d_k_1

[2021-11-22 15:59] GOGCerence opened #1996 "Feature is only available on certified Alexa built-in devices with web application"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Cerence is building a web application that connects to Alexa using AVS HTTP endpoints directly for a variety of actions on the user home graph. While this has been working well for a while, we recently (

[2021-11-22 17:08] smirkhani commented on #1996
We also have the same issue. We are also in the development phase now. We were hoping to finish our QC and start the certification process. But, we encountered the same issue.

[2021-11-22 17:23] #1955 closed

[2021-11-22 17:24] #1952 closed

[2021-11-22 17:30] blazusiak-amazon commented on #1925
Hello @yashh1326
Did you have an opportunity to try the solution steps provided?
Was this solution successful for you?

[2021-11-22 17:35] #1889 closed

[2021-11-22 17:39] blazusiak-amazon commented on #1983
Hello @KaidiGuo
Did updating libraries to the latest versions and recompiling resolve the issue you were experiencing?

[2021-11-22 17:41] blazusiak-amazon commented on #1981
Hello @kaygeeyem16
Were the instructions provided to test your custom skills useful and resolve your question?

[2021-11-22 17:42] blazusiak-amazon commented on #1979
Hello @DallasPhoenix69
Did the instructions provided answer your question? Were you successful in changing the output?

[2021-11-22 17:44] #1975 closed

[2021-11-22 17:45] blazusiak-amazon commented on #1970
Hello @kaygeeyem16
Are you still struggling with this issue? Any updates or success since you last posted?

[2021-11-22 20:24] DallasPhoenix69 commented on #1979
Glad you checked in... Dealing with this issue today.

Thank you,

Robert Grover, PhD(c)
9424 Mustang Trail Drive
Reno, Nevada 89506
775-287-8101

On Mon, Nov 22, 2021 at 9:42 AM Jacob Blazusiak ***@***.***>
wrote:

[2021-11-22 20:36] DallasPhoenix69 commented on #1979
I ran that command and got this: bash: gst-inspect-1.0: command not found

[2021-11-23 03:58] kaygeeyem16 commented on #1970
THis is resolved. Thanks

On Tue, Nov 23, 2021 at 1:45 AM Jacob Blazusiak ***@***.***>
wrote:

[2021-11-23 17:00] albanoandrea opened #1997 "On Android 11 microphone is silent"
## Briefly summarize your issue:

On Android 11 we get no error but Microphone data is always silent.
The speaker side is working:
enabling the WakeUpWord confirmation tones we can hear them.

## What is the expected behavior?

When running the sample application, pressing T, we should be able to speak with Alexa.

## What behavior are you observing?

Microphone data is always silent.
We have veri

[2021-11-25 03:59] kjkh commented on #1991
Hi @Thomas-fang,

While we have not tried this platform, the provided code is open source and hopefully can fit your needs. If you have any further questions or comments on compatibility, please create a new issue. Closing.

[2021-11-25 03:59] #1991 closed

[2021-11-25 04:05] kjkh commented on #1995
Hi @BobXLiu,

In the recent release of the SDK, 1.26, we have provided examples of encryption on databases used throughout the SDK. For the most up to date answers on your questions about encryption, please reach out to _avs-security@amazon.com_.

[2021-11-25 04:18] kjkh commented on #1997
Hi @albanoandrea,

Can you please attach DEBUG9 logs so we can better help debug the issue?

[2021-11-25 07:06] kjkh commented on #1996
Hi, this behavior is due to the fact that your device is uncertified; only limited features are available for uncertified devices: https://github.com/alexa/avs-device-sdk/security/policy. Once you have certified your device, it should work as expected. You can find out more about device certification here: https://developer.amazon.com/en-US/alexa/devices/connected-devices/business-resources/works-

[2021-11-25 07:25] albanoandrea commented on #1997
Hi @kjkh, this is the full log from
* Raspberry 4
* Android 11
* AVS v1.25.0

[android_11_rasp.log](https://github.com/alexa/avs-device-sdk/files/7600968/android_11_rasp.log)

[2021-11-25 16:37] seyedmaysamlavasani commented on #1996
@kjkh - but in order to do the certification we need to first develop the product - please note that this is happening on a product which is under development

[2021-11-25 17:03] kjkh commented on #1996
@seyedmaysamlavasani

Yes, we understand this. Do you have an Amazon Business representative you're working with that you can reach out to? If not, you can reach out to avs-security@amazon.com, who may be able to assist further.

[2021-11-26 06:06] yulonglovecode opened #1998 "Preload Alexa into pi 4b"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Currently i am helping my company to implment AVS into our IoT products. Is it possible to pre-load Alexa with our customised alexa skill into the pi ? From all the different forums i have tried to set u

[2021-11-28 17:52] shivasiddharth commented on #1976
I have created a hack for triggering Alexa using Picovoice porcupine. If someone can come up with something more neat, it would be great. If we can have a socket server running along with the UI Manager, then the job is done.

[2021-11-28 17:57] shivasiddharth commented on #1976
Here is how it works https://www.youtube.com/watch?v=uYtlX260JOc&t=466s

[2021-11-29 16:08] fivenote commented on #1976
Excellent workaround! Thanks @shivasiddharth!

I made a few tweaks for my setup. I wanted it to find the SampleApp's window id each time it starts, and keep it minimized when not detecting the watchword. So...

This bash script starts my alexa script (a modified version of the SampleApp start script). It saves the window id to /tmp, then minimizes it. It then starts my version of shivasiddharth's

[2021-11-29 19:26] cherylatamazon commented on #1935
@androrz We are unable to replicate your problem. Please let us know if you are still experiencing this.

[2021-11-29 19:27] cherylatamazon commented on #1968
@wkc2021  Can you confirm, do you still see this issue? We are unable to replicate.

[2021-11-30 00:41] seyedmaysamlavasani commented on #1996
Thanks @kjkh for your message - we don’t have any Amazon business representative - I googled how to contact a representative. Not quite clear to me how to find one. Can you please help us?

Sure - I will send our request to security@amazon.com

[2021-11-30 00:50] kclchan commented on #1998
Hi @yulonglovecode, could you elaborate on what you meant by pre-loading your customized skill into the pi?  How are you loading it in the pi currently?

[2021-11-30 01:55] wkc2021 commented on #1968
@cherylatamazon Yes, the issue still persists.

[2021-11-30 02:49] GitHubUser4234 commented on #1976
Hi shivasiddharth and fivenote,

Really great to see that there is a workaround for porcupine! But still there is this huge issue of #1993 which makes usage of Alexa very limited. Routines and skills don't work without certification anymore like they did before.

[2021-11-30 20:33] j4ckp0t85 opened #1999 "SampleApp 1.26.0 not launching on orange pi pc"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
The SampleApp has been compiled from scratch following the Ubuntu step by step guide, as previously done with older versions.
This one crashes (see attached debug log)

## What is the expected behavior?
I

[2021-12-01 06:04] yulonglovecode commented on #1998
Hey @kclchan, thanks for the reply.Currently i sm having some hard time to implement skills into my pi. All i can do is to connect the web server to skills endpoint and use alexa skills Test on my laptop to interact with pi as a receiver which is kind of pointless. Do you have any idea how to implement skills on raspberry pi ?

[2021-12-01 23:16] kclchan commented on #1999
@j4ckp0t85, the logs that points to why the SampleApp is exiting is:
[code]
What cmake commands did you use for building the SampleApp?

[2021-12-02 06:55] j4ckp0t85 commented on #1999
Yes i noticed  it, that's strange.

Anyway this is the cmake command. First off i did a make clean from the build dir.

cmake /home/michele/my_project/source/avs-device-sdk \
-DGSTREAMER_MEDIA_PLAYER=ON \
-DPORTAUDIO=ON \
-DPORTAUDIO_LIB_PATH=/home/michele/my_project/third-party/portaudio/lib/.libs/libportaudio.so \
-DPORTAUDIO_INCLUDE_DIR=/home/michele/my_project/third-party/portaudio/include \
-

[2021-12-02 11:55] j4ckp0t85 commented on #1999
i am closing the issue as i fixed my problem. somehow something was still here from previous compilations, i made a new dir and did all the steps from scratch and now i can launch it

[2021-12-02 11:55] #1999 closed

[2021-12-02 14:38] j4ckp0t85 commented on #1976
hi guys. i have successfully tried the porcupine method. my problem is that i have a very basic hardware (an orange pi pc) and i mainly don't use windowed terminal.

i have enabled a vnc server to try it but it's laggy (the wake word detector is good but the tap to talk is not hitting.

no way without using real desktop terminals?

[2021-12-06 23:38] brett-lynnes opened #2000 "device refuses to play Apple Music with response "Apple Music is not supported on this device""
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Cannot get Apple Music to function

## What is the expected behavior?

After following the instructions to enable ffmpeg, Apple Music should play on our device

## What behavior are you observing?

AVS r

[2021-12-08 11:33] saxonyfrank opened #2001 "Renew TrulyHandsfree binaries license failed - Repository not found"
Up to the last update I could renew the license every 120 days by the command “./third-party/alexa-rpi/bin/license.sh”. Unfortunately I got the following information today and the renew of the license failed.

The Sensory Trulyhandsfree™ Library License should be enhanced by 120 days.

After invoking the license renew the repository could not found.

Here are the steps to reproduce the issue:
pi@r

[2021-12-09 21:11] kclchan commented on #2000
Hi @brett-lynnes, looking at the logs, it seems that there's only Speak directives from AVS when you ask it to play Apple Music:
[code]
So this could be an account linking issue.  Were you able to get this working with other versions of the SDK before?

[2021-12-10 07:58] saxonyfrank commented on #2001
Thanks for the quick answer and the hint. It’s a pity that the free license ist not longer available.
Best regards,
Frank

[2021-12-10 07:58] #2001 closed

[2021-12-10 18:09] kclchan commented on #1994
@xlb767923274, are you still seeing the problem?  If yes, could you let me know the version of libcurl and openssl you are using?

[2021-12-14 14:15] hatosan0112 opened #2002 "I've run a custom skill, but it's said that this feature is only available on certified Alexa-powered devices."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Running custom skills, this feature is only available on certified Alexa-equipped devices

## What is the expected behavior?

Custom skills work the same as on the Alexa Skill Kit

## What behavior are y

[2021-12-14 21:24] aginesh commented on #1990
Hi @valeri-atamaniouk,
     Was this issue reproducible?
Were my logs helpful?
Please do let me know if you need any further details about this.

[2021-12-15 19:12] blazusiak-amazon commented on #2002
Hello @hatosan0112,
This behavior is due to the fact that your device is uncertified; only limited features are available for uncertified devices: https://github.com/alexa/avs-device-sdk/security/policy . Once you have certified your device, it should work as expected. You can find out more about device certification here: https://developer.amazon.com/en-US/alexa/devices/connected-devices/business

[2021-12-18 01:47] painnovation commented on #2000
Hi @kclchan, I work with @brett-lynnes on this and we haven't tested this on any other SDK version.

[2021-12-23 19:41] lombardian commented on #1404
Yeeeehaaaa! It works. For newbies like me, you have to:

`cd avs-device-sdk`

then:

`nano CMakeLists.txt`

go to the bottom and add in the file:

`set(CMAKE_CXX_LINK_FLAGS "${CMAKE_CXX_LINK_FLAGS} -latomic")`

[2021-12-23 23:38] #1970 closed

[2021-12-24 18:23] francesco7752 opened #2003 "Issue during Set Up the AVS Device SDK on Raspberry Pi with a Script"
Hi

I'm trying to install AVS SDK on Raspberry PI 4  model B Rev. 1.4 with RASPBIAN GNU / Linux 11 Operating System (bullseye), I follow the instructions found on https://developer.amazon.com/it-IT/docs/alexa/avs-device-sdk /raspberry-pi-script.html but when I run the script
sudo bash setup.sh config.json [-s 1234]
 I get the following error:

  0%] Built target acsdkCryptoInterfaces
[ 12%] Built

[2021-12-26 14:08] shivasiddharth commented on #2003
Before starting, run:
`export LD_PRELOAD=/usr/lib/arm-linux-gnueabihf/libatomic.so.1.2.0`
Bullseye is not stable yet. I would suggest you to stick to Buster.

[2021-12-26 15:12] francesco7752 commented on #2003
Thanks but I keep getting the error (see below).
Unfortunately I don't know how to download Buster, I use NOOBS and it doesn't allow me to choose another version.

[ 13%] Built target acsdkCodecUtils
[ 14%] Built target gtest
[ 14%] Built target gmock
[ 14%] Linking CXX executable InMemoryCommunicationPropertiesHandlerTest
[ 14%] Linking CXX executable InMemoryCommunicationInvokeHandlerTest
/usr/b

[2021-12-26 16:10] shivasiddharth commented on #2003
Here is the link to the OS https://downloads.raspberrypi.org/raspios_armhf/images/raspios_armhf-2021-05-28/2021-05-07-raspios-buster-armhf.zip

[2021-12-26 17:02] francesco7752 commented on #2003
Thanks. I installed Buster and it worked

[2021-12-28 11:39] SEgyl opened #2004 "hands free version of AVS"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Currently i have set up alexa on my pi, Is there anyway to achieve the hands free function?

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the

[2021-12-29 19:23] #2003 closed

[2022-01-01 11:53] davevdm1968 opened #2005 "SampleApp not pausing for Authorisation"
## Briefly summarize your issue:
SampleApp not pausing for Authorisation

$ PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9
configFile ./Integration/AlexaClientSDKConfig.json
Running app with log level: DEBUG9
2022-01-01 11:50:42.696 [  1] W Logger:debugLogLevelSpecifiedWhenDebugLogsCompiledOut:level=DEBUG9:

WARNING: By default DEBUG logs are compiled out

[2022-01-03 18:00] blazusiak-amazon commented on #2005
Hello @davevdm1968,
I have a few questions that could help clarify the situation:

1. Are you making sure to keep the Sample Application running while you open a separate web browser or device to authorize the application with the code provided? I am asking because, I noticed that in your comments you wrote that you successfully authorize, and then proceed to run the Sample Application again. But

[2022-01-03 18:47] davevdm1968 commented on #2005
I ssh into the pi then
I start the app using the following command
PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9
It ends immediately after the code comes up
I thought it needed to be authorised so I opened a separate browser and authorise the code
It comes back successful on the browser
then still in the ssh terminal i try the same command and it has the

[2022-01-03 20:05] blazusiak-amazon commented on #2004
Hello @SEgyl,

Hands free functionality can be achieved on your Pi if you integrate your own or publicly sourced wake word engine. Previously, this was possible using Sensory, however, recently Sensory has made a business decision to remove its wake word engine project from GitHub. However, shivasiddharth has been able to successfully get another wake word engine working named Porcupine.

Here is

[2022-01-06 02:56] xlb767923274 commented on #1994
#openssl version
OpenSSL 1.1.1  11 Sep 2018

[2022-01-06 19:10] 01ZerosOnes01 opened #2006 "Alexa AVS install using script does it work?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I have tried 2 time to install Alexa AVS using the script method but it never  works.

## What is the expected behavior?

Successful installation of Alexa AVS using script method

## What behavior are yo

[2022-01-07 18:19] STEVEN-STARK opened #2007 "Alexa SDK Install Using Script Won't Compile Successfully"
I have attempted to install the latest version of the Alexa AVS SDK from the script recommended in the AVS web page.  The build fails when linking the InMemoryCommunicationInvokeHandlerTest because of undefined references to __atomic_fetch_add_8,  __atomic_store_8 and __atomic_load_8.

I do not know where the missing modules are located or how to modify the make file to access them.  It is obvious

[2022-01-09 22:32] 01ZerosOnes01 commented on #2006
I tried to install the AVS SDK sample app using a fresh clean install of Buster OS and about 25 minutes after running the command sudo bash setup.sh config.json [-s 1234] I get this error and the install stops.
[ 19%] Linking CXX executable ContextManagerTest
/usr/bin/ld: ../../AVSCommon/libAVSCommon.so: undefined reference to `__atomic_fetch_add_8'
/usr/bin/ld: ../../AVSCommon/libAVSCommon.so: un

[2022-01-11 18:34] blazusiak-amazon commented on #2005
Hello @davevdm1968 ,
It looks like you are experiencing a gstreamer related issue. Could you please try and verify installing gstreamer?
`sudo apt-get install gstreamer1.0-alsa`

[2022-01-12 06:04] davevdm1968 commented on #2005
thank you, that worked instantly.

[2022-01-12 06:04] #2005 closed

[2022-01-12 08:10] albanoandrea commented on #1997
Hi @kjkh: no update on this?

[2022-01-12 14:27] josefeliuf opened #2008 "Support for android kitkat (4.4.4) devices"
## Briefly summarize your issue:
Hey guys! i know that the actual avs-device-sdk only has support for android 6.0+ devices, but i wanted to know if there is an old version that works on android 4.4.4 or maybe another viable option that works similar to alexa. Thanks :)

### Tell us what hardware you're using:
- SmartWatch

### Tell us about your OS (Type & version):
- Android 4.4.4

[2022-01-12 19:01] valeri-atamaniouk commented on #2008
Hello @josefeliuf

Alexa Device SDK doesn't support Android releases before 6.0 (Marshmallow), and it has not been verified to build and work with KitKat.

[2022-01-12 19:01] #2008 closed

[2022-01-12 19:06] valeri-atamaniouk commented on #2007
Hello @STEVEN-STARK

There was a similar issue before and you can find a workaround described here: https://github.com/alexa/avs-device-sdk/issues/1404

[2022-01-12 19:13] valeri-atamaniouk commented on #2006
Hello @01ZerosOnes01

I'm closing this issue as a duplicate of https://github.com/alexa/avs-device-sdk/issues/2007

We will follow up there.

[2022-01-12 19:13] #2006 closed

[2022-01-12 19:34] josefeliuf commented on #2008
In that case, can i virtualize alexa and connect the kitkat device to the server to listen for alexa answers?

My actual flow would be something like this:

1. Record audio file on the kitkat device
2. upload the file to S3
3. trigger lambda function when object created
4. use the audio file (or maybe speech to text) as input for this server running alexa
5. get the answer from alexa
6. send it ba

[2022-01-13 19:07] valeri-atamaniouk commented on #1998
Hello @yulonglovecode

Skills can be developed using Alexa Skill Kit: https://developer.amazon.com/en-US/alexa/alexa-skills-kit

Alexa Device SDK can be used to provide new hardware interface to skills. For that you need to develop Capability Agent that will receive directives and send events as appropriate to hardware module.
Examples of CAs:
https://alexa.github.io/avs-device-sdk/classalexa_clie

[2022-01-17 16:01] koshisan commented on #1996
I am not quite sure I understand the process: AVS on non-commercial testing devices like a home-build raspberry pi cannot be used to control any smarthome function anymore? You need to go through the whole certification process?
The documentation does not reflect this! https://github.com/alexa/avs-device-sdk/security/policy talks only about a consent screen during device registration...

[2022-01-19 22:28] #2002 closed

[2022-01-20 18:55] kclchan commented on #1962
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-01-20 18:55] #1962 closed

[2022-01-20 18:55] #1958 closed

[2022-01-20 18:57] kclchan commented on #1972
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-01-20 18:57] #1972 closed

[2022-01-20 18:59] kclchan commented on #1944
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-01-20 18:59] #1944 closed

[2022-01-22 18:59] 01ZerosOnes01 commented on #2007
Is anyone getting the Alexa SDK to install and work on a Raspberry Pi using the install script?
I have tried numerous times with no success. So before I try again I would like to know if it works.
Tired of wasting time trying to install with no success. None of the work arounds have worked for me.
OS = Buster running on a Raspberry Pi 4 with 2GB memory.
I would think if you release a install scrip

[2022-01-22 19:38] Eymerich01 commented on #1996
I was developing a product but suddenly device management changed. This is not correct!

[2022-01-23 15:04] nickmcgill commented on #2007
Hi,
I'm having the same problem, using the script and the manual build.
In the manual build the SampleApp builds, but the full SDK build throws up these errors.
The work arounds (editing the CMakeLists.txt) don't appear to change anything.

[2022-01-23 16:12] 01ZerosOnes01 commented on #2007
Thanks for sharing your experience. I was beginning to think it was me. lol
    On Sunday, January 23, 2022, 09:04:51 AM CST, nickmcgill ***@***.***> wrote:

Hi,
I'm having the same problem, using the script and the manual build.
In the manual build the SampleApp builds, but the full SDK build throws up these errors.
The work arounds (editing the CMakeLists.txt) don't appear to change anything.

—

[2022-01-23 17:31] AngryNui commented on #2007
Hey, same problem for me with Raspberry Pi 3B+ and Raspbian Buster. Proposed workarounds didn't change anything.

[2022-01-23 17:34] kenarsa commented on #2004
It is `possible` to use [Porcupine](https://github.com/Picovoice/porcupine) as a wake word engine. Picovoice has a free tier that allows using its SDK on up to 3 devices for anyone. That being said, someone (preferably someone on the AVS side) need to do the integration (wrapping Porcupine C class in C++ class that AVS accepts). `Disclaimer, I work for Picovoice.`

[2022-01-23 17:34] kenarsa commented on #1976
It is `possible` to use [Porcupine](https://github.com/Picovoice/porcupine) as a wake word engine. Picovoice has a free tier that allows using its SDK on up to 3 devices for anyone. That being said, someone (preferably someone on the AVS side) need to do the integration (wrapping Porcupine C class in C++ class that AVS accepts). `Disclaimer, I work for Picovoice.`

[2022-01-23 17:37] 01ZerosOnes01 commented on #2007
Thank you for your response.Appreciated.I hope a fix is implemented in the near future.
    On Sunday, January 23, 2022, 11:31:19 AM CST, Nui ***@***.***> wrote:

Hey, same problem for me with Raspberry Pi 3B+ and Raspbian Buster. Proposed workarounds didn't change anything.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iO

[2022-01-24 07:58] xy371661665 commented on #1145
Same question. resolved?

[2022-01-24 09:11] #2004 closed

[2022-01-24 15:55] metalivedev opened #2010 "Double negative"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
There is a double negative in the Security.md

## What is the expected behavior?
Describe warning screen as happening when device is _not_ certified by Amazon.

## What behavior are you observing?
It says

[2022-01-26 00:32] womw commented on #1997
Hello @albanoandrea

Taking a look I'm not seeing any issues with the AndroidMicrophone in the logs. I see there is a warning
[code]
but this only stops the device from setting recognize mode, not impacting the ability to record audio.

In the logs we see from the MessageRequestHanlder
[code]
The Read status of `1` is `OK_WOULDBLOCK`. According to our code this indicates that `// This means there

[2022-01-26 00:36] womw commented on #2000
@painnovation @brett-lynnes Can you work with an Amazon Representative to enable Apple Music Support for your device?

[2022-01-26 00:48] womw commented on #2010
Hey @metalivedev thanks for bringing this to our attention. We'll take a look and investigate this internally.

[2022-01-26 01:33] painnovation commented on #2000
We got in contact after we filed this bug. The Docs don't say anything about this being a requirement so we thought we were doing something wrong.

[2022-01-26 08:44] albanoandrea commented on #1997
Hi @womw, thank you for the reply.
We have the same issue both on RPi and on emulator.

We are able to record microphone on both platforms using tinycap from adb shell or using an android recorder application from the graphical interface.

We have done the same tests also on other platform with the same results but I don't have the data of these platform.

Using older Android everything works fine

[2022-01-26 17:47] womw commented on #2000
OK, we'll look to see if we can improve our public documentation. If there are no other issues then I'll be closing this one. Feel free to reopen or open a new issue.

[2022-01-26 17:47] #2000 closed

[2022-01-26 20:18] womw commented on #1997
Hello @albanoandrea

It appears that for Android API 30 OpenSL ES support has been deprecated. We're currently investigating a fix for this but the SDK won't be able to support that version

[2022-01-28 14:36] scippacercola commented on #1997
Hello,

I experienced same problem when trying to run AVS on Android 11.
After analyzing the problem, I ended up to open the following ticket on Android:
https://github.com/android/ndk-samples/issues/796

However, I found a workaround that at least worked in my tests on emulator (x86_64) and a couple of ARM physical devices.
My supposition I that in Android 11, it is enforced the Android level per

[2022-01-28 14:42] ermannob commented on #1997
+1

[2022-01-28 22:00] Sai9555 opened #2011 "My pi stops downloading at 95%"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2022-01-28 22:02] Sai9555 commented on #2011
Hey guys my raspberry 3b+ was running everything perfectly until it reaches 95% on the sample app downloads and then the pi freezes and i cant do anything

[2022-01-30 10:44] DP0077bruh opened #2012 "Alex a setup in raspberry pi 3 stops at 95%"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2022-01-30 14:17] BonZai-841 opened #2013 "Google test error while Building AVS Device SDK"
## Briefly summarize your issue:
simply following the installation guide of https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/ubuntu.html
to install and use alexa on my arch linux device, in the step `make -j4` I get, maybe-uninitialized Google-test errors and the compiling stops

## What is the expected behavior?
To Compile Error free

[code]

## What behavior are you observing

[2022-01-31 01:45] DP0077bruh commented on #622
help me
same the alexa setup stops at 95%
im using raspberry pi 3

greetings from USA

[2022-02-06 13:09] daleko3454 commented on #1512
Hi. Thanks for the guide as this is exactl what I am trying to do. However, it is not working for me. I have added the library and the function but when I run sudo make, it brings up an error about an undefined reference to 'digitalRead', 'pinMode', 'digitalWrite', 'delay', 'wiringPiSetup'.
Is there something I need to install or add in somewhere else? Any help will be greatly appreciated.

[2022-02-07 07:47] geschaenk commented on #2007
Same problem here. By using a new cmake installation by hand the problem still occours.
'make SampleApp' is working, 'make' is not:

...
Consolidate compiler generated dependencies of target AlarmAlertTest
[ 21%] Linking CXX executable AlarmAlertTest
/usr/bin/ld: ../../../../AVSCommon/libAVSCommon.so: undefined reference to `__atomic_fetch_add_8'
/usr/bin/ld: ../../../../AVSCommon/libAVSCommon.so:

[2022-02-07 15:32] geschaenk commented on #2007
Of course.

I just downloaded an old tarball:

wget https://cmake.org/files/v3.16/cmake-3.16.3.tar.gz
wget https://cmake.org/files/v3.16/cmake-3.16.3-SHA-256.txt
sha256sum -c --ignore-missing cmake-3.16.3-SHA-256.txt && tar xfv cmake-3.16.3.tar.gz
cd cmake-3.16.3
  cmake .
  make
  make install

[2022-02-07 16:18] 01ZerosOnes01 commented on #2007
Okay, thanks I'll give it a try.

[2022-02-08 07:16] wkc2021 commented on #1968
@cherylatamazon @kclchan I found an error message "LWAAuthorizationStorage:getRefreshTokenFailed:reason=emptyValue" in the log. What does it mean?
btw, I copied config.json to ubuntu and compile sampleapp but didn't find the same problem.

[2022-02-08 18:16] wryley-amzn commented on #2012
HI, this a duplicate of #2011, please check for updates and discuss on that thread.

[2022-02-08 18:17] wryley-amzn commented on #2011
Hi! Please check https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide, are there any additional logs you could provide us to help debug this issue, from the build or download stage if there are any?

[2022-02-08 18:18] wryley-amzn commented on #2012
Duplicate of #2011

[2022-02-08 21:31] wryley-amzn commented on #2013
Hi! It seems that the root cause of this issue has to do with Google Test not being compatible with the gcc version you are using. Confusing as we say build process is compatible with 4.8.5+, but in reality it seems like only gcc 4.8.5 and 5 are supported with building Google Test. Can proceed with one of the following suggestions:
- downgrade gcc version you are using to be compatible with buildi

[2022-02-09 06:58] thanhpv18 opened #2014 "Turn off alexa wakeword verification on cloud"
How to turn off alexa cloud-based wake word verification?

[2022-02-12 07:43] mariopaonessa commented on #1523
Hello folks in my case it worked to increase the swap size. I believe it runs into OOM:

1. stop the swap
sudo dphys-swapfile swapoff

2. change the swap size CONF_SWAPSIZE=100 for example to 1024
`sudo vi /etc/dphys-swapfile`

3. renew the swap file
`sudo dphys-swapfile setup`

4. restart the swap service
`sudo dphys-swapfile swapon`

[2022-02-12 10:01] mariopaonessa commented on #2011
Increasing the swap size helped me. kind regards M

[2022-02-12 10:02] mariopaonessa commented on #2012
Hello folks in my case it worked to increase the swap size. I believe it runs into OOM:

1. stop the swap
`sudo dphys-swapfile swapoff`

2. change the swap size CONF_SWAPSIZE=100 for example to 1024 (vi or your editor of choice)
`sudo vi /etc/dphys-swapfile`

3. renew the swap file
`sudo dphys-swapfile setup`

4. restart the swap service
`sudo dphys-swapfile swapon`

[2022-02-16 06:20] aginesh commented on #1990
Hi @wryley-amzn,
    Yes, the issue is still reproducible. Here are the logs with debug level 5.
[delay_vol_lower_debug_5.txt](https://github.com/alexa/avs-device-sdk/files/8077254/delay_vol_lower_debug_5.txt)
[no_delay_vol_lower_debug_5.txt](https://github.com/alexa/avs-device-sdk/files/8077256/no_delay_vol_lower_debug_5.txt)

[2022-02-16 11:36] zhaokai3000 opened #2015 "call to https://api.amazon.com/auth/o2/token fails"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
We are try to authorize a device using an companion app referring to the following online document:
https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/authorize-companion-app.html

I'm usin

[2022-02-17 00:59] azlsfrossard commented on #2010
Fix is done and should be available in the upcoming release.

[2022-02-17 00:59] #2010 closed

[2022-02-17 01:03] azlsfrossard commented on #2011
Hi, can you try the suggestion provided by the user '@mariopaonessa' at [this issue](https://github.com/alexa/avs-device-sdk/issues/2012)?

[2022-02-17 01:04] azlsfrossard commented on #1981
Closing due to inactivity. Please re-open if necessary.

[2022-02-17 01:04] #1981 closed

[2022-02-17 01:13] azlsfrossard commented on #1996
Hi, were you able to find your Amazon business representative?

Also, I noticed you may have used security@amazon.com instead of avs-security@amazon.com.

Finally, you may also be able to get additional information on how to find a business representative using this form:

https://developer.amazon.com/alexa/console/contact-us

[2022-02-17 07:58] rahuldas790 opened #2016 "Unable to download AVS config.json file (Download button missing ?)"
## Issue:
Unable to download config.json file

## What is the expected behavior?
According to the steps given in the developer console, after i register my device, i should get the config.json file downloaded
which is required in the below step
`bash setup.sh config.json -a androidConfig.txt -s 998987`

## What behavior are you observing?
I cannot see any download button to get the config.json fil

[2022-02-17 22:59] #1985 closed

[2022-02-17 23:08] #2011 closed

[2022-02-17 23:11] azlsfrossard commented on #1995
Closing due to inactivity. @BobXLiu please reopen or open a new one if you have additional questions.

Thanks

[2022-02-17 23:11] #1995 closed

[2022-02-17 23:27] azlsfrossard commented on #1971
Hi @Lmau3,

From the logs I can observe that there was an error on the device while it tried to play the stream:

[code]

This error is usually related to errors on the device which could related to specific device configuration. Were you able to overcome this issue?

If not, can you also try this on our latest version - 1.26 or higher?

Thanks

[2022-02-18 22:27] azlffrossa commented on #2016
Hi, here is where you can find it:

1. Go to this [page](https://developer.amazon.com/alexa/console/avs/products) and then select the product you have created.
2. Under product details select "Security Profile"
3. Select "Other devices and platforms" tab
4. Click the download button at the bottom of the page.

If that don't work, please reopen the ticket.

Thanks.

[2022-02-18 22:27] #2016 closed

[2022-02-18 23:29] azlffrossa commented on #1971
Hi @Lmau3,

Do you still have this issue?

I just tested with our latest version and it works as expected.

We get 3 rings for the reminder, and once I ask what is the reminder, Alexa proceeds to read the reminder. The behavior was the same for reminders within 24 hours and over 24 hours.

[2022-02-19 00:19] wryley-amzn commented on #1990
Hi again @aginesh, judging from the logs there is no delay in the SDK logic that leads to ducking.
`2022-02-16 05:59:12.497 [ 17] I PryonLiteKeywordDetector:resultCallback:keyword=ALEXA,confidence=892
…
2022-02-16 05:59:12.502 [ 25] 0 DialogUXStateAggregator:executeSetState:from=IDLE,to=LISTENING,validTransition=true
…
2022-02-16 05:59:12.511 [ 27] 5 ChannelVolumeManager:startDucking`

startDuckin

[2022-02-21 17:11] Lmau3 commented on #1971
Hi @azlffrossa ,
Thanks for your comments and testing, but unfortunately for now we cannot use a SDK other than 1.18 on our device.

We cannot understand why the error is on our device, since we reproduce the reminder correctly if the deadline does not exceed 24 hours, while we have the problem if it exceeds 24 hours.

I believe that the audio streaming is sent from the cloud and not saved directl

[2022-02-22 17:45] azlffrossa commented on #1971
Do you get the reminder if you ask "Alexa, what's my reminder?"

[2022-02-22 19:15] wryley-amzn commented on #1990
Looks like GStreamer reports logs at DEBUG9 level, if you could get those please attach them here.

[2022-02-28 18:20] blazusiak-amazon commented on #1925
Due to over 2 months of inactivity from the original requester, this issue will be closed. If the requester feels that the issue has not been fully resolved and still requires support they may submit a new issue.

[2022-02-28 18:20] #1925 closed

[2022-02-28 18:21] blazusiak-amazon commented on #1935
Due to over 2 months of inactivity from the original requester, this issue will be closed. If the requester feels that the issue has not been fully resolved and still requires support they may submit a new issue.

[2022-02-28 18:21] #1935 closed

[2022-02-28 18:21] blazusiak-amazon commented on #1953
Due to over 2 months of inactivity from the original requester, this issue will be closed. If the requester feels that the issue has not been fully resolved and still requires support they may submit a new issue.

[2022-02-28 18:21] #1953 closed

[2022-02-28 18:28] blazusiak-amazon commented on #1961
Due to over 2 months of inactivity from the original requester, this issue will be closed. If the requester feels that the issue has not been fully resolved and still requires support they may submit a new issue.

[2022-02-28 18:28] #1961 closed

[2022-02-28 18:38] blazusiak-amazon commented on #2013
Hello @BonZai-841,
Did the suggestions provided above resolve the issue you were experiencing?

[2022-02-28 18:39] blazusiak-amazon commented on #2013
Hello @BonZai-841,
Did the suggestion above resolve the issue you were experiencing?

[2022-02-28 18:40] blazusiak-amazon commented on #2012
Hello @DP0077bruh,
Did the suggestions above resolve the issue you were experiencing?

[2022-02-28 18:41] #1976 closed

[2022-02-28 18:51] blazusiak-amazon commented on #1950
This issue is being tracked in the [Alexa Smart Screen SDK forum](https://github.com/alexa/alexa-smart-screen-sdk/issues/97)

[2022-02-28 18:51] #1950 closed

[2022-02-28 18:57] blazusiak-amazon commented on #1940
Hello @jbarnett12,
No, it is not normal for the setup script to take 18+ hours to complete. Are you still experiencing issues with setting AVS Device SDK on your raspberry pi?

[2022-02-28 19:08] blazusiak-amazon commented on #2015
Hello @zhaokai3000,
I notice that in both scenarios you mention that the server responds with a 200 OK, whereas the error information below responds with an Invalid Request, which should be a 400. Can you confirm whether this is the behavior you are seeing? If it is not, can you post the client error you are receiving from the server?

[2022-02-28 19:25] jbarnett12 commented on #1940
I decided to go back to square one and start again. Thanks for your comment it is really appreciated

[2022-02-28 19:25] #1940 closed

[2022-02-28 21:49] blazusiak-amazon commented on #2014
Hello @thanhpv18,

What is your use case for disabling this verification? [This verification is required for all voice-initiated products.](https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/enable-cloud-based-wake-word-verification.html)

[2022-03-01 11:39] Noahfreriksen opened #2017 "gst_object_unref: assertion 'object != NULL' failed"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Running the SampleApplication failes after following the guide to set up AVS on raspberry pi
sudo PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9
configFile ./Int

[2022-03-04 02:11] mohammadsen commented on #2007
Hi! Has anyone been able to get this sorted? I manually complied an older version of CMake and even added the line to the bottom of CMakeList.txt, but am still unable to get it running and am getting the exact same errors.

Thank you very much

[2022-03-04 04:10] 01ZerosOnes01 commented on #2007
I haven't been able to get it to work.Maybe some day?
    On Thursday, March 3, 2022, 08:11:41 PM CST, Mohammad Gaffori ***@***.***> wrote:

Hi! Has anyone been able to get this sorted? I manually complied an older version of CMake and even added the line to the bottom of CMakeList.txt, but am still unable to get it running and am getting the exact same errors.

Thank you very much

—
Reply to thi

[2022-03-04 06:00] mohammadsen commented on #2007
Hello! I FINALLY got it sorted. I had the most current Raspberry Pi Os (Bulldog). I downgraded to the most recent version of the prior OS, Buster, and got it to work great. Hope this helps

[2022-03-04 20:14] sharmajs-amzn commented on #2017
Hello @Noahfreriksen

We're currently investigating whether autoaudiosink should be the default audioSink setting instead of alsasink.

[2022-03-07 07:14] cwchawt200 commented on #1404
https://solarianprogrammer.com/2017/12/08/raspberry-pi-raspbian-install-gcc-compile-cpp-17-programs/

for Raspian 10 or above

[2022-03-07 08:08] cwchawt200 commented on #2007
thx for sharing.Wish me luck

[2022-03-07 08:09] cwchawt200 commented on #2007
![image](https://user-images.githubusercontent.com/81082382/156992192-89823c16-fff2-4175-944e-a36093cb5d78.png)
 still no joy

[2022-03-07 17:29] Lmau3 commented on #1971
Hi @azlffrossa ,

Sorry I closed the issues by mistake. Now I have reopened it.

[2022-03-07 17:30] 01ZerosOnes01 commented on #2007
That's a shame. Maybe one day it will work again. Maybe?
    On Monday, March 7, 2022, 02:09:50 AM CST, cwchawt2000 ***@***.***> wrote:

still no joy

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you commented.Message ID: ***@***.***>

[2022-03-08 22:05] brett-lynnes opened #2018 "Typo in PreviewAlexaClient.cpp"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Typo around line 200 of applications/acsdkPreviewAlexaClient/src/PreviewAlexaClient.cpp

the line:
std::shared_ptr<avsCommon::sdkInterfaces::storage::MiscStorageInterface>,

is duplicated

## What is the

[2022-03-09 19:41] kjkh commented on #2018
Hi,

Thanks for pointing this out. We will make the appropriate fixes. Closing out the ticket.

[2022-03-09 19:41] #2018 closed

[2022-03-10 05:04] kader0100 commented on #2007
i also have the same error, have tried to change CMakeList.txt but still stuck at the same error

[2022-03-14 05:47] zhaokai3000 commented on #2015
Something wrong with my usage of libcurl, the call to curl_easy_setopt with command CURLOPT_POSTFIELDS doesn't make a copy of the post data while I'm using a temporary variable for the post data. So the post data is sometimes corrupted.
Closing this issue...

[2022-03-14 05:47] #2015 closed

[2022-03-15 16:19] #1998 closed

[2022-03-19 00:38] Karthikeyyan opened #2019 "CLONING SDK- Issue"
Error Message  while using wget https://raw.githubusercontent.com/alexa/avs-device-sdk/master/tools/Install/setup.sh \-

Cloning into 'avs-device-sdk'..
fatal: remote error:
    The unauthenticated git protocol on port 9418 is no longer supported.
Please see https://github.blog/2021-09-01-improving-git-protocol-security-github/ for more information

Unable to Install Amazon AVS SDK on Raspberry Pi

[2022-03-21 21:53] womw commented on #2019
Hi @Karthikeyyan thanks for bringing this to our attention, we'll take a look at this.

[2022-03-21 22:18] womw commented on #2007
Hi @kader0100 have you tried the previous fix from issue #2006

[2022-03-21 22:22] womw commented on #2013
Hello @BonZai-841 due to inactivity I will be closing this issue, if this still persists feel free to open a new issue.

[2022-03-21 22:22] #2013 closed

[2022-03-21 22:59] womw commented on #2012
Hello @DP0077bruh due to inactivity I'll be closing this ticket. Please feel free to open a new one if you continue experiencing this issue.

[2022-03-21 22:59] #2012 closed

[2022-03-22 04:18] Kiennguyen08 commented on #2015
Hi @zhaokai3000 can you tell me how you transmit information get from companion app to device?

[2022-03-22 04:29] Kiennguyen08 commented on #1961
Hi @albanoandrea can you tell me how you transmit information get from companion app to device?

[2022-03-22 11:43] kader0100 commented on #2007
Done that, still not working

On Tue, Mar 22, 2022, 6:18 AM womw ***@***.***> wrote:

[2022-03-23 06:59] Kiennguyen08 commented on #1009
Hi @visayamv could you show me how to transmit infomation (like Authorization Code) from companion app to avs-enabled device?

[2022-03-23 07:04] Kiennguyen08 opened #2021 "Transmit Authorization Code from Companion App to Speaker"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I have no idea how to transmit Authorization Code (from LWA User Consent) to Speaker
## What is the expected behavior?

Transmit Authorization Code successfully
## What behavior are you observing?

## Pr

[2022-03-23 08:43] Kiennguyen08 commented on #709
Hi @kjkh could you tell me how to implement the AuthDelegateInterface for Authorization through companion app?

[2022-03-23 11:12] Noahfreriksen opened #2022 "Wrong playback hardware device is used"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
The SampleApp is using the wrong device for its playback when installing with the script

## What is the expected behavior?
That the SampleApp uses card 1 device 0 as a playback device

## What behavior a

[2022-03-23 11:18] Noahfreriksen commented on #2017
For users encountering this issue, you need to install gstreamer1.0-tools for autoaudiosink to produce audio.
[code]

[2022-03-23 14:00] Noahfreriksen commented on #2022
Update,

I disabled the bcm card and now AVS returns the following error when trying to output audio:
[code]

Of course I set the default card in the alsa configs to the card that is still available.

[2022-03-28 18:03] womw commented on #2022
hello @Noahfreriksen we're currently investigating this issue, thanks for bringing this to our attention

[2022-03-30 15:52] 3dw1np commented on #2017
I am having the same issue on Mac with AVS SDK v1.26

[2022-04-01 03:47] Kiennguyen08 commented on #2021
Hi @womw thanks for your suggestion, I'll figure out it.

[2022-04-01 03:47] #2021 closed

[2022-04-05 22:06] brett-lynnes opened #2023 "Alarm list in AVS cloud does not match local copy"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Using a LOCAL_STOP on an snoozing AVS alert (set using "Alexa set alarm at [time]", then when it goes off say "Alexa snooze") the alarm is removed locally (will not trigger at the end of 9 minutes of sno

[2022-04-05 22:08] brett-lynnes commented on #2023
[W](main-thread) 14:51:02.7206 RSBS createAnimation: [blinkCycle|min 0|max 1|500000000]
[W](main-thread) 14:51:03.7242 RSBS createAnimation: [blinkCycle|min 0|max 1|500000000]
2022-04-05 21:51:04.059 [ 1c] 9 KeywordObserver:computeStartOfSpeechTimestamp:timeSinceStartOfWW=720
[I](140005901055744) 14:51:04.0598 2022-04-05 21:51:04.059 [  6] I AudioInputProcessor:Create audio attachment reader succe

[2022-04-06 00:48] brett-lynnes opened #2024 "Not getting DND directive in 1.26.0"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

1.26.0 appears to no longer receive DoNotDisturb directives from AVS. After toggling DND on (in this example from the App) the only message received from the server is to clear notifications (logs during

[2022-04-06 19:32] robsterthelobster commented on #2017
I rolled back `gstreamer, gst-plugins-good, gst-plugins-base, gst-plugins-bad, gst-libav` to 1.18.5 and it resolved the issue for me.

[2022-04-07 03:35] ZhangyeAye opened #2025 "How can AVS return text in the response?"
for example when I say "alexa,what‘s the weather in New York", avs response "New York would be cloudy at the time with the temperature from eighteen to twenty-eight."。both two is sound, how can i get text。
thanks

[2022-04-08 07:37] Surya1995 opened #2026 "32 bit pseudo relocation at xxxxxxxxxxxx out of range, targeting xxxxxxxxxxxx, yielding the value xxxxxxxxxx"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

[code]

[2022-04-08 09:11] #2026 closed

[2022-04-08 16:26] wryley-amzn commented on #2025
Hi @ZhangyeAye, to get the text of the speech response you can enable captions by following these instructions: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/features.html#captions.

However, please keep in mind that captions should only be used for accessibility / UI purposes and not have business logic built on top of them.

[2022-04-08 16:46] wryley-amzn commented on #2024
Thanks for bringing this to attention @brett-lynnes, we'll take a look into this

[2022-04-08 18:06] wryley-amzn commented on #2023
Thanks for bringing this to attention @brett-lynnes, we'll take a look into this

[2022-04-13 00:39] brett-lynnes commented on #2024
adding this line in PreviewAlexaClient seems to get it to work (after forcing it to re-send capabilities?)

`auto dnd = manufactory->get<std::shared_ptr<capabilityAgents::doNotDisturb::DoNotDisturbCapabilityAgent>>();`

[2022-04-13 06:35] sivakumarar opened #2027 "Loading Multiple WakeWord Models in to the pryonlitewakeword detector."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

This may not be a bug, but a query or clarification.
In the PryonLiteKeywordDetector adaptor used for AlexaVoiceService SDK version 1.26, it can load single WWE model file in to memory and pass in to Pry

[2022-04-13 23:55] blazusiak-amazon commented on #2027
Hello @sivakumarar,
Could you please file a ticket with an Amazon Solutions Partner who is working with you to get this investigated?
I will be closing this ticket.
Best

[2022-04-13 23:55] #2027 closed

[2022-04-18 05:55] blazusiak-amazon commented on #1938
Hello @Panp59,

[2022-04-18 05:55] blazusiak-amazon commented on #1938
Hello @Panp59,

[2022-04-18 05:56] blazusiak-amazon commented on #1938
Hello @Panp59,
Are you still experiencing issues setting up SampleApp on your Raspberry Pi?

[2022-04-18 05:58] blazusiak-amazon commented on #1966
Hello @hatosan0112,
Are you still experiencing issues with Wake Word engine?

[2022-04-18 06:02] blazusiak-amazon commented on #1983
Closing issue due to inactivity. If there are any further questions, please feel free to re-open.

[2022-04-18 06:02] #1983 closed

[2022-04-18 06:03] blazusiak-amazon commented on #1990
Closing issue due to inactivity. If there are any further questions, please feel free to re-open.

[2022-04-18 06:03] #1990 closed

[2022-04-18 06:05] blazusiak-amazon commented on #2014
Closing issue due to inactivity. If there are any further questions, please feel free to re-open.

[2022-04-18 06:05] #2014 closed

[2022-04-20 11:22] RaniVincent123 opened #2028 "Cannot update aace.geolocation.geolocationEnablement property"
_This is an issue related to Alexa Auto SDK 4.0, posting the issue here since "Issues" section is unavailable in Auto SDK github page.
It would be great if a solution is suggested else please provide a way to communicate with the auto SDK team._

## Briefly summarize your issue:
We are facing an issue in updating aace.geolocation.geolocationEnablement SDK property. Update is getting failed.
We hav

[2022-04-20 16:55] phlantin commented on #2007
Per my testing with the latest rpi Bullseye release (04/2022), the following tweak is needed to add atomic library to AVSCommon, otherwise multiple targets like AlertsTest fail:

— ./AVSCommon/CMakeLists.txt.ORIG     2022-04-19 10:18:23.652967676 -0700

+++ ./AVSCommon/CMakeLists.txt  2022-04-19 10:18:58.232472325 -0700

@@ -138,7 +138,7 @@

 target_include_directories(AVSCommon PUBLIC

     ${CUS

[2022-04-20 17:40] 01ZerosOnes01 commented on #2007
Hi Philippe,That you got it working is great news.I'm a newbie to Debian/bash command line so can you tell me howsomeone should use your fix?Where and how do I add your commands/code?I would love to try your fix and get Alexa on my MagicMirror working again.
Again good news that you found a solution and thanks for sharing.I'm sure a lot of people have been frustrated by this problem.Can't wait to

[2022-04-20 21:44] sharmajs-amzn commented on #1971
Hello @Lmau3
Are you still experiencing this issue ? if so can you please set another reminder > 24 hrs out and report the time here when the reminder starts ?

[2022-04-21 18:06] penguinrunner commented on #2007
@01ZerosOnes01

He is saying to edit line 141 and change it from:
[code]

to
[code]

and to also add the word atomic on line 149 within the parentheses
from this:
[code]

to this:
[code]

Mine is still compiling so I can't confirm if it is working yet or not.

[2022-04-21 22:30] phlantin commented on #2007
Thank you @penguinrunner, feedback on if this worked for others having this issue would be useful.

[2022-04-22 05:18] 01ZerosOnes01 commented on #2007
This was done with a fresh install of the latest Pi OS 32 bit version running on a 3b 2GB.
Now getting this error
2193 |     _Rb_tree<_Key, _Val, _KeyOfValue, _Compare, _Alloc>::
      |     ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[ 19%] Linking CXX executable ContextManagerTest
/usr/bin/ld: ../../AVSCommon/libAVSCommon.so: undefined reference to `__atomic_fetch_add_8'
/usr/bin/ld: ../

[2022-04-22 12:31] penguinrunner commented on #2007
@01ZerosOnes01 You will also need to change line 21 in the initial setup.sh file you downloaded

From
[code]

to
[code]
This is due to the security changes on github on how files are allowed to be pulled.

@phlantin It did in fact finish compiling and I was able to authorize with the code provided in the terminal.

It does work now with the push to talk "t+enter". Now I need to go search for a wak

[2022-04-22 15:14] 01ZerosOnes01 commented on #2007
Okay here is an update.
I was able to successfully compile and authorize the AVS SDK using the script method using the edits discussed on this thread. At this time though there is no wake word engine. So you have to use t enter to ask a question of Alexa. Not useful in a MagicMIrror environment. You have to close the MagicMirror app to issue the t command.  So we are making progress but just not t

[2022-04-25 08:11] EastApex commented on #2025
Hi @wryley-amzn Thank you for your reply, but this is not what I wanted.
What I want is to return text via Alexa Voice Service without using DeviceSDK.
Thank you very much!

[2022-04-25 15:38] chesteryu78749 commented on #1988
What was the resolution, please?  I am having the same issue.

[2022-04-25 16:56] wryley-amzn commented on #2025
Please see this page for what is returned from the cloud for speak directives - perhaps something you need is there. https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/speechsynthesizer.html

[2022-04-25 19:10] praneethprpr commented on #1988
Rebuilding after deleting the build directory resolved the issue for me. Also make sure to add absolute paths for all the cmake commands

[2022-04-25 20:46] phlantin commented on #2007
You can use a slightly older version of the SDK (v.1.24) which has support for the Kitt.AI WW.

[2022-04-25 22:37] chesteryu78749 commented on #2026
Were you able to resolve this issue?  I am having the same problem.  Please share your solution.  Thanks.

[2022-04-26 09:08] Lmau3 commented on #1971
Hello @sharmajs-amzn ,
yes, I'm still having this problem. I have set a reminder> 24 hours for tomorrow 27 April at 9.30 ( 11.30 – Italy time: System :: timeZone ',' "" Europe / Rome "" ') set at 8.45 ( 10.45 italy time  )
I am attaching the database alerts.db log for clarity.
[alerts_database_reminder_more24hour.txt](https://github.com/alexa/avs-device-sdk/files/8561553/alerts_database_reminder_m

[2022-04-26 10:43] Surya1995 commented on #2026
Open your mingw.sh (Project Root Directory File) file and replace the following line:

```export CC=`which clang` export CXX=`which clang++````

With the following line:

```export CC=`which gcc` export CXX=`which g++````

and rebuild application

[2022-04-26 14:22] chesteryu78749 commented on #2026
Thank you.  That worked.  You are very helpful.

[2022-04-26 14:23] chesteryu78749 commented on #1988
Thank you.  It worked.  You are very helpful.

[2022-04-26 22:40] yyang160 commented on #2028
Hello,

Thanks for reaching out. Geolocation is an Alexa Auto SDK extension which you can obtain from our Solution Architects (please refer to this documentation in Alexa Auto SDK for this: https://github.com/alexa/alexa-auto-sdk/blob/9324a7776da8b2d2210b76a88330c3f695d9b9f6/NEED_HELP.md). Without the extension, the property is not available and geolocation consent would not be updated.

Additiona

[2022-04-28 05:38] xhlinux opened #2029 "build error for libLibSampleApp.dylib"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
build error
`make SampleApp`

build part:
`
$HOME/Documents/avs/source/avs-device-sdk \
 -DGSTREAMER_MEDIA_PLAYER=ON \
 -DCURL_LIBRARY=/usr/local/opt/curl/lib/libcurl.dylib \
 -DCURL_INCLUDE_DIR=/usr/loca

[2022-04-28 09:49] NISHIGANDHA123 commented on #1633
Hi, I am facing issue in building AVS SDK framework on iOS platform.
Below issue we are facing when I trigger build command.

CMake Error at /usr/local/Cellar/cmake/3.23.1/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Could NOT find CURL: Found unsuitable version "7.64.1", but required is at
  least "7.67.0" (found
  /Library/Developer/CommandLineTools/SDKs/MacOSX12.1.sd

[2022-04-28 23:33] yacula commented on #2017
I'm having the same issue on Mac with ```gstreamer, gst-plugins-good, gst-plugins-base, gst-plugins-bad, gst-libav``` 1.20.1, rolling back to 1.18.5 did not fix the issue for me unfortunately.

[2022-04-29 06:47] NISHIGANDHA123 opened #2030 "AVS SDK not able to build on iOS platform"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Below issue we are facing when I trigger build command.
CMake Error at /usr/local/Cellar/cmake/3.23.1/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:230 (message): Could NOT find CURL: Found unsu

[2022-04-30 01:46] kjkh commented on #2029
Hi,

Can you please link against libportaudio.dylib inside .libs instead?

Additionally, can you please try building with the latest version of PortAudio found here?
http://files.portaudio.com/download.html

It should be pa_stable_v190700_20210406.tgz.

[2022-04-30 01:50] kjkh commented on #2030
Hi,

You are checking the version of the curl binary by running that command. However, you need to link against the right curl libraries.

When you run cmake, please use the following additional cmake variables. For example:

[code]

[2022-05-02 19:59] kclchan commented on #2017
Hello, can you try run the SampleApp with an additional environment `GST_PLUGIN_PATH` variable set to gstreamer's plugin path.  For example:

[code]

[2022-05-02 20:13] #2028 closed

[2022-05-04 14:35] 3dw1np commented on #2017
With the  gstreamer's plugin path it's working for me (AVS SDK 1.25 on Mac), thanks !

[2022-05-05 12:29] yacula commented on #2017
It works fine for me too now, thanks @kclchan !

[2022-05-07 13:03] xlb767923274 opened #2031 "Audible can't play sometimes"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

audible book  can't be read, only audible ui showd, alexa response: "sorry , i have some trouble"

## What is the expected behavior?

audible book can be read normally

## What behavior are you observing

[2022-05-08 21:32] justinpecott commented on #2017
Hit this while setting up the sample app on a Raspberry Pi running the latest Buster Lite. Tried changing the audioSink setting in AlexaClientSDKConfig.json to autoaudiosink instead of alsasink. That got me past this particular issue but resulted in no sound from the SampleApp.

Turns out the alsasink isn't installed by default, at least on the latest Buster Lite. Installed it, reverted the config

[2022-05-13 19:37] #1938 closed

[2022-05-15 04:13] bizhan opened #2032 "SampleApp fails to link"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Compiling SampleApp fails at linker stage:
SampleApp/src/SampleApplication.cpp:834: undefined reference to `alexaClientSDK::kwd::KeyworldDetectorProvider::create
## What is the expected behavior?

It sho

[2022-05-17 06:27] #2032 closed

[2022-05-17 06:27] bizhan commented on #2032
wrong configuration I was using.

[2022-05-20 00:12] koronusTraveler opened #2033 "Problem during SDK build for Windows: clang++: error: invalid linker name in argument '-fuse-ld=lld'"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
While I am building the SDK as per instructions on the how to setup AVS on windows this error has popped up twice during step 5. Step 5 is the download and building step for the SDK. When it tries the lin

[2022-05-20 18:50] wryley-amzn commented on #2033
Hi there, I think that this error is unrelated to the SDK but rather your clang++ compiler cannot recognize the '-fuse-ld=lld'. I believe you need to add this as a dependency to the project https://lld.llvm.org/. Perhaps this is included in one of the dependencies listed in https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/dependencies.html, please ensure that all required dependencies

[2022-05-20 19:54] koronusTraveler commented on #2033
How would about adding this as a dependency? I'm rather new to working with AVS.

[2022-05-22 21:44] khaled-elnaggar commented on #2033
I am having the same exact issue, could you provide more details?

[2022-05-23 18:45] dakshsriv opened #2034 "cc1plus fatal error and startsample.sh not found"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I was attempting to set up Alexa on my Raspberry Pi, however the build script failed to generate the startsample.sh file, nor successfully complete the build. I have searched online but found no useful h

[2022-05-23 18:54] dakshsriv opened #2035 "Build failure and startsample.sh not found"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I want to run the Alexa software on my Raspberry Pi 3B, however the build fails to complete and the startsample.sh is not being created.

## What is the expected behavior?

I expect the build to successfu

[2022-05-24 09:39] jaynabonne commented on #2033
I solved this on Windows by simply installing once more package:

pacman -S mingw-w64-x86_64-lld

[2022-05-24 22:34] cherylatamazon commented on #2022
@Noahfreriksen  what version of Buster are you using? Regular or lite?

[2022-05-27 14:51] xhlinux commented on #2029
I have build with pa_stable_v190700_20210406.tgz,  the issue is same.

[2022-05-29 22:52] vanelk opened #2036 "Sorry music or radio playback is not supported on this device"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I have successfully compiled and was able to run the Sample App from the avs-device-sdk on my raspberry pi. Still, when I ask Alexa to play some music I get the response "Sorry music or radio playback is

[2022-05-30 04:22] blazusiak-amazon commented on #2036
Hello @vanelk

Unfortunately music playback is only supported on certified devices. If you have an Alexa Business Representative, you can reach out to them for further questions.

[2022-05-30 04:22] #2036 closed