[2022-05-30 16:08] blazusiak-amazon commented on #2035
Hello @dakshsriv

It is possible that your Raspberry Pi has run out of memory during the installation process, or that it was overwhelmed with a multi-threaded compilation.

Could you please try the two following in our Troubleshooting guide:

- [Increase memory swap space](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/troubleshooting.html#issue-device-freezes-and-install-process-st

[2022-05-30 16:10] #2034 closed

[2022-06-01 11:29] jaynabonne opened #2037 "MediaPlayer destructor hangs if object destroyed too quickly."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
As part of my ramping up our Alexa client, I have been adding in functionality piece by piece. I got to the point of adding the (GStreamer) MediaPlayer, and I noticed the app then wouldn't shut down prope

[2022-06-01 11:34] jaynabonne commented on #2037
In the attached log, logging prefixed with "++++++" is in the MediaPlayer destructor. Logging prefixed with "------" is in workerLoop. It more or less parallels the code, so I'm hoping it won't be too hard to see what's what.

[2022-06-01 16:45] Mystik01 opened #2038 "Unable to install script on Raspberry Pi 4"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Unable to install the script on my Raspberry Pi
When I run ` sudo bash setup.sh config.json [-s 1234]`

## What is the expected behavior?

From the docs "AVS Device SDK Raspberry Pi Script - Terms and Ag

[2022-06-01 16:55] #2038 closed

[2022-06-02 06:03] liuyiamlogic opened #2039 "[avs 1.25.0v]Alexa can not play music"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

When I'm asking alexa to "give me a music", Alexa can not play music and speak “have trouble ...”;
But when I'm asking alexa to "give me a story", It works ok.

## What is the expected behavior?

Music c

[2022-06-02 06:09] liuyiamlogic commented on #2039
Hi Mr/ Ms, Here is the log that I say "playing music"：
#
#
#
# Amazon Keyword startIndex 3952160 endIndex 3961920
2022-06-02 02:11:14.130 [ 21] 9 KeywordObserver:computeStartOfSpeechTimestamp:timeSinceStartOfWW=814
2022-06-02 02:11:14.133 [ 21] 5 DefaultClient:notifyOfWakeWord:keyword=ALEXA,connected=true
2022-06-02 02:11:14.134 [ 21] 5 AudioInputProcessor:recognize
2022-06-02 02:11:14.134 [ 21] 9

[2022-06-02 06:37] #2039 closed

[2022-06-04 00:49] dakshsriv commented on #2035
I tried your fixes, but now my program hangs:
`[ 84%] Linking CXX executable DiscoveryEventSenderTest
[ 84%] Built target DiscoveryEventSenderTest
Scanning dependencies of target CapabilitiesDelegateTest
[ 84%] Building CXX object CapabilitiesDelegate/test/CMakeFiles/CapabilitiesDelegateTest.dir/CapabilitiesDelegateTest.cpp.o
[ 84%] Linking CXX executable CapabilitiesDelegateTest
[ 84%] Built targ

[2022-06-08 02:19] BobXLiu opened #2040 "avs-alexa-na.amazon.com url ping failed"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

We need to check the internet connection locally, when I test internet connection today using avs-alexa-na.amazon.com url (do ping test: ping -c 2 avs-alexa-na.amazon.com), it always fails. why? if it is

[2022-06-08 10:39] sonalip94 commented on #2017
@robsterthelobster can you please share, what steps you have followed to rollback?

[2022-06-08 19:08] jallwork opened #2041 "AVS SDK doesn't build - portaudio timeout"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Following the instructions here: https://developer.amazon.com/en-GB/docs/alexa/avs-device-sdk/raspberry-pi-script.html
Running command: sudo bash setup.sh config.json [-s 1234]

## What is the expected be

[2022-06-09 19:48] jallwork commented on #2041
Solution if portaudio is down
Find the latest version from https://github.com/PortAudio/portaudio/releases
(in my case v19.7.0.tar.gz)

Change the code at the top to:
#PORT_AUDIO_FILE="pa_stable_v190600_20161030.tgz"
#PORT_AUDIO_DOWNLOAD_URL="https://github.com/PortAudio/portaudio/archive/refs/tags/$PORT_AUDIO_FILE"

PORT_AUDIO_FILE="v19.7.0.tar.gz"
PORT_AUDIO_DOWNLOAD_URL="https://github.com/Port

[2022-06-09 19:48] #2041 closed

[2022-06-13 20:48] kjkh commented on #2040
Hi @BobXLiu,

It's not advised to check internet connection by pinging that endpoint. If your device has already gone through discovery and is authorized, you can check AVS connection by pinging the assigned gateway (this is assigned by AVS on discovery):
https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/manage-http2-connection.html#ping-timeout

Discovery documentation:
https://de

[2022-06-13 23:44] kjkh commented on #2033
Closing ticket as instructions for the `lld` dependency are provided. If there are any further questions, please feel free to open another ticket.

[2022-06-13 23:44] #2033 closed

[2022-06-18 01:01] kjkh commented on #2031
Hi @xlb767923274 ,

Is this issue still occurring, and have you been able to reproduce this on the latest version of the SDK?

[2022-06-20 01:57] xlb767923274 commented on #2031
Is this issue still occurring,?
  ===>  yes
and have you been able to reproduce this on the latest version of the SDK?
  ===> I have not update the lastest version, it's Heavy workload for me，but I think the error still exists after reviewing the changes related to the newest version code..

[2022-06-22 15:20] msabatin opened #2042 "Which version of OPUS codec"
Hello. I just have a general question about the version of OPUS required for AVS and AMA.

As I understand it from examining the specifications, the current minimum version of OPUS required by Amazon is 1.2.1. My question is if there are any plans to upgrade this minimum requirement in the foreseeable future to 1.3.1.

Thanks

[2022-06-28 23:40] DepoASC5 commented on #2017
Having same issue on mac however
`GST_PLUGIN_PATH=/usr/local/lib/gstreamer-1.0 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json`
doesn't work for me.

` GST_PLUGIN_PATH=$(brew --prefix)/opt/gstreamer/lib/gstreamer-1.0 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9
configFile ./Integration/AlexaClientSDKConfig.json
Running app with log level: DEBUG9
2022-0

[2022-07-04 18:20] wryley-amzn commented on #2042
Is there a specific reason for the minimum upgrade inquiry? Is there something incompatible with upgrading the version?

[2022-07-06 00:56] brett-lynnes opened #2043 "400 response during AddOrUpdateReport (for some users)"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
While logging into AVS on our device for the first time, some users (using the iOS companion app, not the Android companion app) are getting rejected during Discovery. The error from the server is a 400 B

[2022-07-07 07:56] msabatin commented on #2042
No, just looking for clarity if we need to start preparing for an upgrade of OPUS. Good that we can stick to 1.2.1 for now.

[2022-07-11 17:07] #2042 closed

[2022-07-11 17:10] blazusiak-amazon commented on #2025
Hello @EastApex,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question was not been answered fully.

[2022-07-11 17:10] #2025 closed

[2022-07-11 17:30] #1966 closed

[2022-07-11 17:32] blazusiak-amazon commented on #2040
Hello @BobXLiu,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question was not been answered fully.

[2022-07-11 17:32] #2040 closed

[2022-07-11 17:33] blazusiak-amazon commented on #2030
Hello @NISHIGANDHA123,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question was not been answered fully.

[2022-07-11 17:35] blazusiak-amazon commented on #2022
Hello @Noahfreriksen,
Are you still experiencing this issue?

[2022-07-11 17:38] blazusiak-amazon commented on #1971
Hello @Lmau3,
Any updates on the new reminders test on SDK Version 1.26?

[2022-07-11 17:42] #2017 closed

[2022-07-12 07:27] paarth4 commented on #1708
I am having the same issue. Any solution?

[2022-07-20 05:03] Qianqian-Bella opened #2044 "Build failure for the AVS Device SDK using make -j4 command"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
After using "make -j4", I got an error.

## What is the expected behavior?
build SDK

## What behavior are you observing?
I get an error output:
[  2%] Built target NotifierTest
make[2]: *** No rule to ma

[2022-07-22 09:36] ankitsablok89 commented on #833
I met the same error but on Apple M1 MAC. Has anyone been able to solve this problem for M1 MAC?

[2022-07-24 18:50] kjkh commented on #2044
Hi @Qianqian-Bella,

The curl libraries are not being found as part of the build. From the instructions at https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/mac-os.html#step-4-build-the-sdk-sample-app, you need to ensure that you've added the following to your cmake command:

[code]

It's possible those paths don't exist or have changed on your OS. If installed using homebrew via the Qu

[2022-07-24 19:03] kjkh commented on #2043
Hi @brett-lynnes,

Sorry for the delayed response. We are contacting the appropriate internal teams to investigate further. To help aid with this, would you be able to reproduce the issue and attach fresh logs?

[2022-07-25 15:04] Qianqian-Bella commented on #2044
my `brew info openssl@1.1` showed
/opt/homebrew/Cellar/openssl@1.1/1.1.1q

and I confirmed that I have included the following to the cmake
`-DCURL_LIBRARY=/usr/local/opt/curl/lib/libcurl.dylib \
-DCURL_INCLUDE_DIR=/usr/local/opt/curl/include \`

So should I update it accordingly?

[2022-07-26 02:58] Qianqian-Bella commented on #2044
Sorry,`brew info curl` showed:
/opt/homebrew/Cellar/curl/7.84.0

[2022-07-26 11:08] Qianqian-Bella commented on #2044
I encountered a new problem when going through **Step 5: Run the AVS Device SDK sample app** in  [macOS Quick Start Guide](https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/mac-os.html#step-5)

I tried the command `GST_PLUGIN_PATH=/opt/homebrew/lib/gstreamer-1.0 ./SampleApp /Users/bellahahaha/Desktop/wechaty/sdk_folder/sdk-build/Integration/AlexaClientSDKConfig.json DEBUG9` but

[2022-07-27 15:33] ankitsablok89 commented on #2017
I am trying to get the sample app working on Apple Silicon (M1 MAC with Monterey OS) and the following doesn't really work for me

`GST_PLUGIN_PATH=/opt/homebrew/Cellar/gstreamer/1.20.3/lib/gstreamer-1.0 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json`

Please advise as to how to fix this issue?

[2022-07-27 18:01] ankitsablok89 commented on #2017
Was able to fix this, was using the wrong path for the GStreamer libraries : `GST_PLUGIN_PATH=/opt/homebrew/lib/gstreamer-1.0 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9`

[2022-07-27 23:32] kclchan commented on #2044
@Qianqian-Bella, it seems to be failing at:
[code]
Please make sure you are using and building the latest version of PortAudio (i.e. pa_stable_v190700_20210406.tgz) as mentioned in [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/mac-os.html#step-2-set-up-your-macos-environment).  Thanks!

[2022-07-28 02:02] Qianqian-Bella commented on #2044
I am using M1 MacOS Monetary 12.3, and it seems that `wget -c http://www.portaudio.com/archives/pa_stable_v190700_20210406.tgz` got the error:
[code]
I am afraid that my system cannot install this version(?

[2022-08-01 16:28] kclchan commented on #2044
Hi @Qianqian-Bella, I think the installation guide has been updated to use the homebrew version of PortAudio.  Could you follow the guide here again: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/mac-os.html

[2022-08-02 02:26] ventilin commented on #1997
Hi @scippacercola,
I enounter the same issue, could you kind to share how do you workaround it ?

[code]

[2022-08-02 10:43] ventilin opened #2045 "configureRecognizeMode"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2022-08-09 00:18] seboraid commented on #1588
This is the official Amazon response to my request: I understand that you would like to have access to Spotify in your Raspberry Pi device. Please note that due to licensing restrictions, this is currently not possible.

[2022-08-12 17:29] F1n3P1Tr1 opened #2046 "MediaDescription.h errors during installation"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Running into errors during install on Raspberry Pi. Used instructions from https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi-script.html

## What is the expected behavior?
System s

[2022-08-15 17:35] wryley-amzn commented on #2046
Hi, this looks like a compiler issue based on the error that comes up. You could try to use the steps suggested here to resolve - https://github.com/tqchen/tinyflow/issues/16 - will consider updating code for all compiler versions.

[2022-08-16 14:08] nayanthorat125 opened #2047 "Sorry! music and radio playback are not supported on this device"
2022-08-16 14:03:34.022 [ 33] 7 HTTP2Transport:createAndSendRequest:type=POST
2022-08-16 14:03:34.022 [ 33] 9 HTTP2MimeRequestEncoder:getRequestHeaderLines
2022-08-16 14:03:34.022 [ 33] 9 MessageRequestHandler:getRequestHeaderLines
2022-08-16 14:03:34.022 [ 33] 9 HTTP2Transport:onActivity
###########################
#       Speaking...       #
###########################

2022-08-16 14:03:34.087 [

[2022-08-16 14:09] nayanthorat125 commented on #2047
Please help me this error

[2022-08-18 14:49] albdom commented on #2007
For me solved with the following steps.

1. Navigate to the 'avs-device-sdk/cmakeBuild/cmake' directory.
2. Open Platforms.cmake file.
3. At the end of the file, add the following code.
[code]
4. Save, and then close the file.
5. `sudo bash setup.sh config.json`

[2022-08-18 17:17] F1n3P1Tr1 commented on #2046
Hi -
I looked at that link; is there by any chance something a bit simpler? I have basically no experience with this stuff. The link delves heavily into technospeak, so I really have no idea what I should do.

[2022-08-18 21:52] wryley-amzn commented on #2046
No worries - in AVSCommon/Utils/include/AVSCommon/Utils/MediaPlayer/MediaDescription.h, you can try replacing the code in line 76 - constructor's `{}` (empty list) parameter - to `std::unordered_map<std::string, std::string>()`.
A fix is currently in review as well, will post again here when that has been merged to mainline.

[2022-08-19 10:33] ankitsablok89 commented on #2029
I am facing the same issue as well. Here is the gist of the issue :

[code]

[2022-08-19 16:12] blazusiak-amazon commented on #2047
Hello @nayanthorat125 ,

[2022-08-19 16:23] blazusiak-amazon commented on #2045
Hello @ventilin
Could you provide the information provided in the template so that we can better help you:

- Summary of the issue
- Expected Behavior
- Steps to Reproduce
- Version of the SDK being used
- Hardware and OS being used

[2022-08-19 17:12] blazusiak-amazon commented on #2044
Hello @Qianqian-Bella,
Did the above recommendation to use homebrew to install PortAudio resolve your build failure?

[2022-08-22 00:28] blazusiak-amazon commented on #2022
Hello @Noahfreriksen,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-08-22 00:28] #2022 closed

[2022-08-22 00:32] blazusiak-amazon commented on #1971
Hello @Lmau3,
Will you be able to provide any updates on the new reminders test on SDK Version 1.26? Otherwise, I will proceed with closing the ticket.

[2022-08-22 00:35] blazusiak-amazon commented on #1924
Hello @Mechan0,
Are you still experiencing this issue? Are you able to recreate this issue on the latest SDK Version?

[2022-08-22 00:39] blazusiak-amazon commented on #1848
Hello @eytu0233 and @yuan0258,
Are you still experiencing this issue? Are you able to reproduce this on the latest SDK version?

[2022-08-22 00:41] blazusiak-amazon commented on #1807
Hello @Lmau3,
Are you still experiencing this issue? Are you seeing this on the latest SDK Version?

[2022-08-22 00:42] blazusiak-amazon commented on #1755
Hello @shao-estone, @angelobt, and @wjennings,

Are you able to still reproduce this issue? Are you still experiencing this on the latest SDK Version?

[2022-08-22 00:43] blazusiak-amazon commented on #2043
Hello @brett-lynnes,
Are you still experiencing this? Would you be able to reproduce this and attach fresh logs?

[2022-08-22 00:44] blazusiak-amazon commented on #2037
Hello @jaynabonne,
Are you still experiencing this issue? If so, could you please provide more information to the question asked above?

[2022-08-22 00:59] blazusiak-amazon commented on #1930
Hello @JordanTaylo, @HelloYuGi, @krustache,
Are you still experiencing this issue? Are you able to reproduce this on the latest version of the SDK?

[2022-08-22 06:25] ajesh-vincent opened #2048 "Sample App not Running"
I had installed all the requirements from this link:
https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/windows-64.html.

I have installed all the dependencies before proceeding
https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/dependencies.html

During installation we did not provide any device registration number. It had taken all default values.

While performing Step 7: Ru

[2022-08-22 19:39] jaynabonne commented on #2037
Hi.
Apologies for not getting back to you on this. I'm not experiencing this issue any longer, as our code has advanced to the point where this can no longer happen. I imagine it would still happen if we shut down quickly enough, but it's not a problem affecting our production code.

In terms of threading, we're only using a single thread. However, the AVS code is being loaded as a .so dynamically

[2022-08-23 06:54] ventilin commented on #2045
Hi @blazusiak-amazon
I will prepare log...and update on here.

[2022-08-23 10:57] ape-ai opened #2049 "C++ condition_variable wait_for api cause CPU loading high"
i found an issue about when using the C++ condition_variable api wait_for and the wait duration set to std::chrono::steady_clock::now() + std::chrono::hours(1000000) will cause the CPU loading higher than other wait duration (like 10 seconds). maybe the std::chrono::steady_clock::now() + std::chrono::hours(1000000) is overflow cause the CPU loading is higher.

https://github.com/alexa/avs-device-s

[2022-08-26 09:14] Lmau3 commented on #1971
Hello  @Jacob
no i'm still working on porting the code, in this period i'm doing my
summer vacation, i think i'll finish the job in september. I will keep you
updates as soon as I will do the first tests

regards,
Mauro

Il giorno lun 22 ago 2022 alle ore 02:32 Jacob Blazusiak <
***@***.***> ha scritto:

[2022-08-29 14:58] Lmau3 commented on #1807
Hello @blazusiak-amazon ,
For now I have completed the update of my device to SDK version 1.25 and now I am continuing to update to 1.26.
The problem (Music playback becomes really choppy) seems a bit improved, in the sense that the problem is generated only the first time the playback of a music is paused after a period that the device is in stand-by mode.
The problem (music playback becomes real

[2022-08-29 19:29] sharmajs-amzn commented on #2048
Hello @ajesh-vincent

Could you provide the version of the SDK being used and also the dependencies that you have installed along with their versions so that we have more context. The most probable reason why windows OS might return an error code 0xc000007b is due to an invalid image format or the application not able to load all the necessary dll's, therefore please ensure that you are attempting

[2022-08-29 19:31] sharmajs-amzn commented on #2049
Hello @ape-ai ,
Could you provide the information provided in the template so that we can better help you:

    Summary of the issue
    Expected Behavior
    Steps to Reproduce
    Version of the SDK being used
    Hardware and OS being used

[2022-09-01 00:02] kjkh commented on #1755
Closing due to inactivity. If further assistance is required, please open a new ticket with reference to this one.

[2022-09-01 00:03] kjkh commented on #1848
Closing due to inactivity. If further assistance is required, please reopen a new ticket with reference to this one.

[2022-09-01 00:09] kjkh commented on #1906
This was fixed in 1.25. The printDiagnostic() function now calls non-locking versions of those methods.

[2022-09-02 09:36] RafigRzayev opened #2050 "Alexa with WWE: current status"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
We want to add Alexa into our product. Our product requires hands-free operation of Alexa, so we have to use wake word engine. These two issues are relevant: https://github.com/alexa/avs-device-sdk/issues

[2022-09-05 23:30] kjkh commented on #2019
Closing issue as this is resolved.

[2022-09-05 23:30] #2019 closed

[2022-09-05 23:31] #1755 closed

[2022-09-05 23:34] kjkh commented on #1901
Hi,

Please try following the instructions here to configure HDMI as the output: https://www.raspberrypi.com/documentation/computers/configuration.html.

As well, please install PulseAudio, and remove any installations of Jack.

[2022-09-05 23:34] #1906 closed

[2022-09-05 23:36] kjkh commented on #1905
This was fixed in 1.25. The printDiagnostic() function now calls non-locking versions of those methods.

[2022-09-05 23:36] #1905 closed

[2022-09-05 23:37] kjkh commented on #1930
Closing due to inactivity. If there are additional requests for support, please create a new ticket linking to this one.

[2022-09-05 23:37] #1930 closed

[2022-09-05 23:40] kjkh commented on #1957
Hi @longcp,

Is this problem still reproducible? Have you ensured that you have TemplateRuntime enabled for your device?

[2022-09-05 23:49] kjkh commented on #1967
Hi @CyberSinh,

This feature should now be available. If you have an AVS SDK instance on the Raspberry Pi that can support music playback, registering it to the same account as your Amazon Music account will allow you to connect to the Raspberry Pi and play from that device. To do this, please enter the Amazon Music app and click the gear icon for settings, and click "Connect to a Device".

Howeve

[2022-09-05 23:56] kjkh commented on #2037
In that case, closing the issue. If further support is required, please create a new issue with a reference to this one.

[2022-09-05 23:56] #2037 closed

[2022-09-06 00:01] #1848 closed

[2022-09-06 17:17] kjkh commented on #2024
Hi @brett-lynnes,

Just to clarify you are using PreviewAlexaClient as the base for your application?

[2022-09-08 16:25] kclchan commented on #1913
I think this issue is resolved by downgrading the version of libcurl as mentioned.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-09-08 16:25] #1913 closed

[2022-09-08 16:29] kclchan commented on #1919
Unfortunately the Sensory wakeword engine is no longer supported by the SDK.  If you have an Alexa Business Representative, you can reach out to them for further questions.

[2022-09-08 16:29] #1919 closed

[2022-09-08 21:58] CyberSinh commented on #1967
Thanks @kjkh.
I did some more tests with the latest version of the SDK, but using the [official script](https://developer.amazon.com/fr-FR/docs/alexa/avs-device-sdk/raspberry-pi-script.html), the _SampleApplication_ compilation fails. It seems that the problem is related to the lack of audio capture device, which is desired because it is not necessary for the intended use (audio streaming from the

[2022-09-09 00:05] kclchan commented on #2050
@RafigRzayev, if not done already, please create a Amazon developer account (https://developer.amazon.com/en-US/docs/alexa/ask-overviews/create-developer-account.html).  After an account is created, you can contact our [AVS Support Center](https://developer.amazon.com/alexa/console/avs/support) for support regarding WWE.

[2022-09-09 01:47] kclchan commented on #2046
I believe the issue is now resolved.  Please open another ticket if it's not the case.

[2022-09-09 01:47] #2046 closed

[2022-09-12 15:47] kclchan commented on #1899
This appears to be a configuration issue that is outside the scope of the SDK.  I am closing this ticket, please open a new issue if you need more help.

[2022-09-12 15:47] #1899 closed

[2022-09-12 20:14] BALDEAGLEVETERANs opened #2051 "Echo Show has songs come up as recently played that are not something we played? I have several devices in our home, but these explicit songs are not what we listen to. I have 2 Echo Dots and one Show. Could these songs be from the neighbor's device?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2022-09-15 13:39] akhabali opened #2052 "Build Error - WorkerThread.cpp:59:20: error: unqualified call to 'std::move' [-Werror,-Wunqualified-std-cast-call]"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Build failing on Windows 10 with (MINGW64_NT-10.0-19044) as follows

[code]

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applic

[2022-09-15 18:15] akhabali opened #2054 "clang++: error: invalid linker name in argument '-fuse-ld=lld'"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

The setup.sh fails on Windows MINGW64 with the following error:

Is the `wingw.sh` script responsible of installing required dependencies missing a required component ?

[code]

## What is the expected b

[2022-09-19 07:29] CyberSinh commented on #1967
Compiling the Alexa SDK on a Raspberry is a real pain. Why not provide directly precompiled binary?

[2022-09-20 08:38] RafigRzayev commented on #2050
@kclchan I responded to an email and my colleague also wrote through developer account. Through developer account we got following reply:

And I didn't get reply on the email (wrote 11 days ago).

[2022-09-26 08:55] RafigRzayev commented on #2050
Closing the issue. As I have understood, this topic is could be solved on corporate level, not through here.

[2022-09-26 08:55] #2050 closed

[2022-09-28 09:26] inno-kimje opened #2056 "SampleApp: No such file or directory"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

All builds and installations seems be successful.
However, when I try to run SampleApp on my target device (Android), the following error occurs :

$ LD_LIBRARY_PATH=/data/alexa/lib /data/alexa/bin/Sampl

[2022-10-03 15:59] blazusiak-amazon commented on #2051
Hello @BALDEAGLEVETERANs

[2022-10-03 16:35] #2051 closed

[2022-10-03 16:44] blazusiak-amazon commented on #1971
Hello @Lmau3,
I will be closing this ticket due to inactivity. If this issue appears again, please feel free to cut a new ticket.

[2022-10-03 16:44] #1971 closed

[2022-10-03 16:46] blazusiak-amazon commented on #1924
Hello @Mechan0,
I will be closing this ticket due to inactivity. If this issue persists, please feel free to cut a new ticket.

[2022-10-03 16:46] #1924 closed

[2022-10-03 16:54] blazusiak-amazon commented on #2049
Hello @ape-ai,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-10-03 16:54] #2049 closed

[2022-10-03 16:55] blazusiak-amazon commented on #2047
Hello @nayanthorat125,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-10-03 16:55] #2047 closed

[2022-10-03 17:30] blazusiak-amazon commented on #2054
Hello @akhabali,
Thank you for bringing this issue to our attention.
A formal fix for this issue is being investigated internally. In the meantime you can try the following.
Within the mingw.sh file on Line 37, could you update the code to the following:
[code]

[2022-10-03 17:33] blazusiak-amazon commented on #2052
Hello @akhabali,

Thank you for bringing this issue to our attention.
A formal fix for this issue is being investigated internally.
In the meantime, this issue can be resolved by including `std::` before the move function call in `avs-device-sdk/AVSCommon/Utils/src/WorkerThread.cpp:59:20`

[code]

[2022-10-03 17:36] blazusiak-amazon commented on #1807
Hello @Lmau3,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-10-03 17:36] #1807 closed

[2022-10-03 17:37] blazusiak-amazon commented on #1901
Hello @ldritsas,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-10-03 17:37] #1901 closed

[2022-10-03 17:50] blazusiak-amazon commented on #1916
Hello @BobXLiu,
Are you still experiencing this issue?

[2022-10-03 17:53] blazusiak-amazon commented on #1968
Hello @wkc2021,
Are you still experiencing this issue?

[2022-10-03 17:54] blazusiak-amazon commented on #1978
Helo @yvonne-mendonsa,
Are you still experiencing this issue?

[2022-10-03 17:57] blazusiak-amazon commented on #2024
Hello @brett-lynnes,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-10-03 17:57] #2024 closed

[2022-10-03 18:53] DeepikaBalaga commented on #1770
Hi team,

Thanks for the message.

I'm not sure about the issue as I left earlier organization. I'll surely
forward this email and let them know to reproduce the issue.

Best,
Deepika

On Mon, Oct 3, 2022, 18:35 Jacob Blazusiak ***@***.***> wrote:

[2022-10-07 06:21] #2056 closed

[2022-10-11 09:25] inno-kimje opened #2057 "Tap to talk on SampleApp, but nothing happens."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I ran SampleApp on Android and completed the authentication successfully.
'Alexa is currently idle!' is displayed and I tried to tap to talk, but nothing happens.
In 'https://alexa.amazon.com/spa/index.h

[2022-10-11 09:35] inno-kimje commented on #2057
log (2) :

2022-10-11 09:32:21.470 [ 17] 9 HTTP2Transport:onActivity:this=0xea677180
2022-10-11 09:32:21.470 [ 17] 9 MessageRequestHandler:attachmentRead:readStatus=1,bytesRead=0
2022-10-11 09:32:21.481 [ 17] 9 LibcurlHTTP2Request:readCallback:id=AVSEvent-7,size=1,nmemb=65536,userData=0xe9386a90
2022-10-11 09:32:21.481 [ 17] 9 HTTP2MimeRequestEncoder:onSendData:size=65536,state=SENDING_PART_DATA
2

[2022-10-15 00:15] kjkh commented on #2057
Hi,

I see this error, which is preventing the microphone from streaming:

`2022-10-11 09:32:18.988 [ 11] W AndroidMicrophone:configureRecognizeModeFailed:reason=cannot set configuration,result=2`

Does the microphone on your device work for other applications?

[2022-10-15 00:27] kjkh commented on #1967
It appears that compilation has not failed, but that instead this is a runtime failure.

SampleApplication specifically is intended to be used with a microphone implementation. If you do not wish to have one, and are familiar with C++, you can modify SampleApplication to bypass this behavior.

The quick and dirty way would be to no-op / return false in all of the methods in PortAudioMicrophoneWrap

[2022-10-15 00:29] kjkh commented on #1945
Hi,

Are you still experiencing this problem?

[2022-10-15 00:32] kjkh commented on #2029
There are updated instructions regarding installing PortAudio dependencies, that can be found here:

https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/mac-os.html

Would it be possible to give those a try and report back whether or not they are successful?

[2022-10-18 02:30] inno-kimje commented on #2057
I think there are no any other applications that use the microphone.

2022-10-11 09:32:18.988 [ 11] W AndroidMicrophone:configureRecognizeModeFailed:reason=cannot set configuration,result=2

"result=2" means SL_RESULT_PARAMETER_INVALID, is this because my microphone doesn't support Alexa-specific configuration? (FYI : The microphone is built into the board)

[2022-10-21 21:29] kclchan commented on #2057
@inno-kimje, I don't think there's any Alexa specific configuration.  For instance, SL_ANDROID_RECORDING_PRESET_VOICE_RECOGNITION is the configuration used.

https://github.com/alexa/avs-device-sdk/blob/b32be0a1139be1aa22f1df5f59ba394d3b6a9697/ApplicationUtilities/AndroidUtilities/src/AndroidSLESMicrophone.cpp#L96

[2022-10-21 21:30] kclchan commented on #2052
Closing the ticket since a solution has been provided.

[2022-10-21 21:30] #2052 closed

[2022-10-21 21:30] kclchan commented on #2054
Closing the ticket since a solution has been provided.

[2022-10-21 21:30] #2054 closed

[2022-10-21 21:31] kclchan commented on #2048
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-10-21 21:31] #2048 closed

[2022-10-21 21:32] kclchan commented on #2044
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-10-21 21:32] #2044 closed

[2022-10-21 21:35] kclchan commented on #2043
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-10-21 21:35] #2043 closed

[2022-10-21 21:37] kclchan commented on #1994
@xlb767923274, could you try again with the v3.0 version of the SDK?

[2022-10-21 21:39] kclchan commented on #2007
Closing this ticket as a solution has been provided already.

[2022-10-21 21:39] #2007 closed

[2022-10-21 21:39] kclchan commented on #1957
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2022-10-21 21:39] #1957 closed

[2022-10-24 05:42] inno-kimje commented on #2057
As you said, SL_ANDROID_RECORDING_PRESET_VOICE_RECOGNITION is being used but the problem still exists.
What should I check to solve this problem?

[2022-10-30 00:36] sugie opened #2058 "VERBOSE"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2022-10-31 08:43] #2057 closed

[2022-11-01 01:18] crazypp opened #2059 "Microphone doesn't work on Android"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I try to build and run console sample app on android 11.
recorderCallback() is called but the raw data is zero.
Sample app make  below message.
"AndroidMicrophone:configureRecognizeModeFailed:reason=cann

[2022-11-14 01:18] blazusiak-amazon commented on #2058
Hello @sugie,
Due to the issue being empty, I will close it. Please feel free to open a new ticket with a complete explanation of the issue you are experiencing or the question that you have.

[2022-11-14 01:18] #2058 closed

[2022-11-14 01:20] blazusiak-amazon commented on #2035
Hello @dakshsriv,
Could you please try building on the latest version of the SDK (3.0) and let us know if you are still experiencing issues building on the latest Raspbian OS.

[2022-11-14 01:22] blazusiak-amazon commented on #1994
Hello @xlb767923274,

Have you had an opportunity to try this on SDK version 3.0?

[2022-11-14 01:24] blazusiak-amazon commented on #1978
Hello @yvonne-mendonsa,

Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-11-14 01:24] #1978 closed

[2022-11-14 01:26] blazusiak-amazon commented on #1963
Hello @brett-lynnes,

Thank you for bringing this issue to our attention. A formal fix for this issue is being investigated internally.

[2022-11-14 01:26] blazusiak-amazon commented on #1945
Hello @xlb767923274,

Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-11-14 01:26] #1945 closed

[2022-11-14 01:27] blazusiak-amazon commented on #1770
Hello @DeepikaBalaga,

Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-11-14 01:27] #1770 closed

[2022-11-14 01:29] blazusiak-amazon commented on #1916
Hello @BobXLiu,

Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-11-14 01:29] #1916 closed

[2022-11-14 01:35] blazusiak-amazon commented on #1979
Hello @DallasPhoenix69,

Are you still experiencing this issue? If that is the case, could you please try disabling jack server?

[2022-11-14 01:36] blazusiak-amazon commented on #2029
Hello @xhlinux,

Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-11-14 01:36] #2029 closed

[2022-11-14 01:40] blazusiak-amazon commented on #1918
Hello @pavlonadolynskyi,

Are you still experiencing this on the latest version of the SDK (3.0)?

[2022-11-14 01:41] blazusiak-amazon commented on #1968
Hello @wkc2021,
Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-11-14 01:41] #1968 closed

[2022-11-14 01:42] blazusiak-amazon commented on #1936
Hello @mlabate,

Are you still experiencing this issue on the latest version of the SDK (3.0)?

[2022-11-14 01:44] blazusiak-amazon commented on #2059
Hello @crazypp,

Could you please confirm whether the issue is identical to the issue being tracked here: https://github.com/alexa/avs-device-sdk/issues/1997
If so could you follow the recommended steps there?

[2022-11-14 01:47] blazusiak-amazon commented on #1967
Hello @CyberSinh,

Due to the inactivity of this ticket, this ticket will be closed. Please feel free to re-open the ticket if you have more questions or feel that your question has not been answered fully.

[2022-11-14 01:47] #1967 closed

[2022-11-14 01:47] blazusiak-amazon commented on #1965
Hello @xlb767923274,

Is this issue still experienced on the latest version of the SDK (3.0)?

[2022-11-14 01:49] blazusiak-amazon commented on #1977
Hello @xlb767923274.

Are you still experiencing this issue on the latest version of the SDK (3.0)?

[2022-11-14 07:55] CyberSinh commented on #1967
I finally gave up on the idea of using Alexa Cast to stream Amazon Music with a Raspberry Pi.
It's a real hell: no pre-compiled binary, compilation that crashes the Pi (temperature too high, lack of memory to complete the compilation,...) and lasts for hours, no responsive technical support, no native mic-less support...
I've wasted enough time for an obviously unsupported scenario.

[2022-11-14 22:42] fmarotta opened #2060 "Adding support for porcupine"
Hi there, this past weekend I decided to take up the challenge posed by @kenarsa in #2004 and #1976, and eventually implemented a wrapper class for Porcupine. The wake word detection works fine! It was quite a bit of work for me, and the process was not documented anywhere, so it might be interesting for somebody to have at least an example of how to add a custom WWE. The code is now in [my fork](

[2022-11-16 00:16] brett-lynnes opened #2061 "After playing an Alarm with Music, the device's volume is set to the Alerts volume (instead of whatever it was)"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Setup:
"Alexa set volume 3" (verify level with "Alexa what time is it")
"Alexa set alarm volume 8"
"Alexa set an alarm to music at [some time a minute or two from now]"
-- alarm goes off --
"Alexa cancel

[2022-11-16 00:39] rowisahub commented on #2060
Man, thank you.
I've been trying to rap my head around trying to do the same thing for like a year now. This is going to help a lot.
I would honestly love to see this as a PR.

If i can figure it out, I'll add a PR for [Implement Wake Word Verification](https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/avs-ww-overview.html).

But you've helped my a lot, thank you so much

[2022-11-21 17:41] sharmajs-amzn commented on #2061
Hello @brett-lynnes,

Is this issue still experienced on the latest version of the SDK (3.0)?

[2022-11-22 13:50] eltonk commented on #2035
Same here... Building on a Raspberry Pi 3b, the process fails on the 95% of compilation:
`/home/elton/alexa/sdk-source/avs-device-sdk/ThirdParty/rapidjson/rapidjson-1.1.0/include/rapidjson/document.h:578:7: note: ‘class rapidjson::GenericValue<rapidjson::UTF8<> >’ declared here
  578 | class GenericValue {
      |       ^~~~~~~~~~~~
[ 95%] Linking CXX shared library libAVSSystem.so
[ 95%] Built ta

[2022-11-24 07:36] MansoorZ opened #2062 "AVS Device SDK Integration in iOS Application"
Hi Team,

    I would like to integrate Alexa Voice Service in to my application, through that I need to control my Alexa supported devices Such as light, plug and other home appliances.

I have integrated LWA SDK in my iOS application for authorisation and got successfully logged in, I have used my amazon account for login which is already registered in ALEXA amazon app as well. Registered my Ale

[2022-11-25 06:56] alibozkurtkyrd commented on #1705
0

I used fedora

I wrote command below and after rebooting my problme solved.

`sudo dnf install webkit2gtk3-devel`

[2022-11-30 10:25] zrrbite commented on #2052
I've also found this issue in the following files:

DavsRequest.cpp
UrlRequest.cpp
VendableArtifact.cpp