[2020-08-07 16:43] kclchan commented on #1774
Hi @Joodie262, you should be able to follow the instruction given [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#run-the-configuration-script) directly.  For example, from the log you have given, it seems that you ran the installation script in `/home/pi`, so you should be able to execute the command like this:

[code]

And then you will need to modify the  /

[2020-08-07 22:36] madelynj commented on #1756
@Ruhi697 Please direct Auto SDK inquiries to your automotive Solutions Architect or Partner Manager for the quickest resolution. Thanks!

[2020-08-08 18:23] bhandarisandeep opened #1776 "portaudio issue"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I am getting the portaudio.h : no such file or directory error after running the "make -j4" command in the sdk-build directory

## What is the expected behavior?
the code should compile properly and the

[2020-08-09 05:54] skd007 commented on #1771
Hi , I won't be able to try on lastest SDK version. After using default SDK 1.14 code without any changes to
bool MediaPlayer::queryIsSeekable(bool* isSeekable) in MediaPlayer.cpp file.
Seek() works fine for Heart radio and song is resumed.
But seek for other CP's like Amazon Music and Audible fails with message getseekSimple failed.

[2020-08-10 16:42] caleighatamazon commented on #1771
Hi @skd007 , thanks for the information. Can you please attach the DEBUG9 logs where you reproduce this issue on 1.14?

[2020-08-10 16:49] caleighatamazon commented on #1775
Hi @cameled , thanks for reporting this issue. I agree with you that this looks to be a bug. I'll create an internal ticket tracking this issue.

[2020-08-10 17:22] caleighatamazon commented on #1776
Hi @bhandarisandeep , thanks for posting. Can you please make sure you installed portaudio?

[code]
You will also need to ensure when you build the SDK that you use the following cmake arguments (along with whatever other arguments you used):
[code]

These instructions can be found under the "Ubuntu" tab in our Linux instructions (https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/linux.

[2020-08-10 23:06] anmolnehru opened #1777 "Invoking sampleApp microphone error"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Getting various errors related to portaudiomicrophonewrapper when sample app starts, which then fails to initialize

## What is the expected behavior?

Sample App should initialize

## What behavior are

[2020-08-10 23:07] anmolnehru commented on #1777
I have tried various other issues that I saw which recommended building AVS SDK with various flags but can't get around the issue.

[2020-08-10 23:14] #1777 closed

[2020-08-11 07:57] shawnpaffhausen commented on #1629
how did you fix the proxy

[2020-08-11 12:42] salexandru18 commented on #1629
The IT guys sent me a proxy that was less restrictive.

[2020-08-12 20:40] Joodie262 commented on #1774
Okay I did a manual install into an entirely new folder from scratch and it
works. I think some of the folders were missing from my first build for
some reason. I did have to restart the pi many times during the install
because it kept freezing up so that’s probably why it didn't work. I’ll
just stick with the new install now and not mess with it. Thanks for the
help!

On Fri, Aug 7, 2020 at 11:43

[2020-08-12 23:41] #1774 closed

[2020-08-14 00:32] yuan0258 opened #1778 "[es-US]Alexa server reply SUCCESS_NO_CONTENT but the audio is good"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

I use DIAGNOSTICS audio inject mode to test es-US.
It seems the es-US "bucle" command couldn't recognize by alexa cloud server.

2020-08-13 02:14:26.925 [ 21] 0 AudioInputProcessor:onSendCompleted:status=SUCCESS_NO_CONTENT
2020-08-13 02:

[2020-08-14 09:10] DeepikaBalaga commented on #1770
Thanks for the waiting @kclchan ,
Please check the below DEBUG9 logs for this issue. Also, we found one more issue when tried to capture DEBUG9 logs. That is Alexa got disconnected Automatically.

Please help to check this main issue - Give "Resume" command after pause an Audible book, Alexa will resume Amazon music instead of Audible book #1770  and let us know for the updates.

DEBUG9 LOGS:::
[A

[2020-08-14 11:04] vaites commented on #813
I solved it installing `gstreamer1.0-alsa`. After installing it `gst-launch-1.0 audiotestsrc ! alsasink` must work and Alexa sample app too.

[2020-08-14 12:18] dewijones92 commented on #1758
@scotthea-amazon
Hi can you please give me your email address?
I have a query about integrating with amazon custom skills.
Here is my email address
dewi@caredirect.tech
Thanks

[2020-08-14 17:21] caleighatamazon commented on #1778
Hi @yuan0258 , a few questions for you:
1. Does audio injection work for other audio files you've recorded? Is this the only one you have a problem with?
2. Can you try recording a different audio file of "bucle" to see if that works?
3. Did you build the SDK with wakeword enabled, or no?

[2020-08-14 19:01] caleighatamazon commented on #1758
Hi there, can you please email our team at avs-device-sdk@amazon.com ?

Thanks. I'll close this issue and we can continue the conversation over email.

[2020-08-14 19:01] #1758 closed

[2020-08-14 20:32] UmairSharif commented on #1459
Unfortunately, I'm stuck with the same issue. I'm not able to find any help to integrate Alexa in my iOS app.
@ShahShwetaj did you find any solution?

[2020-08-17 00:36] yuan0258 commented on #1778
Hi @caleighatamazon ,
1. Yes. It could work with other audio files. Yes. in other language such as en-US is ok to trigger alexa,loop mode

2. Here is another audio file it works. The first "alexa,bucle" is copy from previous one. The second "alexa,bucle" is used other text to speech method to produce. The third
audio files
[ufb_mic33dB_mic_esUS.zip](https://github.com/alexa/avs-device-sdk/files/50

[2020-08-17 04:36] DeepikaBalaga commented on #1770
Dear @kclchan ,

Thanks for waiting, please check the attached DEBUG9 logs captured.

Help us to either resolve this issue or support us to analyze the root cause from the DEBUG9 logs.

Let us know for any other information needed from our end.
[log_A10_AudibleResumeIssue_DEBUG9.txt](https://github.com/alexa/avs-device-sdk/files/5082170/log_A10_AudibleResumeIssue_DEBUG9.txt)

[2020-08-17 09:41] cameled opened #1779 "Sometimes, the "Thinking" dialog state does not stop immediately after the "RequestProcessingCompleted" directive received."
## Briefly summarize your issue:
We are working on the AVS certification self-test right now. When I doing the below test case, sometimes, the "thinking" state in **step 6** not stop immediately, it's stoped by the default "timeoutForThinkingToIdle" timer.

1. Alexa, play me too by meghan trainor on prime.
2. The sound played a moment.
3. Alexa, stop.
5. Wait a moment.
6. Alexa, resume.

## What i

[2020-08-17 15:58] caleighatamazon commented on #1771
I'm going to close this to inactivity, but please re-open a new issue with the DEBUG9  logs if this continues to be a problem.

[2020-08-17 15:58] #1771 closed

[2020-08-17 18:18] caleighatamazon commented on #1779
Hello @cameled, this is a known issue in the SDK and we are already tracking it internally to fix in a future release. Thanks for reporting it.

[2020-08-17 18:18] #1779 closed

[2020-08-17 21:09] gabrieldespindula commented on #1319
Hi folks, I think the issue I'm having was well described here, so I'm not creating a new one. Basically the sample app works fine when I first execute, after quitting by Ctrl + C and start over it doesn't work anymore, works again after some long interval (hours).
My sdk version is 1.20, using ubuntu 20. Following is the debug log after setting -DACSDK_EMIT_SENSITIVE_LOGS=ON.

[issueLogDbg9.txt](

[2020-08-17 21:44] mvelegon-amzn commented on #1319
Hi @gabrieldespindula I don't see full logs here that would explain why the SDK is not able to connect to AVS after restart.

Can you attach full logs for 1) Fresh register and SDK is able to connect and 2) Restart

[2020-08-18 09:30] oopyaephyo opened #1780 "Illegal Instruction while running Alexa Sample App on raspberry pi zero W"
i am getting an error when i try to run SampleApp.

pi@raspberrypi:~/sdk-folder/sdk-build $ PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9
configFile ./Integration/AlexaClientSDKConfig.json
#################################################
#       NOTIFICATION INDICATOR STATE: OFF       #
#################################################

################

[2020-08-18 16:53] mvelegon-amzn commented on #1780
Hi @oopyaephyo Thanks for reaching out. The issue you are seeing does not appear to be an SDK related issue. It seems like an issue with microphone or audio on the Raspberry Pi you are using.

Please ensure you follow the instructions mentioned here:
- https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html
- https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/troub

[2020-08-18 16:58] #1780 closed

[2020-08-18 17:25] mvelegon-amzn commented on #1776
Hi @bhandarisandeep Closing this issue as we haven't heard back from you. The issue with portaudio.h file not being found can be fixed by building port audio and using the cmake commands mentioned by @caleighatamazon above. Please open a new issue if you have trouble compiling the SDK.

[2020-08-18 17:25] #1776 closed

[2020-08-19 19:30] gabrieldespindula commented on #1319
Hi dear, today I wasn't able to make it work in the first try, however I did several attempts trying different options from the menu as well. Didn't succeed. The log is attached. I'll take a look in the logs myself and also keep trying a few more times, as soon as I manage to capture a successful run, I share it here.

[logSeveralTries.txt](https://github.com/alexa/avs-device-sdk/files/5098831/log

[2020-08-19 22:52] gabrieldespindula commented on #1319
Got a good log followed by a bad one after interrupting the execution using Ctrl + C.

[goodLog.txt](https://github.com/alexa/avs-device-sdk/files/5099722/goodLog.txt)

[2020-08-19 23:23] mvelegon-amzn commented on #1319
Hi @gabrieldespindula  there seem to be other issues with the logs you sent. For instance I see the following error show up. Note this is an issue with the audio on the device and should be fixed before using the SDK. Once you fix this issue please let us know if you are still seeing the connection error as you described earlier.

[code]

[2020-08-20 14:05] ankursharma319 commented on #1707
@scotthea-amazon has this been fixed in the latest release?

[2020-08-20 17:49] scotthea-amazon commented on #1707
Hello @ankursharma319,

I do not see a fix for this in 1.20.

Best regards,
-SWH

[2020-08-21 00:56] mvelegon-amzn commented on #1770
Hi @DeepikaBalaga The latest log you provided shows that the client is not connected to Alexa yet. It appears there is an issue with registration as well:

`2020-08-14 06:19:43.416 [ 2c] E MessageRequest:onExceptionReceived:exception={"header"\:{"namespace"\:"System"\,"name"\:"Exception"\,"messageId"\:"58cb66c9-6a06-4ecc-a5f1-95fc824cffc3"}\,"payload"\:{"code"\:"INVALID_REQUEST_EXCEPTION"\,"descri

[2020-08-21 03:22] tanyeun opened #1782 "AVS malfunction after connected to bluetooth through pulseaudio"
## Briefly summarize your issue:
Before we were able to stream audio through BlueAlsa with no problem.
After we integrate the bluetooth streaming with AVS, specifically through turning on this option:
-DBLUETOOTH_BLUEZ_PULSEAUDIO_OVERRIDE_ENDPOINTS=ON in avs-sdk.mk file.
We have seen strange behaviors over different devices. Our bluetooth related test cases generally
passed on iPhone devices. But

[2020-08-21 03:31] tanyeun commented on #1782
![image](https://user-images.githubusercontent.com/22489112/90849273-8511d680-e3a1-11ea-9736-51d524fdf3e4.png)
I can see these error messages but I was not able to comprehend what goes wrong.

[2020-08-21 19:18] jbfitb opened #1783 "DialogUXStateAggregator goes back to Listening state"
## Briefly summarize your issue:
I noticed that our app would go from `Thinking` to `Listening` and back to `Idle`. I was very confused until I saw this line:
https://github.com/alexa/avs-device-sdk/blob/master/AVSCommon/AVS/src/DialogUXStateAggregator.cpp#L121

I believe
[code]

should be

[code]

Logs:

[code]

[2020-08-24 17:03] mvelegon-amzn commented on #1778
Hi @yuan0258 I think this is a cloud issue and we will route it internally to the right team. Could you share the audio file where "bucle" was not being recognized so that we can reproduce it locally?

[2020-08-25 02:01] yuan0258 commented on #1778
@mvelegon-amzn ,

You could use this audio file to reproduce it
https://github.com/alexa/avs-device-sdk/files/5072102/playOption.wav.tar.gz

[2020-08-25 04:27] DeepikaBalaga commented on #1770
Dear @mvelegon-amzn   @kclchan ,

Please check the below attached DEBUG9 logs for this issue. Let me know for any further information from our end.

As this is a long time issue, please help to check and help us fast.
Thanks!
[A10_audibleLogs.txt](https://github.com/alexa/avs-device-sdk/files/5121327/A10_audibleLogs.txt)

[2020-08-25 06:17] sembhayy opened #1784 "Gstreamer CRITICAL error (gst_audio_ring_buffer_set_channel_positions) during Playback on Raspberry Pi"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I'm using AVS SDK version 1.20.1 on a Raspberry Pi 4 Model B Rev 1.4. I build SampleApp with PORTAUDIO and SENSORY Wakeword. While running the SampleApp, I observe the following.
1. For every Alexa respo

[2020-08-26 07:36] AndrewDrew100 commented on #1421
Openvas changed name to gvm
Solution: purge openvas and install gvm

so run #apt-get install gvm
then   #gvm-setup
and so on

[2020-08-26 16:30] womw commented on #1784
Hi @sembhayy thanks for posting.

Can I ask what version of GStreamer your device is using? You can see the minimum required Gstreamer versions and dependencies required here: https://developer.amazon.com/en-GB/docs/alexa/avs-device-sdk/dependencies.html#mediaplayerinterface as well as instructions on how to download them for the Raspberry Pi here: https://developer.amazon.com/en-GB/docs/alexa/avs

[2020-08-26 17:41] sembhayy commented on #1784
Hello, I checked the gstreamer version on my Raspberry Pi. It is 1.14.4

pi@raspberrypi:~/sdk-folder/sdk-build $ dpkg -l | grep gstreamer
ii  gir1.2-gstreamer-1.0:armhf             1.14.4-1                               armhf        GObject introspection data for the GStreamer library
ii  gstreamer1.0-alsa:armhf                1.14.4-2                               armhf        GStreamer plugin fo

[2020-08-26 17:53] womw commented on #1770
Hi @DeepikaBalaga I see from the logs that following the resume utterance, that a Play Directive for Amazon Music. I'm going to raise this issue with the cloud team to see why this is being sent.

[2020-08-26 18:05] Jodaci opened #1786 "Alexa not Speaking in Sepeakers"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Alexa, Listen, Think, and Sepak on comand line, but there is no sound in my sepakers

## What is the expected behavior?

Alexa should Speak

## What behavior are you observing?

no audio outut from Alexa

[2020-08-26 20:09] DeepikaBalaga commented on #1770
@womw , Thanks for the update.

**just for information, please note that this issue is getting reproduced only with one account -  bdc7sit20@gmail.com**

We have verified with other accounts and working as expected overthere.

Please help to check whether this cloud issue might be an account related issue!! We will be waiting for your response.

Thanks in advance!

[2020-08-26 22:48] womw commented on #1786
Hi @Jodaci thanks for posting.
Have you setup your raspberry pi according to the quick start guide https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html

It is important to install all dependencies and to configure ~/.asoundrc file. Also make sure that you build with portaudio.

[2020-08-26 22:50] womw commented on #1778
Hello @yuan0258
I tested on my SampleApp and was able to have bucle recognized by Alexa. Is it this specific audio file that you are having trouble getting recognized? Can you unblock by using a new recording of bucle or does all of your bucle recordings fail?

[2020-08-27 04:59] Alexa-AUH commented on #1764
Hi Team,
Do you find the reason for this issue or one have to go with work-around?

[2020-08-27 06:01] Jodaci commented on #1786
Problem Issued,

I had problems with the ~/.asoundrc File, at the end like this

pcm.!default {
   type asym
    playback.pcm {
      type plug
      slave.pcm "hw:2,0"
    }
    capture.pcm {
      type plug
      slave.pcm "hw:3,0"
    }
 }

Look for de "hw:#,#" with comands **aplay -l** and **arecord -l**

I had issues with the gstreamer1.0-alsa too but replacing the existing audio_sink values

[2020-08-27 06:02] #1786 closed

[2020-08-27 22:50] womw commented on #1770
Hi @DeepikaBalaga can you provide a more recent log of this issue happening? It will help assist our Cloud team with their investigation.

[2020-08-28 00:24] yuan0258 commented on #1778
@womw
Could you try the audio file ufb_00_esUS.wav.tar.gz which I attach in https://github.com/alexa/avs-device-sdk/issues/1778#issue-678818094?

The fail result show shown by device history

[2020-08-28 05:05] DeepikaBalaga commented on #1770
Hi @womw ,
Please check the below logs attached below::
[A10_audibleLogs.txt](https://github.com/alexa/avs-device-sdk/files/5140088/A10_audibleLogs.txt)

We are observing this issue only on one account only  with username -bdc7sit20@gmail.com

Please help us to solve if this is an account related issue or any other cloud issue.

Thanks in advance!

[2020-08-28 05:50] tinypancake commented on #1773
Hello @scotthea-amazon

If the SERVER_SIDE_DISCONNECT appears in about 1min, and then it will reconnect to cloud, and the device always shows offline in the Alexa app. What will cause this issue?

[2020-08-28 05:51] tinypancake commented on #1773
Hello @ scotthea-amazon
If the SERVER_SIDE_DISCONNECT appears in about 1min, and then it will reconnect to cloud, and the device always shows offline in the Alexa app. What will cause this issue?

[2020-08-28 13:55] jbfitb commented on #1783
Right, so what I think is happening is this:

1. Start a new utterance: `Recognize` is called on `AudioInputProcessor` [which sets the state to `RECOGNIZE`](https://github.com/alexa/avs-device-sdk/blob/master/CapabilityAgents/AIP/src/AudioInputProcessor.cpp#L968)
1. `DialogUXStateAggregator::onStateChange` is invoked with `RECOGNIZE`. [This sets the dialog state to `LISTENING`](https://github.com/

[2020-08-28 14:00] jbfitb commented on #1783
One thing to add: both `AudioInputProcessor` and `DialogUXStateAggregator` use executor services so there could be race condition between the `StopCapture` and `RequestProcessingStarted` directives. They may not always be processed in the same order.

[2020-08-29 01:09] kjkh commented on #1783
Thanks for the information @jbfitb. It's interesting that that `RequestProcessingStarted` is received **before** `StopCapture`, since that is not expected. We expect the reverse. However, even if the order of the directives are as we expect, there can be possible race conditions between the executors, as you suggested. This suggests that DUXSA needs to be more robust. We are looking into a fix for

[2020-08-29 19:45] gabrieldespindula commented on #1319
Hi dear,
I was looking the logs and noticed both tries in the log (the good and the bad run) have this warnings regarding audio...

However today I was debugging and I found the issue.
Basically m_mutex is already locked when onAuthStateChange and/or sendMessage from HTTP2Transport are called. So it hangs when calling lock_guard. (I found simply swapping lock_guard to try_lock then trowing an erro

[2020-08-30 07:16] thekakodkar opened #1787 "make SampleApp build error on buster"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I am following the instruction from https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html to set up Alexa on my Raspberry pi 3 A+. I am using the Rasbian OS buster, latest SDK fro

[2020-08-30 21:30] gabrieldespindula commented on #1755
Hi folks, just commenting that perhaps I'm talking about the same thing in a different issue here: https://github.com/alexa/avs-device-sdk/issues/1319

[2020-08-31 07:07] yaoyoyo commented on #1640
i have the same problem on mac os.
after setting up portalAudio, build SampleApp successfully, but  "make SampleApp" got an error:
----
avs-device-sdk/SampleApp/include/SampleApp/PortAudioMicrophoneWrapper.h:24:10: fatal error:
      'portaudio.h' file not found

@caleighatamazon

[2020-08-31 12:19] thekakodkar commented on #1787
Works after several reboots. No changes are done.

[2020-08-31 12:19] #1787 closed

[2020-08-31 18:26] alexandrekm-amzn commented on #1717
Hi @MarlosChida
We couldn't root cause the issue yet, can you please redo the same test? Please do not remove the device.

[2020-09-03 10:31] dipalisb opened #1788 "Alexa suddenly stop reading kindle book"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I have used the Pure AVS-SDK 1.17 to run the kiddle book. I give a command as "Ask Alexa to read kindle book.", Alexa read the book for about 3 seconds but suddenly stop. Alexa is getting aborted as shown

[2020-09-03 20:26] gustavosinbandera1 commented on #1620
I am getting this issue following the steps on AVS documentation
[code]

[2020-09-04 00:40] alexandrekm-amzn commented on #1788
hello @dipalisb  thank you for reporting this issue. This is a known issue and we will have a fix in the next release (1.21).
I'm closing this issue if the problem still persists with 1.21 please open a new ticket.

[2020-09-04 00:40] #1788 closed

[2020-09-04 05:40] DeepikaBalaga commented on #1770
Hi @womw ,  @kclchan ,  @mvelegon-amzn ,

Please let us know for any updates on this issue and confirm whether it's any account related issue or not.

Thanks!

[2020-09-08 07:48] yuan0258 commented on #1778
@womw,

Do you have any hint about this issue?

[2020-09-08 09:35] ejlim81 opened #1789 "Can't configure default input device"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Hi, I tried running SampleApp from our board in development (Ubuntu18.04).
When I look at the log, it seems that the voice capture fails.
It seems to be a problem with the ALSA device configuration, but

[2020-09-08 10:17] zuowanbushiwo opened #1790 "fail to resume playback after Bluetooth pause/stop"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

when I say "alexa, continue/reseum", alexa DUT can playing songs.  like Echo。

## What behavior are you observing?

## Provide the steps to reproduce the issue, if appl

[2020-09-10 00:03] kjkh commented on #1789
Hi @ejlim81,

Can you take a read through some of these resources and see if they can help resolve your problem?

- https://wiki.archlinux.org/index.php/Advanced_Linux_Sound_Architecture#An_example_of_setting_default_device_using_%22defaults%22_node
- https://www.alsa-project.org/wiki/Asoundrc

[2020-09-10 00:16] kjkh commented on #1790
Hi @zuowanbushiwo,

Can you please attach DEBUG9 logs?
Also, since you are using the Alexa DUT as a Speaker, please make sure you have followed the steps here: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html#build-with-bluetooth.

[2020-09-13 13:37] DeepikaBalaga opened #1791 "[Auto SDK]: Alexa doesn't play the alarm for few min time set from now."
## Briefly summarize your issue:
 if the current time is 11.25 am and I set the alarm to 11.26 am , it doesn’t play the alarm. But if I say "Alexa, play 1 min from now" it plays the alarm

## What is the expected behavior?
• Alexa states the time for which the alarm was set.
• The alarm begins sounding at the specified time.
• The alarm sounds for at least 60 seconds.

## What behavior are you obs

[2020-09-13 13:43] DeepikaBalaga opened #1792 "[Auto SDK]: Alexa responds "Music and radio playback are not supported in this device""
# Briefly summarize your issue:
Alexa says 'Music and radio playback are not supported in this device"

## What is the expected behavior?
• Music plays on the connected device, NOT on the Smartphone or tablet.
• After the Alexa Auto device is disconnected, ensure that Music stops playing.

## What behavior are you observing?
Alexa says 'Music and radio playback are not supported in this device"

*

[2020-09-13 13:48] DeepikaBalaga opened #1793 "[Auto SDK]: Alexa responds "Audible is not supported in this device""
## Briefly summarize your issue:
Alexa responds "Audible is not supported in this device" when asked to read an Audible book

## What is the expected behavior?
Alexa starts to read the book.

"Now Playing" appears in the Amazon Alexa app down.
## What behavior are you observing?
"Audible is not supported on this device" is the message given by Alexa

## Provide the steps to reproduce the issue, if

[2020-09-13 13:51] DeepikaBalaga opened #1794 "[Alexa] In Auto SDK Address book module, navigation favorites cannot be added or removed"
## Briefly summarize your issue:
In Auto SDK Address book module, navigation favorites cannot be added or removed

## What is the expected behavior?
[Expected result]
It should add/remove navigation favorite from addressbook

## What behavior are you observing?
[Actual result]
Not able to set/remove navigation favorites for address book

## Provide the steps to reproduce the issue, if applicable:

[2020-09-14 15:54] CAG5 opened #1795 "Alexa Smart Screen RaspberryPi4 quick start guide install issue"
As of the last time that I reinstalled raspbian and started from scratch, my OS is whatever the raspberry pi had for the noobs full download as of this morning.  I am trying to install the Alexa Smart Screen SDK on my Raspberry Pi 4.  I make it all the way without any issues to step 9.  The second part of step 9 is the make portion of the code, upon completion I get the following errors and logfil

[2020-09-14 17:43] scotthea-amazon commented on #1795
Hello @CAG5,

This is the wrong forum for this question.  Please re-post it to the [alexa-smart-screen-sdk](https://github.com/alexa/alexa-smart-screen-sdk) forum.

Best regards,
-SWH

[2020-09-14 17:47] scotthea-amazon commented on #1792
Hello @DeepikaBalaga,

Please use this link for assistance with the Auto SDK: https://github.com/alexa/alexa-auto-sdk/blob/2.3/NEED_HELP.md

Best regards,
-SWH

[2020-09-14 17:48] scotthea-amazon commented on #1793
Hello @DeepikaBalaga,

Please use this link for assistance with the Auto SDK: https://github.com/alexa/alexa-auto-sdk/blob/2.3/NEED_HELP.md

Best regards,
-SWH

[2020-09-14 17:48] scotthea-amazon commented on #1794
Hello @DeepikaBalaga,

Please use this link for assistance with the Auto SDK: https://github.com/alexa/alexa-auto-sdk/blob/2.3/NEED_HELP.md

Best regards,
-SWH

[2020-09-14 17:50] scotthea-amazon commented on #1791
Hello @DeepikaBalaga,

Please use this link for assistance with the Auto SDK: https://github.com/alexa/alexa-auto-sdk/blob/2.3/NEED_HELP.md

That said, this sounds suspiciously like a problem with the time-zone setting on the client device.  When you ask "Alexa, what time is it?".  Does Alexa respond with the expected time?

Best regards,
-SWH

[2020-09-14 17:53] CAG5 commented on #1795
Will do, thank you.

[2020-09-14 17:53] #1795 closed

[2020-09-15 12:57] wlchui commented on #1334
i have the same issue too.  using raspberry pi zero.

pi@raspberrypi:~/sdk-folder/sdk-build $ gst-inspect-1.0 equalizer-3bands
Factory Details:
  Rank                     none (0)
  Long-name                3 Band Equalizer
  Klass                    Filter/Effect/Audio
  Description              Direct Form 3 band IIR equalizer
  Author                   Stefan Kost <ensonic@users.sf.net>

Plugin

[2020-09-15 17:26] scotthea-amazon commented on #1794
Hello @DeepikaBalaga,

Closing as this is an Auto SDK issue. Of course, if it the root cause is found to be in the AVS Device SDK, please feel free to create a new issue with information to help is reproduce and diagnose the issue.

Best regards,
-SWH

[2020-09-15 17:26] #1794 closed

[2020-09-15 17:26] scotthea-amazon commented on #1791
Hello @DeepikaBalaga,

Closing as this is an Auto SDK issue. Of course, if it the root cause is found to be in the AVS Device SDK, please feel free to create a new issue with information to help is reproduce and diagnose the issue.

Best regards,
-SWH

[2020-09-15 17:26] #1791 closed

[2020-09-15 17:27] scotthea-amazon commented on #1792
Hello @DeepikaBalaga,

Closing as this is an Auto SDK issue. Of course, if it the root cause is found to be in the AVS Device SDK, please feel free to create a new issue with information to help is reproduce and diagnose the issue.

Best regards,
-SWH

[2020-09-15 17:27] #1792 closed

[2020-09-15 17:27] scotthea-amazon commented on #1793
Hello @DeepikaBalaga,

Closing as this is an Auto SDK issue. Of course, if it the root cause is found to be in the AVS Device SDK, please feel free to create a new issue with information to help is reproduce and diagnose the issue.

Best regards,
-SWH

[2020-09-15 17:27] #1793 closed

[2020-09-16 13:51] sakthisg opened #1796 "AVS SDK - 1.20.1 failed at mediaplayer create."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
AVS SDK - 1.20.1 failed at mediaplayer create.

## What is the expected behavior?
Should not fail

## What behavior are you observing?
Application not starting

## Provide the steps to reproduce the issue

[2020-09-16 16:44] scotthea-amazon commented on #1796
Hello sakthisg,

Your logs look very peculiar.  Even before MediaPlayer creation, it appears that the application is attempting to  open cblAuthDelegate.db twice and then several more times after MediaPlayer creation fails.  There is no direct looping around the creation of that database, so I suspect that your configuration file is using the same file name for various databases.   This may be unr

[2020-09-17 14:57] sakthisg commented on #1796
hi SWH, Thanks for the reply!
We have modified SampleApp code for our device use. Hence the logs format  different.
The config file I have rechecked it is fine,  it is working fine with 1.19.1 SDK. DB paths are correct. I have no traces but it is clear that it fails during creation SpeakMediaPlayer. as per the logs below:
2020-09-16 12:59:23.047 [  1] 9 MediaPlayer:createCalled:name=SpeakMediaPlay

[2020-09-17 18:25] scotthea-amazon commented on #1796
Hello @sakthisg,

Yes, I saw those log lines yesterday.  I'll need additional info (added logging, or other debug info) to dig any deeper into the reason the SpeakMediaPlayer is being destroyed right after creation.

For the repeated opening of the cblAuthDelegate database  also do not have enough information to really help diagnose it from my end.  As far as I can see, there is no reason the SDK

[2020-09-18 04:29] sakthisg commented on #1796
For the repeated opening of the cblAuthDelegate database also do not have enough information to really help diagnose it from my end. As far as I can see, there is no reason the SDK would be re-opening that database at high frequency. If you can, you may want to trap that call and get a back-trace from the various invocations to see how it being called.
[Sakthi  S G] : This is because we start new

[2020-09-19 00:48] scotthea-amazon commented on #1796
Hello @sakthisg,

Again, I can only suggest you add more logs.  Looking at the code here:

https://github.com/alexa/avs-device-sdk/blob/v1.20.1/MediaPlayer/GStreamerMediaPlayer/src/MediaPlayer.cpp#L171

...it appears that mediaPlayer->init() will be called:

https://github.com/alexa/avs-device-sdk/blob/v1.20.1/MediaPlayer/GStreamerMediaPlayer/src/MediaPlayer.cpp#L604

That method has several failu

[2020-09-21 13:49] sakthisg commented on #1750
As the discovery response from the device was not send as per the documentation, this issue encountered. After correcting it, issue is not seen. Hence closing the issue

[2020-09-21 13:49] #1750 closed

[2020-09-21 13:52] sakthisg commented on #1796
Hi, Looks like it is related to gstreamer. Can you please let us know the version of gstreamer to be used?
MediaPlayer:initPlayerFailed:name=SpeakMediaPlayer,reason=setupPipelineFailed
[2020-09-21 17:41:49.912]
[2020-09-21 17:41:49.912] (SampleApp:3697): GStreamer-CRITICAL **: gst_object_unref: assertion 'object != NULL' failed
[2020-09-21 17:41:50.302] 2020-09-21 12:11:49.425 [  1] E RequiresShut

[2020-09-21 16:39] caleighatamazon commented on #1782
Closing this due to lack of activity. Please open a new issue if you have further questions or issues. Thanks!

[2020-09-21 16:39] #1782 closed

[2020-09-21 16:44] caleighatamazon commented on #1796
Here are the gstreamer-related dependencies in our Ubuntu Linux quick start guide:
[code]

You can read about all the dependencies here: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html

[2020-09-21 21:30] caleighatamazon commented on #1778
If other recordings of "bucle" work, then the issue is not with language recognition but likely with the quality of that one particular audio file. My recommendation is that you use one of the audio files you have of "bucle" that work for audio injection. Please let us know if that's not possible.

[2020-09-22 06:33] sakthisg commented on #1796
Hi Thanks for the links! is there any specific version of gstreamer to be used for 1.20.1 or Whatever greater than 1.8.3 version will do?

[2020-09-22 12:01] MrWeiminlee opened #1797 "Cant' play any music."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

when  I say "alexa, play music",the sampleApp does not play any music but just replay " getting aloud ... from iheartradio"
 and that's it.How can I play amazon music or play music ,something wrong?
## W

[2020-09-22 16:27] caleighatamazon commented on #1797
Hi there, can you please reproduce the problem and capture DEBUG9 logs? Please attach the logs as an attachment (don't copy/paste them into the issue).

Thanks!

[2020-09-22 16:27] #1756 closed

[2020-09-22 16:28] caleighatamazon commented on #1754
Closing due to inactivity.

[2020-09-22 16:28] #1754 closed

[2020-09-22 16:28] caleighatamazon commented on #1762
Closing due to inactivity.

[2020-09-22 16:28] #1762 closed

[2020-09-22 20:23] ereich1217 opened #1798 "Volume change / repeats last response"
## Briefly summarize your issue:
When asking what volume Alexa is set to it will report volume and then repeat previous response.

## What is the expected behavior?
Only report volume.

## What behavior are you observing?
The previous response can be repeated several time.  It appears that if I continue for up to a minute from the initial joke it will eventually stop repeating the joke.

## Provid

[2020-09-22 20:48] caleighatamazon commented on #1796
Hi @sakthisg , you can read more about our minimum required versions (gstreamer included) here: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/dependencies.html

[2020-09-22 22:07] caleighatamazon commented on #1798
Hello @ereich1217 , I am able to reproduce this. I'll file an internal ticket to track this defect. Thanks for reporting it!

[2020-09-22 22:07] #1798 closed

[2020-09-22 22:08] caleighatamazon commented on #1798
@ereich1217 , I have one more question for you. What version of the SDK did you reproduce this on?

[2020-09-22 23:40] ereich1217 commented on #1798
I reproduced it on 1.18 and 1.20.

[2020-09-23 10:14] benghopy opened #1799 "cannot resume music by using Alexa resume voice command"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

init with configJsonStreams.push_back(alexaClientSDK::afml::interruptModel::InterruptModelConfiguration::getConfig(false));
Alexa, play music
Alexa, stop
Alexa, resume but it cannot resume music when the

[2020-09-23 10:22] benghopy commented on #1799
main code: This switch need return or break.
https://github.com/alexa/avs-device-sdk/blob/4bb0d23cd98f45cedb4cc0b928ee06a1267c02d2/capabilities/AudioPlayer/acsdkAudioPlayer/src/AudioPlayer.cpp#L1340

[2020-09-23 17:43] caleighatamazon commented on #1799
Hi @benghopy , thanks for reporting this. This is unfortunately a known issue in the SDK at this time. We are already tracking it internally. Thanks!

[2020-09-23 17:51] caleighatamazon commented on #1799
Closed this issue in error -- it is under investigation.

[2020-09-23 23:35] alexandrekm-amzn commented on #1701
I'm closing this ticket due to inactivity, please open another ticket if you still see the issue in the new SDK version.

[2020-09-23 23:35] #1701 closed

[2020-09-24 00:53] yuan0258 commented on #1778
@caleighatamazon,

The orignal recordings of "bucle" is from AQT es-US testing.
It couldn't not change the test audio file during AQT testing.
We observe those three language(es-US/es-MX/es-ES) using the same AQT test audio file to start playback testing.
The es-MX has same problem.
The es-ES could reginize correctly.
Maybe there some hint for you

[2020-09-25 10:43] lenhattu opened #1800 "Audio file input instead of microphone recording"
##  Briefly summarize your issue:
Is there a way to send an audio file (which contains voice command) as input to AVS instead of recording from a microphone like the SampleApp is doing?

## Tell us about your environment:

### What version of the AVS Device SDK are you using?
      <1.20.1>

### Tell us what hardware you're using:
- [ x] Desktop / Laptop
- [ ] Raspberry Pi
- [ ] Other - tell us mo

[2020-09-27 09:28] Guoina opened #1801 "can't play kindle book"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).
Can't play kindle book.

## Briefly summarize your issue:

when I say "alexa, play kindle book",the sampleApp responds book's name  then it  does not read any book but just replay " something went wrong". This account didn't play any kind

[2020-09-28 15:36] caleighatamazon commented on #1790
Closing this due to inactivity. Please open a new issue if this continues to be a problem.

[2020-09-28 15:36] #1790 closed

[2020-09-28 15:37] caleighatamazon commented on #1789
Closed due to inactivity. Please open a new issue if this continues to be a problem.

[2020-09-28 15:37] #1789 closed

[2020-09-28 15:39] #1775 closed

[2020-09-28 19:04] kclchan commented on #1800
Hi @lenhattu, perhaps you could take a look at the AUDIO_INJECTION cmake option [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/cmake-parameters.html#audio_injection) and see if this is sufficient for your use case.  Thanks!

[2020-09-28 19:06] kclchan commented on #1801
Hi @Guoina, can you please reproduce the problem and capture DEBUG9 logs?  Thanks!

[2020-09-29 00:17] kclchan commented on #1751
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2020-09-29 00:17] #1751 closed

[2020-09-29 00:18] kclchan commented on #1761
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2020-09-29 00:18] #1761 closed

[2020-09-29 01:37] kclchan commented on #1784
Hi @sembhayy, would you be able to attach the DEBUG9 log?  Thanks!

[2020-09-30 01:19] Guoina commented on #1801
[alexa.log](https://github.com/alexa/avs-device-sdk/files/5302630/alexa.log)
I capture DEBUG9 logs  of sdk_1.20  for this problem. please handle it .

[2020-09-30 18:07] kclchan commented on #1801
HI @Guoina, thanks for the log file.  In the log file, it seems there's no AudioPlayer.Play directive to play the book so it seems to be a cloud issue.  I have filed an internal ticket to investigate further.  Thanks!

[2020-10-01 14:32] wjennings opened #1802 "Sorry, Backwards! Note avs-device-sdk issue...rapidjson used in avs-device-sdk old, and out of sync with avs smart screen causes crashes"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

While running on different platforms with avs-device-sdk (occurring in v1.12, v1.15, and v1.20.1) and avs-smart-screen (2.0.1 and 2.3.0), I have seen, while using the default rapidjson, there are random

[2020-10-01 15:05] #1802 closed

[2020-10-02 21:18] VicEsquivel commented on #1471
Any update in this @pvelor, how did you manage to renew your keyword detector license?

[2020-10-02 21:55] VicEsquivel commented on #754
@brightselect You mean this part of your log:
`SensoryKeywordDetector:initFailed:reason=allocatingNewSessionFailed,error=snsrNew(): License expired on`...
If yes, how did you manage to renew your license?

[2020-10-04 12:45] jazzvivi2 opened #1803 "Failed to create to SampleApplication!"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Failed to create to SampleApplication!
## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environme

[2020-10-05 16:10] kclchan commented on #1803
Hi @jazzvivi2, please note that the installation script is meant for Raspberry Pi 3 and above.  The 'Illegal instruction' error you are getting is due to the Sensory wakeword detector library is not compatible with the Raspberry Zero platform.

[2020-10-06 02:23] ereich1217 commented on #1803
While the Sensory wake word detector doesn't work on the Raspberry Pi Zero you can use other WWDs (e.g. KittAI). I have used the KittAI on the RPi Zero.

[2020-10-06 11:54] rsneh commented on #1601
Hi all,
Let me know if my problem is related to this issue or maybe I should submit another one.

I'm still facing this issue on Raspberry pi Zero W, using this guide https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html.

I tested that the Speakers and Microphone are working properly.
When trying to run the app for the first to authorize it, I'm getting the error "**Illeg

[2020-10-07 15:03] EliasLum opened #1804 "Corrupted Audio in Key Word Detection"
**Overview** - We can see corrupted audio when logging the audio stream to a .pcm file during the KWD.
***Device* - Raspberry Pi 3
**OS and build** - Raspbian GNU/Linux 9 (stretch)
**Alexa-SDK version** - 1.18.0

## Summary
In order to check the input to the wake word engine we logged the 10ms buffer of the wake word engine to a .pcm file. While doing so we could observe that the audio is corrupte

[2020-10-09 02:39] Guoina commented on #1801
@kclchan Thanks for your reply and I really respect the resolution of this issue.

[2020-10-09 08:02] nad81 opened #1805 "Playing several songs leads to no longer hear the music"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
if we do the iterations back-to-back without having to finish out playing the current song, music stop to play

## What is the expected behavior?
Music must be play
[log_problema_musica.txt](https://githu

[2020-10-09 16:28] mvelegon-amzn commented on #1601
Hi @rsneh I think you are seeing the illegal instruction error because of using in compatible library versions.

Are you using Sensory KWD here?

[2020-10-09 16:30] mvelegon-amzn commented on #1803
@jazzvivi2 because this is an issue of using incompatible library on Raspberry Pi Zero, I am going to close this issue. Please open a new issue if you need further assistance with the SDK.

[2020-10-09 16:30] #1803 closed

[2020-10-09 16:32] rsneh commented on #1601
@mvelegon-amzn I guess I do.
I used this step-by-step tutorial

https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html

[2020-10-09 17:25] mvelegon-amzn commented on #1601
Please refer to : https://github.com/alexa/avs-device-sdk/issues/1803
As mentioned, the guide is for Raspberry Pi 3 and above. Sensory KWD is not compatible with the Raspberry Pi Zero.

[2020-10-09 23:54] mvelegon-amzn commented on #1805
Hi @nad81 The log you provided is not sufficient could you please provide full log which contains the entire scenario?

[2020-10-10 00:00] mvelegon-amzn commented on #1804
Hi @EliasLum would you be able to log audio to a file inside AudioInputProcessor as well? I couldn't find anything different in the stream we send to the KWD and the Cloud so I would like to see if you are noticing a difference.

[2020-10-10 00:01] mvelegon-amzn commented on #1796
Hi @sakthisg were the links above useful? Please let us know if you are still experiencing an issue?

[2020-10-10 00:03] mvelegon-amzn commented on #1797
Hi @MrWeiminlee still waiting to here back from you. Please provide the logs so that we can debug this issue.

[2020-10-11 09:28] sakthisg commented on #1796
Checked gstreamer all are ok . The issue is still seen..

On Sat, 10 Oct 2020, 05:32 Mahesh Velegonda, <notifications@github.com>
wrote:

[2020-10-12 08:42] EliasLum commented on #1804
Hey @mvelegon-amzn,
First of all thanks for the reply. Yes of course i can log an audio file inside the AudioInputProcessor. Could you maybe give me some indications where i could read the stream from to log the audio?
I tried to add the logging to: avs-device-sdk\CapabilityAgents\AIP\src\AudioInputProcessor.cpp
but i couldn't find out how to get the data vector of the audio. I guess i would have

[2020-10-12 09:38] Alexa-AUH opened #1806 "Alexa-Spotify Adapter Play-Pause Issue"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Spotify connect Pause not is in sync with Speaker:– App shows paused status on mobile but in Speaker sound is playing for more than 3-4 secs.

## What is the expected behavior?
There should be syncing bet

[2020-10-12 16:19] nad81 commented on #1805
Hi @mvelegon-amzn in attach new  full logs.

Device set in Italian language.
Sequence of operations performed during the test.

1. I ask Alexa for the weather forecast. Alexa answers correctly

2. I ask Alexa to play the music “Play “22 settembre di Ultimo” Music playback from Amazon Music starts

3. During the song I ask Alexa for the news, Alexa plays the news, stop the news with the voice comma

[2020-10-13 16:43] kclchan commented on #1801
Hi @Guoina, we just got a response that the issue is fixed already.  Could you try again and see if you can still reproduce this?  If it's still a problem, please attach the latest DEBUG9 log.  Thanks!

[2020-10-13 16:47] Lmau3 opened #1807 "After a repeat of pause & play music voice commands the music playback becomes really choppy."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

It happens very often that while playing music from amazon music, using the voice command pause and after play the music playback becomes really choppy.

## What is the expected behavior?

Music must be

[2020-10-14 02:13] Guoina commented on #1801
Hi @kclchan,  the issue is solved perfectly and thanks for your response very much.

[2020-10-14 02:15] #1801 closed

[2020-10-14 09:14] Lmau3 commented on #1807
Hi All,  Yesterday when I opened the issue I forgot to provide the information printed on the serial console where you can see errors in the gstreamer library.

The gstreamer version we use is 1.14.4
Today I repeated the same operations described yesterday and the problem “the music playback becomes really choppy”carose again.

I attach the logs.
[Log_serial_14oct20.txt](https://github.com/alexa/a

[2020-10-14 16:21] womw commented on #1797
Hi @MrWeiminlee I am closing this issue due to inactivity, if you are still having this issue feel free to reopen or submit a new issue.

[2020-10-14 16:21] #1797 closed

[2020-10-14 16:57] womw commented on #1796
@sakthisg Just to confirm you downloaded all the dependencies related to gstreamer from apt-get?
The issue you are experiencing appears to be a G-Streamer related issue, can you provide the full DEBUG9 logs to confirm that this is the case?

[2020-10-14 17:58] womw commented on #1770
Hi @DeepikaBalaga  This issue is still under investigation

[2020-10-15 06:40] alexwala opened #1808 "Alexa SDK on Raspberry Pi - TuneIn stopped working - streamingError"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Since couple of days tuneIn stopped working on Alexa SDK on raspberry pi.
On the other side amazon music works fine.
Getting HTTP_RESPONSE_CODE_UNDEFINED, MEDIA_ERROR_INTERNAL_DEVICE_ERROR, streamingError

[2020-10-15 18:02] tomh05 commented on #1156
I had the same issue on a Raspberry Pi 3. Removing the `-j2`didn't seem to reduce the memory requirements enough for me.
In the end I created a [temporary swap file](https://raspberrypi.stackexchange.com/a/75/60628):
[code]
It's not great for your SD card long term, so after the compiling was done, I disabled it using:
[code]

[2020-10-19 12:02] alexwala commented on #1808
I think i found the problem:
From TuneIn a m3u file is returned..

If i adapt PlaylistParser.cpp to play content of m3u file streaming is working:
-> Alexa, play BR Heimat
<- Playing BR Heimat on TuneIn
[code]

[2020-10-20 08:02] likithh opened #1809 "Spotify doesn't work with the AVS on a Raspberry Pi."
## Briefly summarize your issue:
I installed the AVS Service on my Raspberry Pi 2B with a USB Mic and a network adaptor, but when I try to play music through spotify it says, Spotify isn't available on this device. I've tweaked with all the settings in the Amazon Alexa App on my Android Device.

## What is the expected behavior?
It was supposed to play music through Spotify
## What behavior are yo

[2020-10-20 22:56] alexandrekm-amzn commented on #1809
hi @likithh
A Spotify adapter is required to support Spotify with the SDK. If you're ready to integrate Spotify into your product, reach out to your Amazon point of contact to get started.

if you do not yet have an Amazon point of contact, I recommend using the contact form on the Amazon Developer Portal: https://developer.amazon.com/support/contact-us

[2020-10-20 22:56] #1809 closed

[2020-10-21 06:54] yangsongx opened #1810 "What's the correct solution for curl SSL CACERT failure on Android?"
I was able to build out the SampleApp for Android,

But, after executing the SampleApp, it seems curl keep reporting CACERT failure issue(error: 77):

[code]

Could anyone give some help for this? As this is Android, I have no idea how to resolve this...

[2020-10-21 13:59] Alexa-AUH commented on #1806
To fix this issue, I tried to alter the avs-device-sdk(1.18 version)/CapabilityAgents/ExternalMediaPlayer/src/ExternalMediaPlayerAdapters/SpotifyESDKAdapter.cpp file and the change is working fine till now.

Do let me know if this change is applicable or not.

I attached both the original  (ORG_SpotifyESDKAdapter.cpp) as well as the updated (Changed_SpotifyESDKAdapter.cpp) file.
[File_Change.zip](

[2020-10-21 19:57] Sirpercal opened #1811 "Raspberry Pi 4 Sound issue. Headphone-Jack does not work"
I've try the get the sound output thru the 3.5mm analog jack using Raspberry PI Desktop interface as well as using sudo raspi-config but nothing worked. All the other apps played sound thru the analog jack except Alexa

## What is the expected behavior?
We should have the choice to select the sound output device from the desktop interface.

## What behavior are you observing?
The sound output alwa

[2020-10-22 00:49] jazzvivi2 commented on #1803
Could you help me with this? I am trying with the little information that I find but I have this error

[ 76%] Built target PlaylistParser
[ 78%] Built target KWD
[ 78%] Linking CXX shared library libKITTAI.so
/usr/bin/ld: no se puede encontrar -lblas
collect2: error: ld returned 1 exit status
make[3]: *** [KWD/KittAi/src/CMakeFiles/KITTAI.dir/build.make:103: KWD/KittAi/src/libKITTAI.so] Error 1
m

[2020-10-22 03:39] Alexa-AUH commented on #1806
Some additional info on this issue:

Customer Id: ABCDEFGHI12345
Device Serial Number: ABCDEFGHIJK1234567
Date/Time/Timezone the issue occurred: 10/4/2019 8:05PM PDT

-Vaishali

[2020-10-22 08:36] alexwala commented on #1808
cloudflare team mentioned that a fix is already in the works and should be available in due course...
[Http h2c upgrade requests result in “Connection reset by peer”](https://community.cloudflare.com/t/http-h2c-upgrade-requests-result-in-connection-reset-by-peer/214761)

[2020-10-22 08:36] alexwala commented on #1808
cloudflare team mentioned that a fix is already in the works and should be available in due course...
[Http h2c upgrade requests result in “Connection reset by peer”](https://community.cloudflare.com/t/http-h2c-upgrade-requests-result-in-connection-reset-by-peer/214761)

[2020-10-22 08:36] #1808 closed

[2020-10-22 16:05] ereich1217 commented on #1803
The linker is informing you that you are missing a required library:

The blas library is a dependency for KittAI.  You must install the OpenBLAS library.

[2020-10-23 02:33] zixu-suzhou opened #1812 "play back lag when playing from iheart radio, and too much CPU loading"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
play back lag when playing from iheart radio, and additionally, thread src:src (looks like thread from gstreamer for appsrc) consumes too much CPU.

## What is the expected behavior?
play back should be s

[2020-10-23 02:39] zixu-suzhou commented on #1812
more information to share:
1. using Echo Dot3 to play iheart radio under the same line,  everything OK.
2. using an ububtu 16.04 PC to play iheart radio by running AVS SDK v1.17, everything OK.

[2020-10-23 06:26] yangsongx opened #1813 "How to play a sound indication after wakeup the Alexa, or after PTT(press 't' on the terminal)"
I want to play a indication sound if Alexa is in listening state.

For example, it is woken up by wakeup word('Alexa‘), or is triggered by the 't' key press.

I saw some source files in ApplicationUtilities/Resources/Audio/, but I have no idea how to do this, could we find any sample code about this?

[2020-10-23 07:10] kurol1 opened #1814 "microphone not working"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2020-10-23 07:19] kurol1 commented on #1814
Hello,

I'm facing the following issue:

After installing the the 'alexa smart screen sdk' on a raspberry pi 3B+, compiling and verfying it with

cd $HOME/sdk_folder/sdk-build
PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9

I can talk to Alexa without any problem.

But after compiling the second part aof the instructions starting at step 7, the compilatio

[2020-10-23 14:12] jazzvivi2 commented on #1803
@ereich1217
Hi! Thanks for the help. I keep having errors
pi@raspberrypi:~/sdk-folder/sdk-build $  PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9
configFile ./Integration/AlexaClientSDKConfig.json
#################################################
#       NOTIFICATION INDICATOR STATE: OFF       #
#################################################

Expressio

[2020-10-23 15:13] raspdevpy opened #1815 "DEBUG LEVEL"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
How change the debug level on raspberry pls give me a good guide
AVS SDK is installed just the log disturbs
I start Sampleapp with sudo bash Sampleapp.sh
## What is the expected behavior?

## What behavio

[2020-10-24 06:07] ereich1217 commented on #1803
How is your microphone configured?  Do aplay and arecord work for you?
It looks like you don't have ALSA configured correctly, or that you don't have a microphone attached.

[2020-10-24 19:16] pablinho1023 commented on #1813
Hello! You can find a guide for this in the amazon developer guide https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/indicate-device-state-with-sounds.html

Hope that helps! Let me know if you still have trouble!

[2020-10-24 20:41] pablinho1023 commented on #539
Hello! I also did this:

[code]

[2020-10-26 03:46] keying-linkplay opened #1816 "V1.20.0 first time playing Spotify music from Spotify App does not play TTS "connect spotify""
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

When using the latest sdk v1.20.0 with enable Spotify Patch, playing music from Spotify App the device does not play the TTS "connect spotify", and this issue is not happened on avs device sdk v1.18.0. w

[2020-10-26 04:33] farhandsome commented on #1545
Hey @arjun312,

Good work on getting this to run! Can you share more about how you integrated Python code into the CPP script? I'm wanting to do this, but with an addressable LED strip.

[2020-10-26 08:59] #1815 closed

[2020-10-26 18:40] alexandrekm-amzn commented on #1811
hello @Sirpercal
Thanks for reaching out, to be able to help you I'm going to ask you to try a few things:

1) make sure your asoundrc is configured like this: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#set-up-the-microphone
2) set the environment variable 'export PA_ALSA_PLUGHW=1'
3) Edit your AlexaClientSDKConfig.json to instruct gstreamer to use alsa sink htt

[2020-10-26 18:56] alexandrekm-amzn commented on #1810
@yangsongx
please check if you don't have a mismatch with the system time like this one: https://github.com/alexa/avs-device-sdk/issues/990#issuecomment-434060085

Issue https://github.com/alexa/avs-device-sdk/issues/1740 can also help.

If that doesn't work please let us know.

[2020-10-27 01:29] zhtqfkj commented on #1813
please refer to ApplicationUtilities/Resources and SystemSoundPlayer, which has function - playTone can help you

[2020-10-27 02:18] xlb767923274 opened #1818 "Is there a plan to support bluez under android system, or there are other ways to support bluetooth capabilityAgent under andriod？"
Hi @syedfaisal5 we do not support blueZ on Android platform currently. We only support BlueZ for Ubuntu and Raspberry Pi. I will be closing this ticket, please let us know if you have any other questions.

_Originally posted by @mvelegon-amzn in https://github.com/alexa/avs-device-sdk/issues/1698#issuecomment-624940039_

[2020-10-27 09:52] EliasLum commented on #1804
@mvelegon-amzn,
Do you have any thoughts/indications considering my previous comment?

[2020-10-27 11:30] Carmelo1966 opened #1819 "Android SDK Build"
Hello. I want to build the SDK for Android to use it from an Android App.
1) I registered a new product as Android App in the developer console, so I've got my Client ID, Client Secret, Security Profile ID and the API key. But I cannot find any config.json file to download.
2) I setted up a Linux machine to build the SDK following the guide "Set up the AVS Device SDK on Android". But how can I run

[2020-10-27 23:07] kjkh commented on #1819
Hi @Carmelo1966,

1, 2: Please follow https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/register-a-product.html#set-up-your-avs-security-profile for instructions on generating the config file. The file is needed to run the AVS SDK.
3. We do not currently distribute any prebuilt binaries.
4. We do not currently support this feature. The extent of Android support can be found at this

[2020-10-27 23:07] kjkh commented on #1818
Hi @xlb767923274,

For feature requests, please submit an inquiry to avs-device-sdk@amazon.com.

[2020-10-27 23:12] kjkh commented on #1816
Hi @keying-linkplay,

Due to the nature of the issue, can you please reach out through your Amazon Business Representative and we can debug this using a separate communication channel.

[2020-10-28 00:22] womw commented on #1807
Hi @Lmau3 thanks for posting.

Do you see this issue every time when you pause and resume playback for Amazon Music?
Testing on Ubuntu 1.17 I am not able to reproduce the same issue.

Looking at your logs I do not see any issues with downloading or buffering the audio data. Have you made any changes to the gstreamer mediaplayer that could result in choppy audio? The logs you sent for gstreamer app

[2020-10-28 00:26] womw commented on #1814
Hi @kurol1 thanks for posting.

Have you looked at our quickstart guide for raspberry pi and followed the steps for setting up a microphone?
https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#set-up-the-microphone

[2020-10-28 02:43] fangweijiqid opened #1820 "AttachmentReaderSource:read:size=0,status=1"
In looping music the server is ok , but the client does not ask to stop playing.

the DEBUG9 log is following:
1.InProcessAttachmentWriter:AttachmentWriter has timed out while attempting a write.
note:no buffer to be writen. is it right?
2.AttachmentReaderSource:read:size=4096,status=1
note:the write is active,but no data in the buffer. is it right?

[2020-10-28 03:19] fangweijiqid commented on #1820
2020-10-28 03:15:25.032 [ 5b] 9 InProcessAttachmentWriter:AttachmentWriter has timed out while attempting a write.
2020-10-28 03:15:25.048 [ 5a] 9 LibCurlHttpContentFetcher:transferThread:numTransfersLeft=1
2020-10-28 03:15:25.132 [ 5b] 9 InProcessAttachmentWriter:AttachmentWriter has timed out while attempting a write.
2020-10-28 03:15:25.148 [ 5a] 9 LibCurlHttpContentFetcher:transferThread:numTr

[2020-10-28 05:26] womw commented on #1812
Hello @zixu-suzhou thanks for posting.

Unfortunately it will be difficult to debug exactly why you are seeing a CPU usage increase since you are using a platform outside of our supported platforms.

iHeartRadio plays differently from Amazon Music as it sends one media url instead of a playlist url like Amazon Music.

[2020-10-28 09:14] keying-linkplay commented on #1816
OK

[2020-10-28 09:14] #1816 closed

[2020-10-28 14:56] gelaw2 commented on #1811
This fixed my sound issue.  Thanks

[2020-10-28 16:49] Lmau3 commented on #1807
Hi @womw thanks for your reply.

You can find my answers in Italic character.

Do you see this issue every time when you pause and resume playback for Amazon Music?
**_No this problem does not present every time, but after a series do pause and resume playback, unfortunately the number of these steps is not always the same but variable._**

Testing on Ubuntu 1.17 I am not able to reproduce the sam

[2020-10-28 18:29] kjkh commented on #1806
@Alexa-AUH

Due to the nature of the issue, please reach out through your Amazon Business Representative to further debug the issue. I will be closing this ticket.

[2020-10-28 18:29] #1806 closed

[2020-10-29 06:20] fangweijiqid commented on #1820
i check the code and find, the function (bodyCallback) is not called, it is the reason that AttachmentReaderSource:read:size=0,status=1
note:i check the netstate: the socket is ESTABLISHED , but no Recv-Q.

[2020-10-29 13:52] keying-linkplay opened #1821 "using the pointer after std::move"
After std::move(); the mrmCapabilityAgent will become to nullptr, so the line 243 is a issue:

https://github.com/alexa/avs-device-sdk/blob/6840059a1023ff97a841c08c2f32b2f15036bd48/SampleApp/src/ExternalCapabilitiesBuilder.cpp#L237

https://github.com/alexa/avs-device-sdk/blob/6840059a1023ff97a841c08c2f32b2f15036bd48/SampleApp/src/ExternalCapabilitiesBuilder.cpp#L243

[2020-10-29 18:04] kjkh commented on #1821
Hi @keying-linkplay,

Thanks for pointing this out, this will be fixed.

[2020-10-29 18:05] kjkh commented on #1821
Are you seeing any segfaults related to this on shutdown?

[2020-10-29 22:07] kjkh commented on #1820
Hi @fangweijiqid,

Can you please describe what sort of testing you were doing and what negative impacts you are observing? As well, which version of the SDK are you using, which platform are you on, and what customizations have you made to the SDK?

[2020-10-30 00:48] fangweijiqid commented on #1820
hi Keith Huang:
    I have testing loop music by avs-SDK. During playback , suddenly playback stop. By checking the DEBUG9 log, find that the function (LibCurlHttpContentFetcher:bodyCallback) is not called  and case no data to write.

    version of the SDK is 1.20.0.  the platform is linux.  just using audioplayer by set URL source to play the network music.

方纬
小米品牌事业部
--------------------------

[2020-10-30 00:58] yuan0258 commented on #1778
Finally we report this issue to AQT team. They reproduce the new audio files to resolve this problem
The key problem is when keyword and command is speak by different people. I will cause cloud recognize command fail by keyword trigger case
If it use Push-to-talk to feed same data to cloud. The result is same

[2020-10-30 02:09] keying-linkplay commented on #1821
sometimes will segfault, not always.

[2020-10-30 13:17] Alexa-AUH opened #1822 "Alexa-Spotify and BT music play issue"
## Briefly summarize your issue:
BT music does not stop when music plays from the Spotify app and Speaker(TREBL) plays BT music and after changing song Speaker(TREBL) continues with Spotify connect and disconnect BT.

 **Actual Result getting**
BT music does not stop when music plays from the Spotify app and TREBL plays BT music.

## What is the expected behavior?
BT music should stop when users p

[2020-10-30 13:30] Alexa-AUH opened #1823 "Alexa-Spotify music is streaming automatically after connection established."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Music is streaming automatically when the Spotify app having a paused track is connected to Sprint TREBL.

## What is the expected behavior?
Whenever Spotify connects with Alexa-Spotify integrated SDK, th

[2020-10-30 13:32] Alexa-AUH commented on #1822
[alexa.txt](https://github.com/alexa/avs-device-sdk/files/5465383/alexa.txt)
[ExternalMediaPlayerAdapters_json.txt](https://github.com/alexa/avs-device-sdk/files/5465392/ExternalMediaPlayerAdapters_json.txt)
[AlexaClientSDKConfig_json.txt](https://github.com/alexa/avs-device-sdk/files/5465393/AlexaClientSDKConfig_json.txt)

[2020-10-30 18:22] arjun312 commented on #1545
I just coded in python for the led strip and made it run using system commands in cpp. Thats all

[2020-10-30 21:59] #1818 closed

[2020-10-30 22:01] #1811 closed

[2020-10-30 22:10] kjkh commented on #1821
Thanks for the information. This has been added to our backlog and will be resolved in an upcoming release.

[2020-10-30 22:10] #1821 closed

[2020-10-30 22:18] kjkh commented on #1823
Hi @Alexa-AUH,

Due to the nature of the issue, please reach out through your Amazon Business Representative to further debug the problem. I will be closing this ticket.

[2020-10-30 22:18] #1823 closed

[2020-10-30 22:18] kjkh commented on #1822
Hi @Alexa-AUH,

Due to the nature of the issue, please reach out through your Amazon Business Representative to further debug the problem. I will be closing this ticket.

[2020-10-30 22:18] #1822 closed

[2020-11-01 13:33] sumiitsaxena commented on #791
Anyone found solution for this? Alexa is working when I press t command on terminal, but it is not working with wakeword. :-(
Please help

[2020-11-02 02:06] tinypancake opened #1824 "AVS SDK 1.21 bootup crash"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
When build pass and run the SampleApp in our platform, it will get error and crash

## What is the expected behavior?
can run normally

## What behavior are you observing?
When I bootup, I will get the LO

[2020-11-02 10:56] angelobt commented on #1824
Hi,
same issue.

./SampleApp -C  cfg/AlexaClientSDKConfig.json -L DEBUG9
configFile cfg/AlexaClientSDKConfig.json
Running app with log level: DEBUG9
2020-11-02 10:47:01.490 [  1] E Cookbook:addFactoryRecipeFiled:reason=Recipes are not equivalent,type=[0xffff93205970]
2020-11-02 10:47:01.490 [  1] E Cookbook:checkIsValidFailed:function=addFactoryRecipe
2020-11-02 10:47:01.490 [  1] E Cookbook:check

[2020-11-02 11:34] tinypancake commented on #1824
@angelobt , I have found the reason, but I am not sure whether my solution is OK. So can avs sdk team give some suggestions?

[2020-11-03 03:20] bijumens opened #1825 "Sending location to AVS : alexa-auto-sdk"
I have a query related to sending location to AVS. Currently I'm working with integration of Alexa into a Head Unit.

**Issue:** When device location is turned OFF, we are sending Location as null expecting that Alexa will pick up the user's location from his/her amazon account. But this doesn't seem the right way to do as aace is throwing an error :
_AACE_JNI: aace.jni.alexa.LocationProviderBinde

[2020-11-04 09:37] EliasLum commented on #1804
Dear Alexa Team,

I am a bit surprised by your inactivaty on this issue. However, in order to make sure the problem is not connected to my implementation i set up the raspberry and SDK from scratch. So I did not do, install or change anything apart from the below mentioned steps:

1. Erased the SD card and imaged the newest Raspbian Buster OS using: https://www.raspberrypi.org/blog/raspberry-pi-im

[2020-11-04 14:20] testCovai commented on #57
@prihtiv kindly help me i'm also struggling while integrating app to app linking using alexa skill kit

[2020-11-04 17:54] scotthea-amazon commented on #1825
Hello @bijumens,

This is a question for the Automotive SDK.  Please see their page for getting help: https://github.com/alexa/alexa-auto-sdk/blob/3.0/NEED_HELP.md

Best regards,
-SWH

[2020-11-04 18:11] scotthea-amazon commented on #1825
Closing this issue since it is not specific to avs-device-sdk.

[2020-11-04 18:11] #1825 closed

[2020-11-05 09:09] lilyt86 opened #1826 "Error Re-building Sample App"
## Briefly summarize your issue:
**Hi**

I am trying to rebuild Alexa on "Raspberry pi 4" using this Instructions: https://developer.amazon.com/it-IT/docs/alexa/alexa-voice-service/indicate-device-state-with-leds.html

**as soon as I give the command** : sudo bash setup.sh config.json
**gives me this error** :

[ 88%] Built target acsdkDoNotDisturb

[ 88%] Built target acsdkCore

[ 90%] Built targ

[2020-11-05 12:11] keying-linkplay commented on #1713
@kclchan  does this issue fixed with latest version? this issue sometimes also happened to us.

[2020-11-05 16:35] ereich1217 commented on #1826
It looks like you skipped a step in changes to your cmake files.  The error you are getting is that the linker doesn't know where to find the library.

**Here is the part you seem to have missed:**
For the final step, you'll need to make a change to the CMake file in order for the project to use the WiringPi library when you rebuild the Sample App. Open the file “CMakeLists.txt” from the same home

[2020-11-06 07:48] ashiksl commented on #1423
Hi,

We also met the same issue with Alexa SDK 1.17.
Steps,
1. Play from amazon music
2. Setting "thumbs up" using voice utterance.
3. Check the THUMBS_UP value on renderplayerinfo card.
{**"selected":false**,"name":"**THUMBS_UP**","enabled":true,"type":"TOGGLE"

[2020-11-06 10:16] lilyt86 commented on #1826
the code: target_link_libraries(SampleApp "-lwiringPi")

has been correctly inserted as described in the guide.
I also tried to do it all over again, paying much more attention.
the result is the same

![Alexa Cmakelist](https://user-images.githubusercontent.com/57452133/98354827-8b6b3280-2021-11eb-9156-82a29ec5b6e4.jpg)

[2020-11-06 11:08] keying-linkplay opened #1827 "Spotify Alarm and normal alarm play at the same time"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

when I set only one spotify alarm, when the time is arrived, at first the spotify start play. but after about 30 seconds
the normal alarm also start play. This issue also happened on device sdk v1.20.0.

[2020-11-06 20:37] scotthea-amazon commented on #1824
@tinypancake and @angelobt ,

The problem is likely due to different static member variable instances generated across invocations of the [TypeIndex<Type>](https://github.com/alexa/avs-device-sdk/blob/master/shared/acsdkManufactory/include/acsdkManufactory/internal/TypeIndex.h) template with the same type.

Please try rebuilding with the [ACSDK_USE_RTTI](https://developer.amazon.com/en-US/docs/ale

[2020-11-06 20:53] scotthea-amazon commented on #1826
@lilyt86,

Have you tried removing the "-l" from the line?  For example:

    target_link_libraries(SampleApp "wiringPi")

Do you know the path to wiringPi?  If so, you might also try specifying the path.  i.e.:

    target_link_libraries(SampleApp "<absolute_path>/wiringPi")

Best regards,
-SWH

[2020-11-06 20:57] scotthea-amazon commented on #1827
@keying-linkplay,

Thank you for bringing this to our attention!

Would you please attach a full DEBUG9 level log to this issue, so that we can get a better idea of what is happening in your particular environment?

Best regards,
-SWH

[2020-11-07 02:43] safarcikm commented on #237
Hi, I came across the same issue, I did the same steps but I still can’t get over the resulting error. Could you clarify your steps after copying snsr.h?

[2020-11-07 15:40] kurol1 commented on #1814
Hi Gaetano,

please excuse my late reply.

Your hints I've already tried in vain.

The situation now is the following:

Normal desktop screen, no software started:

I enter (in a terminal)

arecord test.wav

aplay test.wav

test.wav is recorded and played back the right way, with a good quality.

I start Alexa with the script in the installation guide, I get the notification that Alexa is running

[2020-11-09 01:09] tinypancake commented on #1824
ok , I will try it and feed back to you @scotthea-amazon

[2020-11-09 02:02] tinypancake commented on #1824
I have tried to rebuilding with the ACSDK_USE_RTTI cmake parameter enabled (ON). And it still occurs, so is there any potential issues?
![image](https://user-images.githubusercontent.com/54300319/98492368-9537a480-2272-11eb-97cd-5371ca66d168.png)
Here is the LOGs:
[AVS SDK] sighandler Handler Init and reset
AVS_DEBUG success
2020-11-05 05:35:00.948 [  1] C SampleApplication:[AVS SDK] read config f

[2020-11-09 02:23] keying-linkplay commented on #1827
[spotify-alarm-error.txt](https://github.com/alexa/avs-device-sdk/files/5507741/spotify-alarm-error.txt)

[2020-11-09 03:57] keying-linkplay commented on #1827
[Uploading spotify-alarm-issue.log…]()

[2020-11-09 03:58] keying-linkplay commented on #1827
[spotify-alarm-issue.txt](https://github.com/alexa/avs-device-sdk/files/5508048/spotify-alarm-issue.txt)

[2020-11-09 05:56] keying-linkplay commented on #1827
@scotthea-amazon  and this issue is easy to reproduce, 100% can reproduce by using v1.18.0 with Spotify patch 1.18.  by the way the esdk version is: v3.114.42

[2020-11-09 09:05] keying-linkplay commented on #1827
and if I set a prime music alarm, and it works well, analysis the the log: when the alarm arrived server will send the AudioPlay.Play directive to device, and when the device send the event AudioPlay.PlaybackStarted to server. server will
send a Alerts.DeleteAlert to device to delete the current alarm.

[2020-11-09 09:06] keying-linkplay commented on #1827
[amazon-music-alarm.txt](https://github.com/alexa/avs-device-sdk/files/5509264/amazon-music-alarm.txt)

[2020-11-09 18:10] kclchan commented on #1827
Hi @keying-linkplay,

Please re-try with the latest version of the SDK.  And due to the nature of the issue, please reach out through your Amazon Business Representative to further debug the problem. I will be closing this ticket.

[2020-11-09 18:10] #1827 closed

[2020-11-09 18:11] kclchan commented on #1819
Closing this as all the questions have been answered.  Please feel free to open a new ticket if you have further questions.

[2020-11-09 18:11] #1819 closed

[2020-11-09 18:16] kclchan commented on #1813
Hi @yangsongx, the functionality is already supported as part of the SDK.  Please do these in the console to enable the "Wake Word Confirmation" sound.

'c' -> '3' -> 'E'

[code]

[2020-11-09 18:17] #1813 closed

[2020-11-09 18:23] kclchan commented on #1783
This has been fixed in v1.21.  Thanks!

[2020-11-09 18:23] #1783 closed

[2020-11-09 18:24] kclchan commented on #1784
Closing due to inactivity.  Please open a new issue if you are still having problems with it.

[2020-11-09 18:24] #1784 closed

[2020-11-09 18:45] #1778 closed

[2020-11-09 19:08] kclchan commented on #1804
Hi @EliasLum, you said you added your code before `while (!m_isShuttingDown)` and tried to write audioDataToPush into a file, please note that audioDataToPush is just an empty vector and nothing has been push to it yet.  Maybe you'd like to try again by adding you lines of code after `readFromStream` is called, and use wordsRead for how many bytes you want to write to your file.  Thanks!

[2020-11-10 08:19] EliasLum commented on #1804
Hey @kclchan,
Please read my comments more closely. I open a file before `while (!m_isShuttingDown) `  however writing audioDataToPush into a file of course happens after reading from stream. As mentioned this happens before `snsrClearRC(m_session)`. How did you imagine we have got any audio at all when writing an empty vector to a file...?
I was assuming that the size of the stream would be const

[2020-11-10 17:16] kclchan commented on #1804
I am glad that this is working for you now.  Closing the issue.

[2020-11-10 17:16] #1804 closed

[2020-11-10 17:19] kclchan commented on #1799
This is fixed in v1.21 of the SDK.  Thanks!

[2020-11-10 17:19] #1799 closed

[2020-11-10 18:29] kclchan commented on #1800
Closing due to inactivity.

[2020-11-10 18:29] #1800 closed

[2020-11-10 18:30] kclchan commented on #1796
Closing due to inactivity. Please open a new ticket if you have further questions.  Thanks!

[2020-11-10 18:30] #1796 closed

[2020-11-10 21:09] aamirasmal commented on #1826
i have exactely the same problem i try to change target_link_libraries(SampleApp "wiringPi")  but he did'nt work

Can you help please

Thank you

[2020-11-11 00:57] kclchan commented on #1826
Hi @lilyt86 and @aamirasmal, could you try this instead:

[code]

[2020-11-11 00:59] kclchan commented on #1824
Hi @tinypancake, just want to make sure, could you first delete the build directory, and redo the cmake with `-DACSDK_USE_RTTI=ON`?

[2020-11-11 01:37] tinypancake commented on #1824
yes. I have  firstly deleted the build directory, and redo the cmake with -DACSDK_USE_RTTI=ON @kclchan

[2020-11-11 06:49] aamirasmal commented on #1826
@kclchan

 ​target_link_libraries(LibSampleApp "-lwiringPi")

I have try this code because this line is the official code so he didd'nt work

Thanks you

Have a nice day

[2020-11-11 08:27] lilyt86 commented on #1826
@scotthea-amazon
**with this line**: target_link_libraries(SampleApp "wiringPi")
**i have this response**:

[100%] Linking CXX executable PreviewAlexaClient
/usr/bin/ld: ../../../SampleApp/src/libLibSampleApp.so: undefined reference to `digitalWrite'
collect2: error: ld returned 1 exit status
make[3]: *** [applications/acsdkPreviewAlexaClient/src/CMakeFiles/PreviewAlexaClient.dir/build.make:149: a

[2020-11-11 09:04] aamirasmal commented on #1826
@lilyt86  il have thé samedi answer

[2020-11-11 12:42] mincequi opened #1828 "setup.sh> pi.sh: line 36: pip: command not found"
##  Briefly summarize your issue:
As of 2020/11//11 when i execute the setup.sh script, i got the issie pip: command not found.
Apparently, python-pip is not installed as dependency.

## What is the expected behavior?
setup.sh runs without issues.

## What behavior are you observing?
setup.sh -> pi.sh prints error: line 36: pip: command not found

## Provide the steps to reproduce the issue, if ap

[2020-11-11 18:25] kclchan commented on #1824
Hi @tinypancake, can you tell us what platform and compiler (including the version) you are using?  Thanks!

[2020-11-11 19:11] kclchan commented on #1826
HI @aamirasmal and @lilyt86, please note that the suggestion I provided earlier is different from the guide.  In the guide, it's
[code]

But I would like you to try the below instead:
[code]

Please note the difference between `SampleApp` and `LibSampleApp`.  Thanks!

[2020-11-12 12:23] kurol1 opened #1829 "no microphone"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2020-11-12 12:24] #1829 closed

[2020-11-12 13:06] sumiitsaxena opened #1830 "Alexa wake word is not working"
## Briefly summarize your issue:
I installed Alexa SDK as described on amazon.com. Everything works well, just that "Alexa" wakeword is not detected.

## What is the expected behavior?
It should wake up with wake word "Alexa"

## What behavior are you observing?
It works when I enter "T"+Enter. But wake word is not working

## Tell us about your environment:
I installed SDk on raspberry Pi4 with l

[2020-11-12 16:35] lilyt86 commented on #1826
**with this line**: ​target_link_libraries(LibSampleApp "-lwiringPi")

**the error is different**:

Adding CapabilityAgent AIP
-- Could NOT find GTest (missing: GTEST_LIBRARY GTEST_INCLUDE_DIR GTEST_MAIN_LIBRARY)
Adding CapabilityAgent Alexa
-- Could NOT find GTest (missing: GTEST_LIBRARY GTEST_INCLUDE_DIR GTEST_MAIN_LIBRARY)
Adding CapabilityAgent ApiGateway
-- Could NOT find GTest (missing: GTES

[2020-11-12 18:08] kclchan commented on #1828
Hi @mincequi, thanks for reporting this.  Could you make a change on [line 36](https://github.com/alexa/avs-device-sdk/blob/master/tools/Install/pi.sh#L36) in pi.sh to use 'pip3' instead of 'pip' and see if this resolves the error?

[2020-11-12 22:49] chemudug-amzn commented on #1814
hi @kurol1 - can you please try the alexa client SDK directly (without smart screen) - https://github.com/alexa/avs-device-sdk ?

As a short-cut, can you try the following:

https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#set-up-the-microphone

[code]

[2020-11-13 01:20] kclchan commented on #1830
Hi @sumiitsaxena, did you follow this guide [here](https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/build-the-avs-device-sdk.html) and use the setup.sh script to install Alexa SDK?  If so, please attach the DEBUG9 log.

[2020-11-13 03:13] sumiitsaxena commented on #1830
Hello @kclchan yes I did use this guide and used exactly same command "sudo bash setup.sh config.json [-s 1234]"
1 strange thing I noticed is that after entering "AGREE", for sensory wakeword this is stated -
"At some point, the SDK installation pauses and asks you to accept Sensory Wake Word terms and conditions — you must type yes to accept."

But for me I did not had to type "yes" at all. It in

[2020-11-13 07:13] mincequi commented on #1828
Yes, that solves this issue.

[2020-11-13 08:18] kurol1 commented on #1814
Hi Ravi,

thanks for your reply.

When I install the SDK in accordance to
<https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/set-up-ra
spberry-pi.html>
https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/set-up-ras
pberry-pi.html (the setup procedure without scteen), all is working
perfectly.

If I install it as decribed here
<https://developer.amazon.com/en-US/docs/a

[2020-11-13 10:46] mincequi opened #1831 "Bluetooth Sink on Pi per default (or configurable)"
## Briefly summarize your issue:
Bluetooth sink disabled on Raspberry Pi per default.

To enable it, i installed libsbc-dev and edit pi.sh:30 and add the line
-DBLUETOOTH_BLUEZ=ON.

That'si t. Maybe we can enable this per default or add an option to pi.sh?
Maybe an official documentation would also help here.

## What is the expected behavior?
As a user of avs-device-sdk on raspberry pi, i want to

[2020-11-13 13:56] lilyt86 commented on #1830
if installing alexa from scratch, it will always ask you to accept the Sensory Wake Word terms and conditions.
if, on the other hand, you try the same step several times, it will no longer ask you to accept them since you have already done so before.

regarding alexa's response when called. I have no idea why it doesn't work with official channels but I solved it by installing "**PulseAudio**" and

[2020-11-13 14:52] sumiitsaxena commented on #1830
Hello @lilyt86
How did you install "PulseAudio" and  what parameters did you change in it?

Thanks
Sumit

[2020-11-13 15:59] lilyt86 commented on #1830
i got the codes from this link: https://www.raspberrypi.org/forums/viewtopic.php?t=62851

after installing it you will find PulseAUdio in the preferences bar.
the parameters to be changed appear on the main screen **_ONLY_** when you call Alexa

[2020-11-13 18:05] aamirasmal commented on #1826
@kclchan @scotthea-amazon @lilyt86

i have the same error

can i help you please

Thank you

Have a nice day

[2020-11-13 19:02] kclchan commented on #1826
Hi @lilyt86, I am surprised you are getting a Parse error with by adding target_link_libraries(LibSampleApp "-lwiringPi") to your CMake.  Please note that target_link_libraries is a cmake command (https://cmake.org/cmake/help/latest/command/target_link_libraries.html) that is trying add the wiringPi dependency to LibSampleApp.  Could you share in more details your modification in CmakeLists.txt?

[2020-11-13 19:56] aamirasmal commented on #1826
@kclchan   @lilyt86

THANK YOU !!!!!!!!!!!!!!

you have reason my sdk was complete thank you very much

[2020-11-13 21:01] kclchan commented on #1830
Hi @sumiitsaxena, could you try to delete your workspace and run the script from scratch?

[2020-11-13 21:05] kclchan commented on #1828
Thanks for reporting this issue.  We will fix this in a future release.  Thanks!

[2020-11-13 21:05] #1828 closed

[2020-11-13 23:54] kclchan commented on #1831
Hi @mincequi, thanks for your suggestion, I have created a ticket to our development backlog to have this looked into.  Please also note we have documentation on how to enable bluetooth here: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/cmake-parameters.html#bluetooth

[2020-11-14 06:33] sumiitsaxena commented on #1830
Hi @kclchan I am trying to deregister and delete the existing project. Deregister is successful still project is not getting deleted. It says a product is alredy registered to this project. I_ am not able to do this as well. :(

[2020-11-14 10:51] lilyt86 commented on #1830
the project therefore the config.json file that generates amazon developer cannot be deleted but can be used N times on different Raspberry.
so i advise you to format your Rpi memory and install all over again and using the same config.json you already got earlier

[2020-11-14 11:21] sumiitsaxena commented on #1830
@lilyt86 oh ok, I have tried this 3-4 times, but same results.

[2020-11-14 13:51] lilyt86 commented on #1826
thank you so much @kclchan
I have now completed my SDK.
but I have other problems @aamirasmal can I contact you in pvt for a comparison of our SDKs?

[2020-11-14 19:51] aamirasmal commented on #1826
@lilyt86

Yes

[2020-11-14 19:56] aamirasmal commented on #1826
@lilyt86

I am new on GitHub you Can contact me on Instagram

My account is

aamirasmal15

Because il didn't find the. Private communication

[2020-11-16 02:08] tinypancake commented on #1824
hi @kclchan, the platform is a DUT under linux and the compiler I used is the GCC 9.2 provided by ARM, the link is https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-a/downloads

[2020-11-16 17:43] #1831 closed

[2020-11-16 22:58] caleighatamazon commented on #1824
@tinypancake thanks for the information. Are you using any extra compiler flags, by any chance? If so, what are they?

[2020-11-17 09:29] #1826 closed

[2020-11-17 14:04] sumiitsaxena commented on #1830
Anyone please help, I am not able to fix this issue

[2020-11-17 17:26] debugguru opened #1832 "EndpointId in Alarms API"
## Briefly summarize your issue:
Error while calling Alarms API

## What is the expected behavior?
I should be able to call the alarm API and set the Alarm

## What behavior are you observing?

Getting an error INVALID_ENDPOINT_ID_FORMAT

## Provide the steps to reproduce the issue, if applicable:

Call the create Alert API using Postman and authorisation token in header

## Tell us about your env

[2020-11-17 17:47] caleighatamazon commented on #1830
Hi @sumiitsaxena, can you delete the workspace where you ran the script? That means that you should no longer have a build directory, source directory, or anything else. There is no need to actually deregister the product. Instead, it would be easiest for you to start from scratch.

Basically, we would like you to start over with the setup script, as if you were running it for the first time.

Ple

[2020-11-17 17:56] caleighatamazon commented on #1832
Hi @debugguru, this Github forum is only for issues related to the AVS Device SDK. It looks like your question is about using the Alerts API with Postman. Seeing as you're not using the SDK, unfortunately we are not able to support you at this forum.

Please head on over to the Amazon Developer Help Forums and related support documentation here: https://developer.amazon.com/support/

I'm closing t

[2020-11-17 17:56] #1832 closed

[2020-11-17 18:25] caleighatamazon commented on #1812
Closing due to inactivity. Please open a new issue if this continues to be a problem, or if you have other questions. Thanks!

[2020-11-17 18:25] #1812 closed

[2020-11-17 18:27] caleighatamazon commented on #1810
Closing due to inactivity. Please open a new issue if you continue to have problems, or if I've closed this in error. Thanks!

[2020-11-17 18:27] #1810 closed

[2020-11-17 21:38] chemudug-amzn commented on #1814
@kurol1  are you holding down 'A' key?

It's a hold to talk mode, so you need to keep it pressed while you communicate.

You can change the behaviour here:

https://github.com/alexa/alexa-smart-screen-sdk/blob/9878cafa35df05d862b3bfc027aa6b1b463ef9c1/modules/GUI/config/guiConfigSamples/GuiConfigSample_TvFullscreen.json#L8

Valid values are listed here:
https://github.com/alexa/alexa-smart-screen-s

[2020-11-17 21:52] debugguru commented on #1832
Thanks @caleighatamazon . I had same thoughts as you but I was directed to ask question here by the Solution Architect team at AWS. As you can see I have already raised question in AWS forum https://forums.developer.amazon.com/questions/233700/endpointid-in-alarms-api.html and the response there was to raise a question here. Feels like I am going in circle. Could you please suggest where I can rai

[2020-11-18 00:32] caleighatamazon commented on #1832
Hi @debugguru , that does sound frustrating! I saw your response to the SA on the developer forums, and I think that was the right thing for you to do. Hopefully they will take a second read of the issue and be able to help you further. As I said, you are not using the AVS Device SDK, so our forum here isn't the right place to get support -- all of us over here only work on the AVS Device SDK.

Fe

[2020-11-18 03:04] sumiitsaxena commented on #1830
Hi @caleighatamazon I tried deleting workspace and re-run the commands, these are the new errors I am getting now.

pi@raspberrypi:~ $ sudo bash setup.sh config.json [-s 1234]
################################################################################
################################################################################

AVS Device SDK Raspberry pi Script - Terms and Agreements

Th

[2020-11-18 03:07] sumiitsaxena commented on #1830
Hi @caleighatamazon also, please guide me how to enable DEBUG9 logs?

[2020-11-18 05:35] ereich1217 commented on #1830
How much space is on your SD card?

Can you copy the output starting with the **wget** commands all the way through where you get the error?  If you didn't edit your previous response there is something wrong with the script you are running, the OS, or the SD card.

wget https://raw.githubusercontent.com/alexa/avs-device-sdk/master/tools/Install/setup.sh \
wget https://raw.githubusercontent.com/al

[2020-11-18 10:14] sumiitsaxena commented on #1830
Hello @ereich1217 SD card memory is 64 GB.
These command run successfully. Below are the prints on console.

Linux raspberrypi 5.4.72-v7l+ #1356 SMP Thu Oct 22 13:57:51 BST 2020 armv7l

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes w

[2020-11-18 17:16] ereich1217 commented on #1830
Also, run the command "sudo bash setup.sh config.json" and include all of the output from that command.

[2020-11-18 17:20] LotrForTheWin opened #1833 "Can not set alexa audio output to Analog."
## Briefly summarize your issue:
After installing sample SDK, as in previous issues, I can not hear alexa through headphones.
Despite many found solutions audio is still set to HDMI output.

## What is the expected behavior?
Audio should be heard through headphones (mini jack output)
Or, if possible, it would be good if I can set USB as default audio output.

## What behavior are you observing?

S

[2020-11-19 18:00] caleighatamazon commented on #1820
Hi @fangweijiqid , can you please reproduce the issue and attach the complete DEBUG9 logs? Have you made modifications to the SDK or Sample APp?

[2020-11-19 20:52] smirkhani opened #1834 "Issue running AVS Sample app on Samsung Android phone"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I followed the instructions per this link: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/android.html
But cannot run the sample app and get some runtime errors.
I should mention that my ph

[2020-11-19 20:57] caleighatamazon commented on #1833
Hi @LotrForTheWin , have you tried running the setup script without `sudo`? That should not be necessary. You will have to delete your workspace before re-running the script without `sudo`.

What was the path to the `.asound.rc` file that you mentioned you modified in "Used solutions" 3?

If you followed our raspberry pi guide (https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry

[2020-11-19 21:06] caleighatamazon commented on #1834
Hi @smirkhani , I have a few initial thoughts of what might be going wrong.

1. Did the Android setup script run without error?
2. Did you update `androidConfig.txt` so that the target system and API level match that of your phone? It's possible the shared libraries were not compiled correctly for your phone.
3. Can you list the .so files found in `/data/local/tmp/myproject/lib` on your phone? Let

[2020-11-19 23:29] smirkhani commented on #1834
Tnx for the prompt reply

Not really - I had to do the following three changes in my environment to make it work

a-CPP (preprocessor) in toolchain was missing in my environment - I removed the following line in the android.sh to avoid this issue

#export CPP="${TOOLCHAIN}/bin/${TOOLCHAIN_HOST}-cpp"

b- some basic math functions were not working because of the include dependencies-
I did some rese

[2020-11-20 00:07] caleighatamazon commented on #1834
Hi @smirkhani , thanks for this information. This is definitely odd! The modifications you had to make suggest something has gone wrong earlier in your install process.

Did you allow the script to install the Android NDK for you, or did you install and use your own NDK? In the `android.sh` script, that variable is called `NDK_PACKAGE`.

The `android.sh` script actually only downloads either NDK 1

[2020-11-20 01:57] smirkhani commented on #1834
Ok - tnx for the clarification.

I created a new repo and changed my API level to 27 and then I relaunched the build. The whole build and installation gone through without any issue.

But, when I try to run the startsample.sh I get the following error:

[code]

[2020-11-20 05:29] shreyas-rc opened #1835 "Jack server is not running or cannot be started"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2020-11-20 08:59] LotrForTheWin commented on #1833
Hello,
Just a quick response,
I was using this tutorial:
https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/build-the-avs-device-sdk.html
Is it obsolete? In build SDK section, sudo is proposed to install the SDK.

_What was the path to the .asound.rc file that you mentioned you modified in "Used solutions" 3?_
It was in /home/pi

_If you followed our raspberry pi guide (https://deve

[2020-11-20 13:57] jcatumba opened #1836 "v1.21.0 libDefaultClient.so and libADSL.so and libACL.so undefined references to alexaClientSDK"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
When I run make SampleApp -j2 the compilation goes well until almost 100% completed. After the [100%] Linking CXX executable SampleApp message, I got different messages of undefined references like:
* lib

[2020-11-20 17:16] caleighatamazon commented on #1836
Hi @jcatumba, can you build and run an earlier version of the SDK (say 1.20) on your platform, or is this specific to 1.21?

Are you using one of our setup scripts to build the SDK, or following one of our guides? If so, which one, and have you made any modifications?

[2020-11-20 17:18] caleighatamazon commented on #1835
Hi @shreyas-rc , this issue does not contain any information. I am going to close it. Please open a new issue and fill out our  [Issue Reporting Guide](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/report-issue.html) if you want guidance.

[2020-11-20 17:18] #1835 closed

[2020-11-20 17:26] goldyfruit opened #1837 "Raspberry OS 64-bit support"
Hi,

I'm trying to setup Alexa AI on my Raspberry Pi 4 using the Raspberry OS 64-bit but it failed during the installation because of Sensory which is not compiled to run on 64-bit OS.

Does Sensory is the only available option?
An issue has been opened on their repository for months now; https://github.com/Sensory/alexa-rpi/issues/10

Thanks :+1:

[2020-11-20 17:30] caleighatamazon commented on #1833
Hi @LotrForTheWin , looks like you might have found a bug in our documentation! I'll file a ticket to fix that up.

Let me know how re-trying the install works.

[2020-11-20 18:09] caleighatamazon commented on #1837
Hi @goldyfruit , at this time Sensory is our only supported open source wakeword engine. You can build the SDK and Sample App without wakeword, though. In that case you'd end up with a tap-to-talk Sample App.

To do so, you'll need to change the `pi.sh` script starting at line 24. Remove the existing `CMAKE_PLATFORM_SPECIFIC` definition and use this instead:
[code]

Then you'll need to delete your

[2020-11-20 18:17] caleighatamazon commented on #1834
Hi @smirkhani , how are you trying to run the Sample App, by the way?

I will see if I can reproduce this problem locally in the meantime.

[2020-11-20 19:04] goldyfruit commented on #1837
@caleighatamazon thanks for the alternative but not having a wake word is not a solution that I can use. :/

[2020-11-20 19:04] #1837 closed

[2020-11-20 19:23] smirkhani commented on #1834
I just ran source

[code]
Appreciate your help.

I am not an expert on Android but maybe my phone Android version or the API level is not compatible with your package.

[2020-11-20 20:35] kurol1 commented on #1814
Hi Ravi,

thank you very muchr your help and hints.

In the meantime I randomly(!) figured out how to get Alexa to communicate
with me:

In 'idle'.mode, I need to press and hold the 'A' key for app. 2 seconds,
then press the 'Enter'-key simultaneously and then release both keys.  Now
Alexa goes permanently into 'listening'-mode. Then I can ask her my
question. After finishing the question I need t

[2020-11-20 22:45] jcatumba commented on #1836
Hi @caleighatamazon, I'm going to try to build the 1.20 version.

The guide I'm following is the one for [Ubuntu](https://developer.amazon.com/es-ES/docs/alexa/avs-device-sdk/ubuntu.html) since that the Raspberry Pi guide recomends Raspbian.

[2020-11-20 23:34] jcatumba commented on #1836
Hi @caleighatamazon, the build of v1.20.1 was successful. I managed to launch the SampleApp, and also see it on the Alexa App on my phone.

[2020-11-21 00:07] VaruPan commented on #1814
Hi @kurol1,

To enable wake word, you will need to integrate and compile wake word engine to avs-device-sdk. Here is a [link](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#download-the-avs-device-sdk-and-the-sensory-wake-word-engine) that explains the steps.

Once you can validate wake word engine works with avs-device-sdk, you will need to compile alexa-smart-scre

[2020-11-21 03:56] sumiitsaxena commented on #1830
Hello @ereich1217 Below is the command output
pi@raspberrypi:~ $ sudo bash setup.sh config.json
################################################################################
################################################################################

AVS Device SDK Raspberry pi Script - Terms and Agreements

The AVS Device SDK is dependent on several third-party libraries, environments,
an

[2020-11-21 17:25] kurol1 commented on #1814
Hi Varun,

thank you very much for your help.

I followed the instructions in the link you attached in the email and
succeeded in compiling the SDK. Alexa answered my questions. All OK.

But now I'd be glad, if you would help me again:

After compiling as described I proceeded with step 7 of the instructions
here:
https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/raspber
ry-pi.h

[2020-11-21 17:37] LotrForTheWin commented on #1833
Hello,
I believe that there might be a problem in guide for neewbes with ./asounrc. The values provided by author might differ on devices. It is better to check it in dev/snd or just set it in volume control (right upper corner of the screen)

Anyway, i did manage to install the SDK, I did only change "make sampleApp" to "make" so everything is made.
After the authorization, i discovered that the

[2020-11-23 01:21] tinypancake commented on #1824
hi @caleighatamazon , The log is added to make clear which part will cause this crash. As for the compiler flags, I do not set any extra flags, just the default ones

[2020-11-23 06:45] fangweijiqid commented on #1820
1. i modified the Sample app， for example, playback the audio:

first :

   m_audioPlayer = acsdkAudioPlayer::AudioPlayer::create(
                        std::move(audioMediaPlayerFactory),
                        m_audioFocusManager,
                        m_exceptionSender,
                        audioChannelVolumeInterfaces,
                        nullptr);

    if (!m_audioPlayer) {

[2020-11-23 16:13] VaruPan commented on #1814
@kurol1, the cmake cmd looks good. Ensure that you have performed `make install` for the avs-device-sdk and the $HOME/sdk_folder/sdk-install has all the generated binaries and includes. This is mentioned as STEP 3.3 from the [setup guide](https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/raspberry-pi.html#step-3).

Thanks,
Varun

[2020-11-23 17:27] mvelegon-amzn commented on #1836
Hi @jcatumba can you post the cmake command you used with 1.21.0 version here so that I can try and reproduce this locally? Also, it would be helpful if you post the full build log along with all the commands you run. Thanks!

[2020-11-23 17:32] mvelegon-amzn commented on #1833
@LotrForTheWin when you built the SDK, did you enable Sensory Key Word Detector in the cmake command? Wake word detector is an optional build configuration to the SDK and the SDK can function without it using just the tap to talk feature.

[2020-11-23 17:44] mvelegon-amzn commented on #1830
Can you post full DEBUG9 logs which shows that wake word is not detected?

[2020-11-23 19:02] kccjazzman opened #1838 "Raspberry-AVS"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Trying to install AVS on a raspberry pi  running Debian Buster
 and getting the error when trying to run install script with following command:

sudo bash setup.sh config.json [-s 1234]
The installation s

[2020-11-23 21:42] caleighatamazon commented on #1824
Hi @tinypancake , here are a couple ideas:

1. To temporarily unblock you, you can try removing this error-checking altogether by commenting out lines 364-368 and lines 385-389 in `shared/acsdkManufactory/include/acsdkManufactory/CookBook_imp.h`. That will hopefully unblock you so that the Sample App will run. Let me know if this works for you.

2. However, I am still interested in why this is not

[2020-11-23 22:10] jcatumba commented on #1836
Hi @mvelegon-amzn. The cmake command was

    cmake $HOME/alexa/source/avs-device-sdk  -DGSTREAMER_MEDIA_PLAYER=ON  -DPORTAUDIO=ON -DPORTAUDIO_LIB_PATH=$HOME/alexa/third-party/portaudio/lib/.libs/libportaudio.so  -DPORTAUDIO_INCLUDE_DIR=$HOME/alexa/third-party/portaudio/include  -DCMAKE_BUILD_TYPE=DEBUG

I tried to clean up the build directory to get a clean log output for v1.21.0, but this time t

[2020-11-24 00:24] mvelegon-amzn commented on #1838
Hi @kccjazzman We do not support this platform for pi. The setup.sh script is meant to be used on Raspbian OS.

Can you try using this Ubuntu wiki to setup the SDK: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html

[2020-11-24 00:42] mvelegon-amzn commented on #1836
@jcatumba Glad that worked. Will be closing this issue, please open a new issue if you need further assistance.

[2020-11-24 00:42] #1836 closed

[2020-11-24 07:40] LotrForTheWin commented on #1833
Yes, I did exactlly like in Guide.

[2020-11-24 17:38] mvelegon-amzn commented on #1833
@LotrForTheWin can you capture Debug9 logs when the issue occurs with wake word and add the logs here so that we can diagnose the issue further?

[2020-11-24 20:27] kurol1 commented on #1814
Hi Varun,

thanks for your reply. I think it's getting better.

Please tell me, if it's the right way I try to get Alexa screen to work
properly.

1:) I install everything in accordance to
https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/raspber
ry-pi.html.

    Alexa is working fine with the ptt function.

2: As the above installation only works with ptt, I install the followi

[2020-11-25 01:15] tinypancake commented on #1824
@caleighatamazon, thanks for the indeed help, I will try this and feed back to you

[2020-11-25 02:29] smirkhani commented on #1834
Hi @caleighatamazon
I still could not solve this problem yet.

I have another question please. Is AVS sample app even targeted for Android phones (the recent ones)? If yes, I was wondering which one of the phones (including Android version / API version) you guys think is compatible with AVS?  Tnx alot

[2020-11-25 07:33] tinypancake commented on #1824
@caleighatamazon, Hi, I have tried with the  method mentioned in idea 2, I add additional log and modifying shared/acsdkShared/src/SharedComponent.cpp, it still occurs crash.
Below is the log:
[AVS SDK] Create /data/alexa successful!!
[AVS SDK] sighandler Handler Init and reset
AVS_DEBUG success
2020-11-25 01:41:39.767 [  1] C SampleApplication:[AVS SDK] read config file:filename=/data/AlexaClient

[2020-11-25 19:38] LotrForTheWin commented on #1833
hello @mvelegon-amzn
I did try to get the debug logs, but there are no debugs on my console :(
Bellow are my installation scripts.
I did add the "-DCMAKE_BUILD_TYPE=DEBUG" in instal3.sh but:
It did not provide any logs,
After the app authorize, the connecting steps takes long time.

Here is the command that I start my app with:
PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSD

[2020-11-25 19:57] caleighatamazon commented on #1824
Hi @tinypancake , thanks for the information! The MultiTimer factory is added in two places:
1. `SampleApplicationComponent.cpp` adds it directly: `        .addRetainedFactory(ConstructorAdapter<avsCommon::utils::timing::MultiTimer>::get())`
2. SampleApplicationComponent also adds SampleApplicationOptionsComponent, which in turn adds the SharedComponent. The SharedComponent also adds the MultiTime

[2020-11-25 23:42] mvelegon-amzn commented on #1834
Hi @smirkhani sorry for the delayed response. I am still investigating the issue at the moment. Will update you once I find something.

[2020-11-26 00:40] mvelegon-amzn commented on #1834
It is possible the android.sh script we run is not correctly cross compiling the dependencies for your Android phone's platform.

Can you post a log that shows the full output of android.sh to see if it can give us some clues. I also found some information here on this SO post: https://stackoverflow.com/questions/33206409/unused-dt-entry-type-0x1d-arg

[2020-11-26 00:53] mvelegon-amzn commented on #1830
Also, can you post the command you used to run the SampleApp?

[2020-11-26 00:59] Bartolosh opened #1839 "Alexa alarm, timer and reminder don't sound"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

When i set an alarm, a reminder or timer through Alexa on my Raspberry Pi it doesn't sound on it but if you ask her: "What are my alarms?" it replies: "It's ringing".

## What is the expected behavior?

[2020-11-26 01:34] mvelegon-amzn commented on #1833
@LotrForTheWin

1. Regarding why WW is not working: it appears to be because you are not using the startsample.sh . This script runs also passes the WW configuration argument. Please let me know if that works.

2. Regarding the issue with USB audio port output: I think we will need to look at the debug9 logs to see why this is happening. Can you let us know what happens when you run the startsampl

[2020-11-26 05:31] tinypancake commented on #1824
Hi, @caleighatamazon, I have tried you second suggestion and third suggestion together, the log I provided is with these two suggestion.

What I have done is modified the SampleApplicationComponent.cpp init flow as the AVS SDK Version 1.20.1

The patch file is :
[0008-fix-bootup-crash.txt](https://github.com/alexa/avs-device-sdk/files/5600682/0008-fix-bootup-crash.txt)

[2020-11-26 14:27] LotrForTheWin commented on #1833
1.
@mvelegon-amzn
According to this post I should be using the other tutorial. (where startsample.sh is not used.)
As mentioned by @caleighatamazon that guide got some bugs, so I switched to recommended one.
To avoid any missmatches, can you make fix with my instal*.txt files so I can run with WW command instead? I believe that Cmake in instal3.txt got ww included.

2.
Im using the command provide

[2020-11-26 18:41] mvelegon-amzn commented on #1839
Hi @Bartolosh can you post the debug9 logs when the issue occurs so that we can take and look at see why this happens?

[2020-11-26 19:00] caleighatamazon commented on #1824
Hi @tinypancake , thanks for sharing your workaround.

My theory is that the problem is `ConstructorAdapter<MultiTimer>` is being used in two different libraries, leading to two different template instantiations -- even though they are functionally identical. There must be some compilation difference here since we haven't seen this problem in our internal testing yet.

Can you give this patch a tr

[2020-11-26 20:09] akahay159 opened #1840 "Sample Android application is not working."
I have build Alexa auto sdk version 3 and when i was running android application to my phone, i was not getting any logs. It was a dunny application without any interaction. Can anyone help me what could be wrong in that?

**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly sum

[2020-11-27 00:16] mvelegon-amzn commented on #1840
Hi @akahay159 Thanks for reaching out. Regarding issues with Alexa Auto SDK, it would be better to get in touch with an Amazon Solution Architect to answer question.

This forum is for issues regarding the AVS C++ SDK.

[2020-11-27 00:16] #1840 closed

[2020-11-27 00:16] mvelegon-amzn commented on #1834
Quick update. We were able to reproduce this issue locally will be posting an update once we have more information.

[2020-11-27 00:20] Bartolosh commented on #1839
Where should I find them?

[2020-11-27 00:55] mvelegon-amzn commented on #1764
Hi @Alexa-AUH Could you please check if this issue is still happening with the latest release of the SDK?

[2020-11-27 01:06] mvelegon-amzn commented on #1839
when you run the sample app with the debug9 option the logs get printed to the console. Please capture those in a file and attach the file here.

[2020-11-27 01:10] mvelegon-amzn commented on #1834
Hi @smirkhani Can you run this command before starting the SampleApp? Please let us know if it fixes the issue

`unset LD_LIBRARY_PATH`

[2020-11-27 02:04] tinypancake commented on #1824
Hi, @caleighatamazon, I have tried your patch and Sample App run successfully, thanks for your help, and I will add your patch to instead of my modifications

[2020-11-27 02:38] caleighatamazon commented on #1824
Amazing! Thanks for helping us hunt down the bug. I'll mark this as Resolved and try to get this fix into our next release.

[2020-11-27 14:31] wmcreelman opened #1841 "Failed to create SampleApplication!"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
 was able to register Alexia  with no problem but now running into issue where it is not working.

## What is the expected behavior?

## What behavior are you observing?
Linux raspberrypi 5.4.72-v7l+ #135

[2020-11-27 17:36] mvelegon-amzn commented on #1841
Hi @wmcreelman Thanks for reaching out. This is the error that is causing the application to fail initialization:

[code]
This indicates an issue with the microphone. Can you please let us know if the microphone is plugged in?

[2020-11-27 22:21] Bartolosh commented on #1839
Sorry man, I had to restart the raspberry and now when I run SampleApp and say something to Alexa as "What time is it?", the output says: "Speaking" although it is not speaking at all ! Even if I disconnect and reconnect the Bluetooth speaker it does not play any sound, sometimes launching the app it also disconnect the current Bluetooth device...I followed this guide:
https://www.hackster.io/Varu

[2020-11-27 23:21] Bartolosh commented on #1839
Update: now if I use aux 3,5mm output it gives me like a robotic voice (not a good sound)... I don't know what to do with that

[2020-11-27 23:44] mvelegon-amzn commented on #1839
Hi @Bartolosh I think we will still need to see debug9 logs to help you further with this.

When you run this command:

`PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json DEBUG9`

There should be logs printed on the console, we would need to take a look at the logs to diagnose this issue further.

[2020-11-28 10:52] sumiitsaxena commented on #1830
Hello @mvelegon
Command I used is -
sudo bash startsample.sh

Can you please guide me on how to take Debug9 logs?

[2020-11-28 23:24] w0244079 commented on #1833
I installed the sdk (1.21.1) on a Raspberry PI 4 and had the same audio issues (no audio over analog). I then installed version 1.19.1 of the sdk and that too did not produce audio over analog.
I then installed an earlier version of raspbian (Feb 14 2020) and then installed the latest version of the SDK (1.21.1) and this worked!

Does this mean that the issue lies in the latest version of Raspbian

[2020-11-30 09:29] ankursharma319 commented on #1707
Hey @scotthea-amazon, is this fixed in version 1.21?

[2020-11-30 14:18] smirkhani commented on #1834
Hi @caleighatamazon

Here are two files that contain the build log.
[avsAndroidSampleAppBuildLog1.log](https://github.com/alexa/avs-device-sdk/files/5616397/avsAndroidSampleAppBuildLog1.log)
[avsAndroidSampleAppBuildLog2.log](https://github.com/alexa/avs-device-sdk/files/5616404/avsAndroidSampleAppBuildLog2.log)

The only reason I have two log files is because I forgot to connect my phone in the f

[2020-11-30 16:03] mvelegon-amzn commented on #1833
Hi @LotrForTheWin Can you please run the following command:
`
PA_ALSA_PLUGHW=1 ./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json  "/home/pi/sdk-folder/third-party/alexa-rpi/models" DEBUG9
`
This should fix the Wake Word issue.

Regarding the audio output we would have to take a look at the debug9 logs . So please post the output displayed on the console here when you run the above

[2020-11-30 16:05] mvelegon-amzn commented on #1833
@w0244079 We would need to take a look at the debug9 logs to understand why this is happening. It is possible this is happening because of a dependency not being installed correctly on the newest version of the raspbian. Also, were you using the same .asoundrc file and the same AlexaClientSDKConfig.json files in both cases?

[2020-11-30 16:08] mvelegon-amzn commented on #1830
@sumiitsaxena When you run the above script, there should be logs printed on the console, can you capture the output in a file and attach it here?

[2020-11-30 16:10] mvelegon-amzn commented on #1838
Closing this issue as the pi running debian buster is not supported.

[2020-11-30 16:10] #1838 closed

[2020-11-30 17:41] nguymi91 commented on #1814
@kurol1

Can you please try to run again with this command?

PA_ALSA_PLUGHW=1 ./modules/Alexa/SampleApp/src/SampleApp
-K ./third-party/alexa-rpi/models
-C $HOME/sdk_folder/sdk-build/Integration/AlexaClientSDKConfig.json
-C $HOME/sdk_folder/alexa-smart-screen-sdk/modules/GUI/config/SmartScreenSDKConfig.json
-L INFO

Thanks,
Mike

[2020-11-30 21:11] w0244079 commented on #1833
@mvelegon-amzn Yes I didn't modify the installation procedure for both installs. And I didn't modify either the .asoundrc file or the AlexaClientSDKConfig.json file in either installation. I followed the instructions at https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/set-up-raspberry-pi.html

[2020-12-01 00:47] w0244079 commented on #1833
I wanted to add my findings re running the sdk....I mentioned that the sdk (1.20) ran properly with audio on the Feb2020 release of Raspbian. The sdk ran properly BEFORE running apt-get upgrade. Once latest updates were applied, the audio stopped working.

[2020-12-01 04:40] bhornet704 opened #1842 "Failed to Authorize SampleApp"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

SampleApp failed to authorize.  Build was successful.
When i start the app I get the expected "NOT YET AUTHORIZED", then the authorization url and code.  The problem is the program never waits for me use

[2020-12-01 12:53] maidisula commented on #1761
Hi @Andrea2202  I've encountered the same issue. How did you solve this issue?

[2020-12-01 18:51] ereich1217 commented on #1842
You are having a microphone issue as indicated here in the log file:
2020-12-01 05:33:21.718 [ 1] C PortAudioMicrophoneWrapper:Failed to open PortAudio default stream:errorCode=-9985
2020-12-01 05:33:21.718 [ 1] C PortAudioMicrophoneWrapper:Failed to initialize PortAudioMicrophoneWrapper
2020-12-01 05:33:21.718 [ 1] C **SampleApplication:Failed to create microphone wrapper!**

Double check the Mac

[2020-12-02 01:35] bhornet704 commented on #1842
i figured it out - input device was not showing up on my mac pro.  Once I fixed that the authorization worked.

[2020-12-02 01:35] #1842 closed

[2020-12-02 02:53] maidisula opened #1843 "AVS SDK 1.21 bootup crash---type not in m_recipes"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

bootup crash with checkForCyclicDependencies type not in m_recipes error.
The issue is the same as "Build and Run sample app inside apk #1761"
Note, our compilation environment can not set ACSDK_USE_RTTI

[2020-12-02 07:04] maidisula commented on #1843
I changed the bold code and buid and run,
  if (typeToCompletedMap.end() == completedIt) {
                auto recipeIt = m_recipes.find(typeIndex);
                if (m_recipes.end() == recipeIt) {
                    markInvalid(__func__, "type not in m_recipes", typeIndex.getName());
                    **// logDependencies();
                    // return false;
                    continue;

[2020-12-02 09:07] maidisula commented on #1843
Why are so many functions not added to the m_recipes map and the point is that I cannot know the names of these functions.

[2020-12-02 18:32] scotthea-amazon commented on #1843
Hello @maidisula,

The problem appears to be that with your tool chain acsdkManufactory::internal::TypeIndex is not reliably mapping to one to one with types. The solution for this is to build with ACSDK_USE_RTTI=ON.  That would also help provide useful type names.

I see in your initial comment that you indicate that you can not enable this. Can you tell us more about your environment and why you

[2020-12-03 06:50] maidisula commented on #1843
Hi @scotthea-amazon ,
Our program will fail to compile if enable -frtti,  because our executable program will also depends on other dynamic libraries, but these libraries are not build with -frtti.

Is there any other way to solve this issue with ACSDK_USE_RTTI=OFF？

Thanks,

[2020-12-04 00:51] kdy1968 opened #1844 "not going to listen mode"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
followed guide, when alexa is spoke, i see response on console but it never shows "listening prompt" goes back to alexa is idle"

## What is the expected behavior?
expect to see listening prompt

## What

[2020-12-04 09:09] maidisula commented on #1843
Hi @scotthea-amazon ，
I have fixed the rtti build error and turn on ACSDK_USE_RTTI=ON, but the crash issue still exits.

I changed CookBook.cpp like this(blod):
    TypeToCompletedMap typeToCompletedMap;
    auto terminalCompletedIt = typeToCompletedMap.insert({getTypeIndex<CookBook>(), false}).first;
    std::vector<TypeIndex> allTypes;
    for (auto item : m_recipes) {
        **ACSDK_INFO(LX(__

[2020-12-04 16:06] kdy1968 commented on #1844
after reviewing this, appears alexa is listening, and is responding, appears to be a audio issue.

[2020-12-04 16:35] kdy1968 commented on #1844
I built using sudo, which put the sound settings under root i believe,

[2020-12-04 16:35] #1844 closed

[2020-12-05 01:59] tinypancake commented on #1843
Hi @maidisula, maybe you can try the patch mentioned in #1824, that's work for me

[2020-12-05 06:41] maidisula commented on #1843
Hi @tinypancake ,
I have added this patch, but that question is different from mine， thanks.

[2020-12-05 11:29] sumiitsaxena commented on #1830
@mvelegon-amzn I have pasted out here itself in my above reply. Please check if you can check and resolve the issue.
Thanks in advance.
Sumit Saxena

[2020-12-06 16:12] freemansoft opened #1845 "Failed to start sample application - Failed to open PortAudio - Raspberry Pi"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Built the sample using this guide https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/build-the-avs-device-sdk.html
Sample app fails to start on Raspberry Pi - messages imply microphone erro

[2020-12-06 20:21] kurol1 opened #1846 "screen size"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

## What is the expected behavior?

## What behavior are you observing?

## Provide the steps to reproduce the issue, if applicable:

## Tell us about your environment:

### What version of the AVS Device

[2020-12-06 20:23] #1846 closed

[2020-12-07 16:17] smirkhani commented on #1834
Hi @caleighatamazon - I was wondering if there is any update on this. Tnx

[2020-12-07 23:02] alexandrekm-amzn commented on #1845
@freemansoft
Thanks for reaching out, before I can help you further please try the instructions in this reply https://github.com/alexa/avs-device-sdk/issues/1811#issuecomment-716747992

If that doesn't solve your issue please run with DEBUG9 logs and attach them here.

Thanks!

[2020-12-08 01:41] freemansoft commented on #1845
Log files were attached to the original report.
Re-ran and attaching the log files here

Note that in the original report, I ran the SampleApp two different ways per the instructions on two different pages. It looks like both pages pull down the same avs-sdk repository but configure it subtly different.  One works and one doesn't. I wouldn't even care but the one that fails is the one that support

[2020-12-08 03:09] ereich1217 commented on #1845
For your Failed example I see you are running it with sudo.
I also see your post of ~/.asoundrc above which would only be used by the version that succeeded and isn't using sudo.
Did you confirm that your /root/.asoundrc is also correct?  This is the one that is used when you are running the app with sudo.

[2020-12-08 13:11] freemansoft commented on #1845
Good question.
The configuration is in `/etc/asound.conf` and in `~/.asoundrc`. It didn't help.

As stated above,
* The SDK set up as described in the smart screen guide _works_ for me.
    *  Note: It pauses the program so I can authorize via https://www.amazon.com/a/code
* The SDK set up as described in the avs guide _does not work_ for me.
    *  Note: It does not pause the SampleApp so I can a

[2020-12-08 13:11] #1845 closed

[2020-12-11 21:05] flashbif opened #1847 "avs-device-sdk instructions and alexa -smart-screen-sdk instructions do not use the same folder"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).
Are you aware that the avs device  sdk uses sdk-folder (dash), and the alexa smart screen sdk instructions use sdk_folder (underscore)?
Failed to create   SampleApplication! (#64)
Hi @flashbif,
Thanks a lot for reaching out to Alexa team.

[2020-12-11 23:12] alexandrekm-amzn commented on #1847
Hi @flashbif
Thanks for reaching out, before I can help you further please try the instructions in this reply https://github.com/alexa/avs-device-sdk/issues/1811#issuecomment-716747992

If that doesn't solve your issue please run with DEBUG9 logs and attach them here.

Thanks!

[2020-12-12 00:09] flashbif commented on #1847
1.pi@raspberrypi:/ $ nano ~/.asoundrc
pcm.!default {
   type asym
   playback.pcm {
     type plug
     slave.pcm "hw:1,0"
   }
   capture.pcm {
     type plug
      slave.pcm "hw:1,0"
   }
 }
2. pi@raspberrypi:/ $ sudo apt-get install sox -y && rec test.wav DEBUG9
Reading package lists... Done
Building dependency tree
Reading state information... Done
sox is already the newest version (14.4.2+git

[2020-12-12 00:12] flashbif commented on #1847
pi@raspberrypi:/ $ arecord -l
**** List of CAPTURE Hardware Devices ****
card 2: C920 [HD Pro Webcam C920], device 0: USB Audio [USB Audio]
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 3: Device [USB PnP Sound Device], device 0: USB Audio [USB Audio]
  Subdevices: 1/1
  Subdevice #0: subdevice #0
pi@raspberrypi:/ $ aplay -l
**** List of PLAYBACK Hardware Devices ****
card 0: b1 [bcm2835 HDM

[2020-12-12 01:17] flashbif commented on #1847
is the difference in folder locations (sdk-folder from this thread and sdk_folder from the smart-screen thread) messing me up?

[2020-12-12 22:25] smirkhani commented on #1834
I used another phone - Pixel 3 with Android 11
This time I actually run the sampleapp after building
But when I enter 't' and ask for 'what time is it?', the app keeps telling me 'invalid option'.

[2020-12-15 09:25] eytu0233 opened #1848 "Can not resume music after internet disconnection."
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Can not resume music after internet disconnection.

## What is the expected behavior?
Can resume music normally after internet disconnection.

## What behavior are you observing?
According to the certific

[2020-12-16 19:15] caleighatamazon commented on #1843
Hi @maidisula , can you please provide more detail about the toolchain you're using to compile the SDK? Compiler, linker, how you are loading the SDK libraries?

From your logs, it looks like the comparison of different `std::type_info` objects is failing to produce the expected results. That is, when the same type is used in different libraries when RTTI is enabled, we'd expect the `std::type_inf

[2020-12-16 19:58] caleighatamazon commented on #1843
Hi again @maidisula , as an experiment, please try applying this patch to the SDK and see if this fixes the issue for you.

This patch changes the comparison in `TypeIndex.h` such that instead of comparing two `std::type_info` objects for equality, it actually checks if the names of the two `std::type_info` objects are the same.

This might unblock you, considering we've noticed in your logs that

[2020-12-17 03:19] sumiitsaxena commented on #1830
Anyone please help with this issue!!!

[2020-12-17 06:31] kjkh commented on #1848
Hi @eytu0233,

When you are playing or resuming music, what music service provider are you using? Examples: iHeartRadio, Amazon Music, TuneIn, etc.

Have you seen this problem on previous versions of the SDK before?

[2020-12-17 07:03] kjkh commented on #1848
[code]

Regarding problem #2,I see that there are three recognize calls after the connection is re-established. However, you can see that only the last recognize call resulted in a Play directive being received. I confirmed this with the cloud side logs and it looks like the recognize at 08:29:39.419 and 08:29:48.598 did not result in any directives. Since you mentioned this happens intermittently

[2020-12-17 14:53] flashbif commented on #1847
@caleighatamazon I have proceeded as far as I can without feedback. I followed #1811  as far as i can. Any suggestions?

[2020-12-17 17:42] caleighatamazon commented on #1830
Hi @sumiitsaxena , we need DEBUG9 logs to proceed further -- we can't tell what is going wrong with your app right now.

Please reproduce the problem (where wakeword isn't detected) by running the app:

`sudo bash startsample.sh`

When you run that command, logs should be printed to the console. Can you capture that output and attach it as a file to the issue?

[2020-12-17 22:32] flashbif commented on #1847
Ok, I reran the whole build process using the scripts. changed asoundrc to match my devices and was able to build sample app. there is debug response when using wake word and addition debug response when asking what time it is. I cannot hear Alexa's response. arecord and aplay work fine.

[2020-12-17 22:33] flashbif commented on #1847
@alexandrekm-amzn

[2020-12-18 07:10] eytu0233 commented on #1848
Hi @kjkh,

This DEBUG9 log is for problem 1.
[music_interruption_resume.log](https://github.com/alexa/avs-device-sdk/files/5714169/music_interruption_resume.log)

We reproduced this issue by following steps.
1. Alexa, play music on Amazon music.
2. Disconnect the internet after music play.
3. Reconnect the itnernet after music stop.
4. Alexa, resume.
5. Alexa, resume.
6. Alexa, play.

Step 4. 5. a

[2020-12-18 14:15] #1847 closed

[2020-12-18 14:16] flashbif commented on #1847
No help provided. Ap starts but no sound heard

[2020-12-18 14:27] flashbif opened #1849 "Can run startsample.sh, but no sound when ap is speaking"
## Briefly summarize your issue:
Previously reported under #1847, but with no feedback for 6 days. Repeated step to set up the AVS Device SDK using the scripts this time. Got sample app to react to wake work and and proceed to "Speaking", but no sound heard. Followed previous suggestion ref to #1811 , but no joy there. Attached DEbug 9 results
[test what time.txt](https://github.com/alexa/avs-devi

[2020-12-19 02:44] sumiitsaxena commented on #1830
Hi @caleighatamazon
I have attached the logs file.
Please check if you can analyze it for the issue.
[Uploading session.log…]()

[2020-12-20 17:56] 0Wafflez0 opened #1850 "fatal error: curl/curl.h: File or directory not found"
## Briefly summarize your issue:
I wanted to make my own echo based on a Raspberry. So i used the instruction manual and got to work. I had to install a "Setup.sh" so i did but i got an error at the end.

## What behavior are you observing?
I got the error: https://pastebin.com/adH7CkUs

### Tell us what hardware you're using:
-  Desktop / Laptop (realVNC)
-  Raspberry Pi

### Tell us about your O

[2020-12-21 06:55] prateek-web opened #1851 ""Alexa, sing me a song" command not working"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
 When I invoke alexa using command "Alexa, sing me a song", it starts playing song for 1-2 sec, then it stops and becomes unresponsive for ~10 sec.

## What is the expected behavior?
It should complete th

[2020-12-21 06:57] prateek-web commented on #1851
[alexa(1).log](https://github.com/alexa/avs-device-sdk/files/5722765/alexa.1.log)
DEBUG9 Logs of the issue.

[2020-12-21 18:02] womw commented on #1850
Hi @0Wafflez0 thanks for posting,

Did you install the sdk using the install script? It should have installed curl
https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/build-the-avs-device-sdk.html

You can also specify the location of curl with the following flags
https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/build-the-avs-device-sdk.html

[2020-12-22 17:12] womw commented on #1851
Hi @prateek-web thanks for posting.

Looking into this issue I was able to reproduce a crash on 1.18 of our SampleApp with sing me a song. We are looking further into this issue.

[2020-12-22 21:29] womw commented on #1851
Hi @prateek-web
This is due to a known issue with the guiRenderer.cpp
This bug was fixed in version 1.21 of the SDK. Please update to a newer version of the SDK or update the guiRenderer.cpp file in your source code.

[2020-12-22 21:29] #1851 closed

[2020-12-23 06:38] Alexa-AUH opened #1852 "Spotify-Alexa Resume song issue"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I am using avs-device-sdk-1.18 Spotify ESDK Adapter-3.122.67 and Adapter v.1.8. Alexa. Spotify resumes from where it was left paused but Alexa says “What do you want me to Play?”.

## What is the expected

[2020-12-23 09:08] yuan0258 opened #1853 "The specific TuneIn podcast playback is too slow to fail AQT Music performance"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

When playing or resume the program "Joe Rogan Experience" on TuneIn podcast, it needs the time to wait TuneIn to play in some time.
The time exceeds 13 seconds and above which not match AQT Music expecte

[2020-12-23 18:19] #1849 closed

[2020-12-23 18:21] flashbif commented on #1849
I can repeatably run the sample app, by starting from scratch noobs install. I am not a programmer, but would love to have this autostart on my PI.

[2020-12-23 20:57] womw commented on #1853
Hi @yuan0258 , this is an issue with TuneIn podcasts as they are downloaded from 0:00 and must buffer all the data up until the desired timestamp.

Some ways to ensure this test proceeds smoothly is to make sure you have a fast and stable internet connection to your device.

Another step to do is to make sure that AQT testing is done from the start of the podcast. You can do this by running the st

[2020-12-23 21:17] phonnik commented on #1850
I had the same issue. This solved it: `sudo apt-get install libcurl4-openssl-dev`

[https://stackoverflow.com/questions/11471690/curl-h-no-such-file-or-directory/11471743](url)

[2020-12-23 21:34] womw commented on #1830
hi @sumiitsaxena looking through your logs I see that your SampleApplication does not connect to AVS.

[code]

Can you confirm that your raspberry pi is connected to the internet?

[2020-12-24 08:52] oscar1372 commented on #1853
Hi @womw , I follow your steps to setup the position of podcast before AQT TuneIn Podcast testing. There are two podcast "Joe Rogan Experience" and "Up First". It is improve for first time playing but still failed in the after.

I checked the report. It is failed for delayed when playing "Joe Rogan Experience" in the third time(No.27) due to timestamp.
(RaspberryPi)
![image](https://user-images.gi

[2020-12-24 20:59] 0Wafflez0 commented on #1850
ah yes i did it now with the install script. it works thx 👍 :D

[2020-12-24 20:59] #1850 closed

[2020-12-25 15:55] oscar1372 commented on #1853
Hi @womw , Is it possible to use "Range" header to speed up the content downloading?

I found gstreamer will return the offset bytes of seeking when resuming TuneIn podcast. (ex: AttachmentReaderSource:handleSeekData:offset=124415584)

And I check podcast response header, it is accept "Range" header. So, I think SDK should able to set "Range: bytes" header for content fetch to speed up when seekin

[2020-12-27 14:45] featonby opened #1855 "Error on avs device sdk build - libLibSampleApp.so: file not recognized: file truncated"
## Briefly summarize your issue:
Unable to complete installation of device sdk. Following instructions at:
https://developer.amazon.com/it-IT/docs/alexa/alexa-voice-service/build-the-avs-device-sdk.html
but get error towards the end as below - libLibSampleApp.so: file not recognized: file truncated

Any help gratefully received.

## What is the expected behavior?
No error and that installation com

[2020-12-28 14:19] Wasu-RPI opened #1856 "Raspberry pi3 avs Build Fail 93%"
It long Time to Build And Stop To Build AVS At
[ 93%] Building CXX object Application Utilities/DefaultClient/src/CMakeFiles/DefaultClient.dir/DefaultClient.cpp.o

[2020-12-28 14:43] sumiitsaxena commented on #1830
Hi @womw
Please check new attached logs
[session.log](https://github.com/alexa/avs-device-sdk/files/5747682/session.log)

[2020-12-28 17:51] ereich1217 commented on #1830
Are you able to use aplay and arecord to play and record audio?

[2020-12-28 18:50] omk10 commented on #1856
I have also faced a similar issue this week. As we are using Raspberry Pi 3 Model, it consists of only 1 gb ram and some of the object building processes (like [ 93%] Building CXX object Application Utilities/DefaultClient/src/CMakeFiles/DefaultClient.dir/DefaultClient.cpp.o) from recent avs-device-sdk version requires more memory for object building task.

To solve this issue I increased my swap

[2020-12-29 00:01] pablinho1023 commented on #744
Hello! After fighting with this problem for hours and found that the license seems to be the problem. I got the message
[code]
But then I got `error: cannot open .git/FETCH_HEAD: Permission denied`

What should I do then?

Thank you very much!

[2020-12-29 00:07] pablinho1023 commented on #1482
Hello I just got this problem, but how should I fix it? If I say yes I still get an error.

Thank you!

[2020-12-29 01:29] sumiitsaxena commented on #1830
@ereich1217 Yes I am able to use arecord and aplay

[2020-12-29 07:12] Wasu-RPI commented on #1856
Thank You. I Can Run My  Build AVS  Process 100%  And Job Finish But Long Time Not Without Error  And  I Editor Your Script As CONF_SWAPSIZE=1024.It Can Build AVS  To Smooth.

[2020-12-29 07:32] giorgosgs commented on #1850
I had the same issue with the latest Buster and latest AVS SDK. I have run the install script but it didnt install curl.
This fixed it.

[2020-12-29 10:06] Sizuku2847 opened #1858 "./genConfig.sh syntax error"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I get a Python configuration error

## What is the expected behavior?

Completed generation of config file:
Log appears

## What behavior are you observing?

./genConfig.sh: line 122: python: command not

[2020-12-29 16:18] #1855 closed

[2020-12-29 17:40] kclchan commented on #1852
Hi @Alexa-AUH,

Due to the nature of the issue, can you please reach out through your Amazon Business Representative and we can debug this using a separate communication channel.  Thanks!

[2020-12-29 17:40] #1852 closed

[2020-12-29 18:03] kclchan commented on #1841
Closing due to inactivity. Please open a new issue if this continues to be a problem, or if you have other questions. Thanks!

[2020-12-29 18:03] #1841 closed

[2020-12-29 18:18] kclchan commented on #1858
Hi @Sizuku2847, based on the error, it seems Python is not installed in your system.  Please follow the instruction [here](https://docs.python-guide.org/starting/install3/linux/) to install.

[2020-12-29 18:24] kclchan commented on #1830
Hi @sumiitsaxena, you mentioned that tap-to-talk is working for you (i.e press 't'), is that still the case?  If tap-to-talk is working for you, could you try to say Alexa more slowly (e.g. A-lex-xa) and see if it works?

[2020-12-29 18:25] kclchan commented on #1856
I am glad that setting the swap memory works for you.

[2020-12-29 18:32] kclchan commented on #1848
Hi @eytu0233, in step 4, 5, or 6, instead of just saying resume/play, do you get music playback if you say something like "Alexa, play music on Amazon music."?

[2020-12-29 19:03] kclchan commented on #1839
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2020-12-29 19:03] #1839 closed

[2020-12-29 19:04] kclchan commented on #1764
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2020-12-29 19:04] #1764 closed

[2020-12-29 19:06] kclchan commented on #1717
I am closing this issue due to inactivity.  If you have further questions, please open a new ticket and refer to this closed one.

[2020-12-29 19:06] #1717 closed

[2020-12-29 21:03] kclchan commented on #1805
Hi @nad81, sorry for the late reply, is this issue still reproducible?  If so, I am wondering if it's possible for you to add an additional conditional check `avsCommon::utils::playlistParser::PlaylistParseResult::STILL_ONGOING == parseResult` in https://github.com/alexa/avs-device-sdk/blob/master/PlaylistParser/src/UrlContentToAttachmentConverter.cpp#L142

[code]

[2020-12-29 23:54] Sizuku2847 commented on #1858
Hi @kclchan ,I already have python on my system. But when I run the command, it doesn't work.

hiyori@hiyori-desktop:~$ python3 --version
Python 3.8.6

[2020-12-30 03:09] sumiitsaxena commented on #1830
Hi @kclchan I tried speaking slowly, but it did not recognise it.
I think from logs I can see that it is not going in listening mode

[2020-12-30 03:29] Petrocoder commented on #1156
@tomh05 thanks, it solved my problem

[2020-12-30 17:44] kclchan commented on #1858
Hi @Sizuku2847, the script uses `python` instead of `python3`.  Please follow the instruction [here](https://askubuntu.com/questions/1256996/i-cant-check-python-version-on-ubuntu-20-04) to use python3 as python.

[2020-12-30 22:36] Sizuku2847 commented on #1858
Hi @kclchan , The program worked fine when I ran it exactly as you said. Thank you very much.

[2020-12-30 22:36] #1858 closed

[2021-01-01 01:39] TinkerJeff commented on #1856
I encountered an identical issue. I added a USB thumb drive, noticed that it was setup as /dev/sda, and added /dev/sda to the swap space. After that I had no issues.

[2021-01-03 07:57] TinkerJeff commented on #1429
I had a similar issue, the steps I followed to expand the swapfile on the sdcard were:
sudo dphys-swapfile swapoff
sudo nano /etc/dphys-swapfile
_Increase the number 100 to 1100__
sudo dphys-swapfile setup
sudo dphys-swapfile swapon

Use swapon -s to view the swap space.

I elected to restart afterwards to verify the change worked after a restart.

[2021-01-04 05:33] xiaocrazy opened #1859 "How to build the device sdk to auto sdk?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I want to change the code at "alexa-auto-sdk-2.3/builder/build/tmp-android-22/work/armv7a-neon-linux-androideabi/avs-device-sdk/1.19.1-r0/avs-device-sdk-1.19.1/KWD/AmazonLite/src" in auto sdk,but we just

[2021-01-04 10:00] nad81 commented on #1805
Hi @kclchan, yes the problem is still reproducible.
I try with your additional code and tell you the result.

Thanks for now

[2021-01-04 17:18] caleighatamazon commented on #1859
Hi @xiaocrazy , this is a question for the Auto SDK. Please see their page for getting help: https://github.com/alexa/alexa-auto-sdk/blob/3.0/NEED_HELP.md

We don't support the Auto SDK in this forum, so I'll close this ticket.

[2021-01-04 17:18] #1859 closed

[2021-01-04 17:49] kclchan commented on #1830
Hi @sumiitsaxena, does tap-to-talk (press 't' and say "What time is it") work for you?

[2021-01-05 01:44] sumiitsaxena commented on #1830
hello @kclchan yes as I already stated tap to talk works fine

[2021-01-05 02:50] eytu0233 commented on #1848
Hi @kclchan,

Yes, it does playback a new music after "Alexa, play music" when step 4, 5 or 6.

[2021-01-05 12:46] Alexa-AUH opened #1860 "Do not getting LED Notification"
## Briefly summarize your issue:
Alexa is not indicating about message received notification.

## What is the expected behavior?
Alexa should notify about the received message like this example below.
################################################
#       NOTIFICATION INDICATOR STATE: OFF       #
#################################################

## What behavior are you observing?
Alexa did not

[2021-01-05 18:46] caleighatamazon commented on #1843
Closing due to inactivity, but please re-open a new issue if you continue to encounter this problem.

[2021-01-05 18:46] #1843 closed

[2021-01-05 18:48] caleighatamazon commented on #1856
It looks like you've resolved this issue, so I'll close this. So far we haven't been able to reproduce the problem on our Pi 3, but we're still investigating. Thanks for letting us know how you fixed it.

[2021-01-05 18:48] #1856 closed

[2021-01-06 20:53] zzk135246 opened #1861 "M1 Mac AVS SDK SampleApp Crash Before Authorization"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

SampleApp crashes before authorization.
## What is the expected behavior?

should let me go to the link and authorize.
## What behavior are you observing?

Running app with log level: DEBUG9
2021-01-06 2

[2021-01-06 20:54] zzk135246 commented on #1861
all the dependency listed in documentation were installed, the build process went through with out any error.

[2021-01-06 21:49] caleighatamazon commented on #1861
Hi @zzk135246 ,

The error is due to your PortAudio microphone:

[code]

Sample App will quit if the microphone fails.

Unfortunately the error number (-9999) doesn't tell us very much, since that's the fall-through error.

Please confirm your Portaudio installation worked without error. You can try deleting your current Portaudio install directory and re-running these steps from our guide:

[code

[2021-01-06 21:56] caleighatamazon commented on #1860
Hi @Alexa-AUH, can you please copy this information to a ticket with your Amazon contact? There is some confidential logging in this issue so I'm going to remove it from the Github post, but please reach out to your Amazon contact and we can keep helping there.

[2021-01-06 21:56] #1860 closed

[2021-01-07 00:28] caleighatamazon commented on #1830
Hi @sumiitsaxena , the logs you provided only cover about 4 seconds (from `2020-12-28 13:28:20.891` to `2020-12-28 13:28:24.221`). I can't tell exactly when you tried to wake up Alexa, especially since the session was only live for about two seconds after the app first became Authorized.

Can you reproduce the problem and also demonstrate how tap-to-talk is working? If you could also give a timest

[2021-01-07 00:33] caleighatamazon commented on #1833
Hi @w0244079 , it looks like you've resolved your issue and there have been no updates here for some time, so I'm going to close this. If you want some more support in investigating this, please open a new issue and also provide the DEBUG9 logs where you reproduce the problem. We won't be able to investigate more without the DEBUG9 logs. Thanks!

[2021-01-07 00:33] caleighatamazon commented on #1814
I'm going to close this due to inactivity. Please open a new issue if I've closed this in error, or if you have more questions. Thanks!

[2021-01-07 00:33] #1814 closed

[2021-01-07 00:46] caleighatamazon commented on #1820
Hi @fangweijiqid , sorry for the delay in responding. Thanks for providing some logs. I think we need to back up a bit since I'm not clear on what the bug is. Can you explain a bit more about what the application is doing wrong? In the logs, can you provide a timestamp for roughly when that incorrect behaviour started?

Does the behaviour happen when you use the vanilla SDK Sample App, without you

[2021-01-07 00:55] caleighatamazon commented on #1861
A quick follow-up -- I think this error you're seeing is the key to the issue:

[code]

I googled the error, and the error means there is something wrong with the way your microphone is configured on your Mac. It may be a permissions problem; for example, you might not have given permission for your terminal to access your microphone. That's one of the possibilities I found on Google.

Debugging m

[2021-01-07 01:58] w0244079 commented on #1833
No the issue isn’t resolved. It’s just a workaround as far as I’m concerned.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Caleigh Minshall <notifications@github.com>
Sent: Wednesday, January 6, 2021 8:33:15 PM
To: alexa/avs-device-sdk <avs-device-sdk@noreply.github.com>
Cc: Caines,Michael <michael.caines@nscc.ca>; Mention <mention@noreply.github.com>
Subject:

[2021-01-07 12:36] yacula commented on #1861
I have the same issue, reconfiguring portaudio doesn't help. Microphone permissions are granted for both Terminal & iTerm. I'm on Big Sur, which I assume is the same for M1 Mac. I'm on Intel though.

[2021-01-07 15:33] zzk135246 commented on #1861
I'm on the M1 MacBook running big sur

[2021-01-07 15:59] zzk135246 commented on #1861
checking build system type... arm-apple-darwin20.1.0
checking host system type... arm-apple-darwin20.1.0
checking target system type... arm-apple-darwin20.1.0
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object

[2021-01-07 16:12] zzk135246 commented on #1861
I've been trying to figure out how grant microphone access to the terminal.  It does not seems to give me an option in security and privacy to add terminal to microphone access.

[2021-01-07 16:13] zzk135246 commented on #1861
how to you grant microphone access to terminal?  I've trying to google it, but nothing seems related to this.

[2021-01-07 17:28] caleighatamazon commented on #1833
Hi @w0244079 , I'll reopen the issue if you'd like more support. Can you please provide DEBUG9 logs where you reproduce the problem? You can attach the logs as a file.

[2021-01-07 21:43] zzk135246 opened #1862 "How can Smart Home for AVS work with MQTT?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I've been trying to work on Smart Home for AVS to control connected devices in my home.
I want to use the peripheral endpoint controller instead of going through the smart home skill.
I've already set up

[2021-01-07 22:02] caleighatamazon commented on #1861
Hi @zzk135246 and @yacula , we have not tested the SDK Sample App with Big Sur macOS, so I can't give you much (tested) advice on how to set up your microphone correctly on that operating system.

My advice at this time is to search for possible resolutions to this error: `||PaMacCore (AUHAL)|| AUHAL component not found.` I believe once you fix that problem, the SDK Sample App microphone should wo

[2021-01-08 10:23] yacula commented on #1861
I just had to go to System Preferences -> Security & Privacy -> Privacy, then select microphone and tick terminal, image attached. But as I said it's not doing anything for me.
<img width="666" alt="Screenshot 2021-01-08 at 11 21 05" src="https://user-images.githubusercontent.com/20949308/104004330-e77a4080-51a3-11eb-8bf5-979ea9e8825b.png">

[2021-01-08 16:23] zzk135246 commented on #1861
It does not show a option for terminal under microphone on my MacBook. I tried to record a audio file from the terminal, and  it asked me if I wanted to grant microphone access to terminal.  Anyways, this did not fix the issue.

[2021-01-08 17:41] caleighatamazon commented on #1861
@yacula Can you find a way to test if you can record microphone data from your terminal (or iTerm) *without* the SDK? You can google ways to do that. That would narrow down if this is a problem with general microphone configuration on your computer, or whether it's something specific to the Sample App.

@zzk135246 My understanding from Google is that you need to launch some application from your t

[2021-01-08 18:10] caleighatamazon commented on #1862
Hi @zzk135246 , unfortunately your question is beyond the scope of our forum -- this Github forum is just for supporting issues and bugs related to the AVS Device SDK.

I recommend you use the contact form and explain your questions here: https://developer.amazon.com/alexa/console/contact-us

[2021-01-08 18:10] #1862 closed

[2021-01-10 12:27] ezi123 commented on #1156
tomh05 Thanks! Your solution works great

[2021-01-11 11:12] yacula commented on #1861
@caleighatamazon I confirm that I can record audio from iTerm & Terminal using sox.
`sox -d test.wav`

[2021-01-11 14:36] zzk135246 commented on #1861
@yacula @caleighatamazon  I did the same, using sox, then it asked me to grant mic access to terminal, which I did. Now I'm able to record via sox

[2021-01-11 18:06] caleighatamazon commented on #1853
Hi @oscar1372 , unfortunately what you propose isn't possible in the SDK right now. There's no directive to "resume", but rather the device would just get another PLAY directive with an offset, so we'd also need to put in some effort to see if it's even possible to use the last byte offset.

Implementing something like what you suggest constitutes a feature request, so I'll label this issue as suc

[2021-01-12 23:02] mvelegon-amzn commented on #1861
Hi @zzk135246 @yacula We have not tried building the SDK on BigSur so the following is untested. Could you please run the Sample App using sudo and provide the DEBUG9 logs. Since microphone permission has been granted for terminal now, I would like to see if PortAudio initialization in SampleApp is still throwing the same error code (-9999) as before or if its something else.

[2021-01-13 02:19] mtk07926 opened #1863 "when playlist to the end ,press play button again , mediaplayer can't play any other music"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
   when playlist to the end (amazon music),press play  button again ,the device can't play any music again
we have try this issue both on AVS SDK 1.17&1.22 , we also try this on Echo plus
     1. when pla

[2021-01-13 23:30] rooferdave commented on #1156
Worked for me.

[2021-01-14 13:18] yacula commented on #1861
Hi there! The error code seems to be different now, however the behaviour is the same. I'm attaching the DEBUG9 logs running SampleApp with sudo:
`Running app with log level: DEBUG9
2021-01-14 13:14:06.820 [  1] I AlexaClientSdkInit:initialize:sdkversion=1.21.0
2021-01-14 13:14:06.823 [  1] 0 ConfigurationNode:initializeSuccess
2021-01-14 13:14:06.829 [  1] 5 SDKPrimitivesProvider:getInstance
2021

[2021-01-15 02:14] mvelegon-amzn commented on #1863
Hi @mtk07926 I am still investigating this issue, will reach out if I need more information.

[2021-01-15 02:17] mtk07926 commented on #1863
ok, thank you

[2021-01-15 02:29] mtk07926 opened #1864 "when 1p devic and 3p device make a music group , and enable "repeat all" button on Amazon music , 3p device can't go to the next song"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
  create a multiroom music group with one 1p device and one 3p device
using amazon music casting to group ,enable the repeat all button , 3p device can't play the next song

   We check the log and found

[2021-01-15 15:29] mvelegon-amzn commented on #1864
Hi @mtk07926 for WHA related questions please reach out to us through your Amazon Solutions Architect. We do not support Whole Home Audio questions on github. I will be closing this issue here.

[2021-01-15 15:29] #1864 closed

[2021-01-15 21:31] mvelegon-amzn commented on #1755
Hi @angelobt @gabrieldespindula

It does appear that the SDK gets stuck in the `m_wakeEvent.wait_until` condition which is causing other methods to get blocked waiting on the lock. Before we figure out the right fix for this, it would help us to understand how you are able to reproduce this issue. Are there any specific instructions you could provide so that we could reproduce this behavior locall

[2021-01-17 01:32] mtk07926 commented on #1863
when playlist reaches the end , press the play button again(the button will change to pause when reaches to the end) then press previous or next, this is the key point.we can't play any other music at all from this point
  I upload a video in box :
  https://app.box.com/s/jvm8gfghnyp93cds50o359tdtq0n20ia

[2021-01-18 03:16] keying-linkplay opened #1865 "Repeat code"
both line 80 and line 84 set the m_currentPowerState and copyOfObservers, i think it can remove one of them.
https://github.com/alexa/avs-device-sdk/blob/8e77a64c5be5a0b7b19c53549d91b0c45c37df3a/SampleApp/src/PeripheralEndpoint/PeripheralEndpointPowerControllerHandler.cpp#L80

https://github.com/alexa/avs-device-sdk/blob/8e77a64c5be5a0b7b19c53549d91b0c45c37df3a/SampleApp/src/PeripheralEndpoint/Per

[2021-01-18 11:03] iogbole commented on #1714
I had a similar error, executing `sudo apt-get install libcurl4-openssl-dev` and restarting the installation resolved the issue.

[2021-01-18 15:23] mvelegon-amzn commented on #1861
Seems like this is an issue with PortAudio that is being tracked on this ticket here: https://github.com/PortAudio/portaudio/pull/356

Looks like they have a fix ready and once that is approved, you could download the latest version of portaudio, compile it and try again.

[2021-01-18 15:42] mvelegon-amzn commented on #1714
@iogbole thanks for providing the step to resolve this.

@chaserr could you please try this and let us know if you are still seeing this issue?

[2021-01-18 15:46] mvelegon-amzn commented on #1865
Hi @keying-linkplay thanks for letting us know. It does seem the redundant code in line 80 and 81 is not useful. I think the original intention was to notify the observers only if there is a change compared to the previous setting. I will open a ticket internally to get this addressed. Thanks!

[2021-01-18 15:46] #1865 closed

[2021-01-18 15:56] mvelegon-amzn commented on #1703
Hi @PerSpc could you give us some more details on the platform you are using?

Also, it would help if you run a heap tracer such as valgrind or heaptrack to get an idea of the heap memory usage.

We ran similar tests with the SDK and concluded that looking at RSS by itself is not a good measure to find out actual memory used by the application. The reason is the heap allocator tries to optimize fo

[2021-01-18 15:57] mvelegon-amzn commented on #1746
Hi @DeepikaBalaga are you still facing this issue?

[2021-01-19 09:05] LotrForTheWin opened #1866 "Destination address for alexa SampleApp"
Hello,
it maybe not a bug but:
Is there any simple way to get destination from sampleApp?

Im thinking about use cases like:
"Alexa where is the nearest Mcdonalds?"
-And i get the location in repsonse

or "Where is the nearest petrol station?"

Feature should be able to react to my current position.

[2021-01-19 09:33] robomodo123 commented on #1866
You can use whatever case you want, <a href='https://thexploretech.com/Alexa-having-trouble-understanding/'>Alexa</a> always points you to your destination. But I don't about the SampleApp thing.

[2021-01-19 18:06] womw commented on #1866
Hi @LotrForTheWin thanks for posting.

It is possible to set your devices location through the companion app.
https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/set-device-location.html

With this the cases you asked should be possible.

[2021-01-19 18:24] womw commented on #1863
Hi @mtk07926

Can you provide DEBUG9 logs of this interaction? It will be helpful in determining if the issue is with the Amazon Music App or if it is with the avs sdk

[2021-01-19 19:54] zzk135246 commented on #1861
Thank you very much!
This resolves my issue.

[2021-01-19 19:54] #1861 closed

[2021-01-20 03:37] Wasu-RPI opened #1868 "alexa raspberry pi Espalexa.h And fauxmo.h Librarie"
I Make Project Sonoff Smart Home projects, use Espalexa.h And  fauxmo.h Librarie Libraries With ESP8266 And Wemos D1 mini .It Complier Pass and Run devices to find and assign IP in the same wifi With Alexa, but Alexa can't find devices Ask for advice, fix

[2021-01-20 11:28] yacula commented on #1861
If anyone is interested, I've downloaded the latest portaudio version (from 20/01/2021) http://files.portaudio.com/archives/pa_snapshot.tgz and built the whole sdk with it and it now seems to be working fine. Thanks for all your help!

[2021-01-20 22:11] womw commented on #1868
Hi @Wasu-RPI thanks for posting

Can you please resubmit your issue according to the template? It's hard to understand what the problem is.

[2021-01-21 12:02] LotrForTheWin commented on #1866
Let me change my question:

I did develope some application on Raspberry pi that I want to use with RADIO in my CAR.
At the end of development proces (integration of UI, managing audio routing etc) I wanted to extend my alexa by navigation functionalities. NOW I have discover "alexa car SDK". I'm afraind that it is a little bit late for changes.

In my app I want:
- Automatically update my locatio

[2021-01-22 07:40] eytu0233 opened #1869 "Question about AVS de-registration event"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Hi AVS team,

We have a question about how to receive AVS de-registration event from APP.
While we de-register a device from APP, it may receive System:ResetUserInactivity and AudioPlayer:Stop directives

[2021-01-25 05:38] yuan0258 commented on #1869
Using Metric recording it seems only get ResetUserInactivity after alexa app de-register
[{"directive":{"header":{"namespace":"System","name":"ResetUserInactivity","messageId":"f04bd389-6478-40f8-964a-3e9af1aa83fe"},"payload":{"cause":"GUI_ACTION"}}}]

[2021-01-25 19:11] alexandrekm-amzn commented on #1869
Hello @yuan0258

The ResetUserInactivity is sent to reset the inactivity timer(https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/system.html#resetuserinactivity).

To detect a deregistration you can implement a RegistrationObserver and listen for the logout signal.

see:
1) https://alexa.github.io/avs-device-sdk/classalexa_client_s_d_k_1_1registration_manager_1_1_registration_manag

[2021-01-25 19:29] alexandrekm-amzn commented on #1866
Hi @LotrForTheWin

Unfortunately we do not have realtime location features in the device SDK, I recommend you to use the Auto SDK (https://github.com/alexa/alexa-auto-sdk).

[2021-01-26 08:08] yuan0258 commented on #1869
@alexandrekm-amzn,
It seems RegistrationObserver need user trigger logout locally. If user use Alexa App to de-register device.
Could we get the logout directive from cloud?

[2021-01-26 13:40] djdocta commented on #1830
All,
this has nothing to do with the installation steps.
Amazon works with a third party for the wakeword recognition and its linked to a license. The license is valide up to 120 days and needs to get updated once this period is exceeded. In order to correct the issue, tap the following command in your home directory :

./third-party/alexa-rpi/bin/license.sh

It will give you following result :

E

[2021-01-27 09:29] myabhiasati opened #1870 "Unable to Pause / Resume Music with gaana.com"
Hello All,

We are trying to play music from gaana.com by saying "Alexa play music from gaana". Music starts smoothly. But Pause / Resume do not working as expected.

**Steps to Reproduce**
1.Alexa play music from gaana
2. After playback starts, pause the music by saying Alexa Pause
3. Try to resume by saying Alexa Resume.
Expected Behavior : Song should resume when we say resume.
Observed Behavio

[2021-01-27 22:40] alexandrekm-amzn commented on #1870
Hi @myabhiasati
We tried to reproduce the issue to no avail. In our tests the song is always resumed as expected.

Looking at the provided logs (specifically all the RenderPlayerInfoCard) it shows that the song being played is "Naach Meri Rani" so this doesn't seem to match with the scenario described. We need more info to be able to help you, please answer the following:

### What version of the

[2021-01-27 22:45] alexandrekm-amzn commented on #1868
hi @Wasu-RPI

Can you open a new issue following the template? As soon as you click the ' New Issue' button the template will show up in the issue's body, please fill the fields shown there.

[2021-01-27 22:45] #1868 closed

[2021-01-27 23:05] alexandrekm-amzn commented on #1869
@yuan0258
Unfortunately no such directive exists at the moment, we are working to improve the experience in those situations, please keep posted for updates.

[2021-01-27 23:05] #1869 closed

[2021-01-28 01:10] yuan0258 commented on #1848
@kclchan,

Could you reproduce this issue?

[2021-01-28 09:09] itzniru commented on #1551
TY!! You are the mvp

[2021-01-29 22:14] Henry-Yi-2022 opened #1871 "Fatal Error: snsr.h file not found"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I am trying to add the Snowboy wake word engine for my AVS device (I am currently running on MacOS), but when I run the command "make SampleApp" it produces the error message "Fatal Error: snsr.h file no

[2021-01-30 05:20] sumiitsaxena commented on #1830
Hi @djdocta
./third-party/alexa-rpi/bin/license.sh
Above command returned nothing. Please help. :-(

[2021-01-30 11:29] djdocta commented on #1830
Hi @sumiitsaxena
If nothing is returned by the command, then it means that your license is still VALID (thats actually the normal behaviour).

[2021-01-31 05:55] sumiitsaxena commented on #1830
Hi @djdocta
I can see from the logs when I run this sample app that Alexa is not going in "Listening..." mode.
What can be the issue? :(

[2021-01-31 10:45] SabelOs opened #1872 "Alexa SDK Device Is Not Able to Connect to Bluetooth Devices"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I am trying to connect my Alexa to Phillips Hue ligth Bulbs, but in the Alexa App the device does not find anything (including other clearly visible devices)

## What is the expected behavior?
Alexa conne

[2021-01-31 14:31] GitHubUser4234 commented on #1111
I have the same issue. When whispered responses are enabled in the Alexa app, they work on the Sonos One, but they don't work on the Rasperry PI. Tried it really a lot and it didn't work even once.

I understand that the recorded voice is not processed in the AVS SDK, but as it works with Sonos, there might be a difference in how it is sent to AVS?

[2021-02-01 06:16] djdocta commented on #1830
If its not even going on Listening mode, then your installation is wrong.
Then it should not even work with the "T" + Enter.

[2021-02-01 20:50] kfisher-vizio opened #1873 "AVS Device SDK build issues"
## Briefly summarize your issue:
While following this guide: [macOS Quick Start Guide](https://developer.amazon.com/en-US/docs/alexa/alexa-smart-screen-sdk/mac-os.html) I am able to successfully complete all steps up until Step 4.

Running `make -j4` begins the build process, but aborts with the following error:

`[ 17%] Building CXX object AVSCommon/CMakeFiles/AVSCommon.dir/Utils/src/WavUtils.cpp

[2021-02-02 04:35] kjkh commented on #1871
Hi @Henry-Yi-2022,

You seem to have confused Sensory with Kitt.AI (snowboy), which is wake word detector that is no longer supported.

[2021-02-02 04:38] kjkh commented on #1872
Hi @SabelOs,

Can you check if the Bluetooth manager in the native OS can scan for these devices? The AVS SDK will use the underlying Bluetooth stack (usually BlueZ), so please ensure that it works first.

If so, can you please build in DEBUG9 mode and attach logs?

[2021-02-02 04:39] kjkh commented on #1873
Hi @kfisher-vizio,

Can you attach your cmake command as well as the full stack trace for the error?

[2021-02-02 05:09] Henry-Yi-2022 commented on #1871
Thanks! What would be a good wake word engine for MacOS users then?

[2021-02-02 09:24] jimenaCabrejas opened #1874 "[Question] Does the AVS device SDK support Alexa gadgets?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

Hello, I was wondering if the AVS device SDK allows Alexa gadgets to connect to the built-in device. I haven't seen anything in the documentation about BLE support or connecting Alexa gadgets with this SDK but maybe I'm not looking in th

[2021-02-02 17:08] kfisher-vizio commented on #1873
The cmake command is simply a copy and paste from the install guide that I linked to above:
`cmake ../avs-device-sdk \
-DGSTREAMER_MEDIA_PLAYER=ON \
-DCURL_LIBRARY=/usr/local/opt/curl-openssl/lib/libcurl.dylib \
-DCURL_INCLUDE_DIR=/usr/local/opt/curl-openssl/include \
-DPORTAUDIO=ON \
-DPORTAUDIO_LIB_PATH=$HOME/sdk_folder/third-party/portaudio/lib/.libs/libportaudio.a \
-DPORTAUDIO_INCLUDE_DIR=$HO

[2021-02-02 20:29] SabelOs commented on #1872
Thank you for the suggestion, but I am still running into an issue here. My Bluetooth controller seems to be recognising the device and is also my default-agent:
`pi@raspberrypi:~ $ service bluetooth status
● bluetooth.service - Bluetooth service
   Loaded: loaded (/lib/systemd/system/bluetooth.service; enabled; vendor preset: enabled)
   Active: active (running) since Tue 2021-02-02 11:35:23 GMT;

[2021-02-02 20:38] SabelOs commented on #1872
To run the App in Debug9 I used the command from the "Set Up the AVS Device SDK on Raspberry Pi" [https://developer.amazon.com/de-DE/docs/alexa/avs-device-sdk/dependencies.html](url):

[code]

[2021-02-02 20:44] SabelOs commented on #1872
Thank you for the suggestion, but I am still running into an issue here. My Bluetooth controller seems to be recognising the device and is also my default-agent:
[code]
And this is my DEBUG9 Log:

[code]

[2021-02-02 23:50] kjkh commented on #1874
Hi @jimenaCabrejas,

The AVS SDK does not currently support Alexa gadgets. Unfortunately, we cannot comment on future release plans. If you have access to an Alexa Business Representative, you can try reaching out to them for any further details.

[2021-02-02 23:50] #1874 closed

[2021-02-03 04:53] kfisher-vizio commented on #1873
Determined what the root cause of my error was. The installed path of curl-openssl has evidently changed since this script was last written. Both instances of the `/usr/local/opt/curl-openssl/` path in the `cmake` command should instead be `/usr/local/opt/curl/`. Problem solved

[2021-02-03 04:53] #1873 closed

[2021-02-03 17:45] mattwood2000 opened #1875 "No audio playback - what specific gst plugins are required for the avs-sdk?"
## Briefly summarize your issue:
I get no audio playback via the SampleApp, but platform audio record/playback works correctly

## What is the expected behavior?
Audio playback as expected

## What behavior are you observing?
No audio

## Provide the steps to reproduce the issue, if applicable:
n/a

## Tell us about your environment:

### What version of the AVS Device SDK are you using?
      v1.

[2021-02-03 19:08] kjkh commented on #1871
Hi @Henry-Yi-2022,

Unfortunately, there is not currently replacement for wake word on macOS. If it's convenient, Sensory is supported on Raspberry Pi. Additionally, if you are working with an Amazon Business Representative, please reach out to them for possible alternatives.

[2021-02-03 19:15] kjkh commented on #1875
Hi @mattwood2000,

Your error logs indicate that `appsrc` is missing:

`0:06:37.530168521 670 0x174520 WARN GST_ELEMENT_FACTORY gstelementfactory.c:462:gst_element_factory_make: no such element factory "appsrc"!`

Unfortunately we do not have a comprehensive list of plugins. These will vary depending on platform and dependencies. However, GStreamer will typically indicate missing elements in its e

[2021-02-03 19:16] #1871 closed

[2021-02-04 21:08] mattwood2000 commented on #1875
Thanks @kjkh I went through and started enabling plugins and was able to get it working.  I'll need to figure out which ones were the required plugins.  It might be useful to have a specific list of the plugins as not all use cases for AVS will use a distro with package management (i.e embedded Linux).

Thanks!

[2021-02-04 21:08] #1875 closed

[2021-02-06 14:17] jorge-simon commented on #1714
worked!

[2021-02-09 12:05] LotrForTheWin commented on #1866
@alexandrekm-amzn
Thanks for help.

[2021-02-10 11:15] ejri opened #1876 "Timeout function to quit SampleApp without user input"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
Running Alexa on raspberry pi, wanted to run Alexa within a timeout function (to save battery power).

To quit the SampleApp, users would need to input (q + enter).
- Is there a way to quit the app or cre

[2021-02-10 16:50] Lmau3 opened #1877 "Question about AVS why is there no interface to the removeAllAlerts function in the DefaultClient class ?"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

Hi AVS team,
We have a question on how to remove all alerts from our clients when it receives notifications about the status of access to AVS, particularly in this case:
AlexaClientSDK::avsCommon::sdkInt

[2021-02-11 11:53] ankursharma319 commented on #1707
Any updates on this? Is it fixed now? @scotthea-amazon

[2021-02-12 00:19] kclchan commented on #1876
Hi @ejri, this is an interesting idea.  Please note that the SampleApp is just an example application on how to use the AVS Device SDK.  If you want, you can create your own version of application and create this timer for your use case.  Thanks!

[2021-02-12 00:32] kclchan commented on #1877
Hi @Lmau3, when the device is unregistered, the expectation is for the application to call logout() through the RegistrationManager.  WIth this, all the database on the device will be cleared, and that includes the Alerts database.

You can see an example of how to do this in:
https://github.com/alexa/avs-device-sdk/blob/master/SampleApp/src/InteractionManager.cpp#L503

[2021-02-12 09:51] nad81 commented on #1805
Ok it works.
thanks a lot.

[2021-02-12 16:28] wjennings commented on #1755
Please provide a patch for this, I have been tripped up by this as well and I'm sure others are too.  There is nothing specific I do to create this, similar to the issue found here https://github.com/alexa/avs-device-sdk/issues/1319#issue-433224824
The 1st time I run it, it works OK, but every time after I stop it, and re-run, it gets stuck.  That's it, for me 100% reproduceable.

[2021-02-12 18:29] kclchan commented on #1805
@nad81, thanks for verifying!  This will be fixed in a future release of the SDK.

[2021-02-12 18:29] #1805 closed

[2021-02-17 19:17] #1876 closed

[2021-02-17 19:19] caleighatamazon commented on #1872
Hi @SabelOs , it looks like you built the SDK in RELEASE mode so the debug logs are still getting stripped from your logs:
[code]

Please re-build the SDK in DEBUG mode and attach new logs so we can take a look.

[2021-02-17 19:20] caleighatamazon commented on #1870
Closing due to inactivity. Please open a new issue with the details if this continues to be a problem. Thanks!

[2021-02-17 19:20] #1870 closed

[2021-02-17 19:21] caleighatamazon commented on #1863
Closing due to inactivity. Please open a new issue if this continues to be a problem or if you need more help. Thanks!

[2021-02-17 19:21] #1863 closed

[2021-02-17 19:21] #1824 closed

[2021-02-17 19:23] caleighatamazon commented on #1853
I'm going to close this due to inactivity. Please open a new issue or get in touch with your Amazon business contact if you want to ask for this feature to be prioritized.

[2021-02-17 19:23] #1853 closed

[2021-02-19 07:49] Carmelo1966 opened #1878 "Setting Locale and Time Zone with System Interface"
Hello.
I'm not using avs sdk, but I use avs on an android app through http calls. Since the Avs forum space has been deprecated, I don't have any other way to submit issue and someone at Alexa Developer Support Team told me to submit my issues in this forum.
I'm using System 2.1 interface in my android app to manage changes in Locale and Time Zone settings made from the Alexa app or the https://am

[2021-02-19 18:17] caleighatamazon commented on #1878
Hi @Carmelo1966 , thanks for posting! Unfortunately since you're not using the AVS Device SDK, we actually can't help you on this forum. It sounds like there was a misunderstanding in your original ticket.

Do you know the case ID when you were communicating with the Alexa Developer Support Team? If so, please provide it here. Then I can refer your case ID to their team again and they will reach o

[2021-02-19 22:06] caleighatamazon commented on #1833
Closing this due to inactivity. Please open a new issue with logs if you still have questions or concerns.

[2021-02-19 22:06] #1833 closed

[2021-02-20 23:08] erikthegamer1242 opened #1879 "Running AVS on startup RaspberryPI 4 using systemd"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
 Alexa should start normally but because it reads the keyboard and using systemd it isn't connected to a terminal it loops and hogs the system

## What is the expected behavior?
 AVS should start automati

[2021-02-23 00:57] mvelegon-amzn commented on #1879
Hi @erikthegamer1242 I think if you are running the sample app as a cron job you might want to use a pipe to redirect input to the app instead of using standard input.

Something like this should work. In your startsample.sh file do this:

[code]

If you want to quit or enter input to the sample app, you could do something like this:

`
echo "q\n" > /tmp/input
`

[2021-02-23 13:07] mrDAREWOLF commented on #1523
I am having the same problem, installation is stuck at 93% , how can I fix this

[2021-02-23 13:09] mrDAREWOLF commented on #1014
I am having the same problem, installation id stuck at 93%.Can anyone help me?

[2021-02-24 12:36] prachipsutane opened #1880 "need libAlexaCommsLib.so file compatible for 64bit"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

I have NXP iMX8MMini-EVK evaluation board. It is a 64bit processor.
 I am porting avs-device-sdk from 32 to 64 bit.
I have 32 bit compatible libAlexaCommsLib.so file. when i try to compile it on 64 bit m

[2021-02-25 17:01] mvelegon-amzn commented on #1880
Hi @prachipsutane for this Comms related question could you please fcontact your Amazon Solutions Architect. Since this library is not open source we do not provide support for it on github. Thanks!

[2021-02-25 17:01] #1880 closed

[2021-02-27 04:01] GitHubUser4234 opened #1881 "Build avs-device-sdk with WakeWord engine on Raspberry Pi Desktop for PC"
Hi,

I'm trying to build the latest avs-device-sdk on Raspberry Pi Desktop for PC (x64). Following the RPI instruction didn't work because it is ARM based. But it **did work** when following the instruction for Ubuntu and Alexa could understand what was said through the microphone. Unfortunately, the instruction for Ubuntu doesn't contain the WakeWord engine, so I then tried to build the sdk by us

[2021-02-28 13:29] pcnetzwerke opened #1882 "Start of SampleApp fails with "Illegal Instruction""
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:
I think I compiled and configured the SDK SampleApp as described [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html).
When I start the SampleApp, it fails wirh "Illegal

[2021-03-01 16:02] mvelegon-amzn commented on #1881
Hi @GitHubUser4234 we do not currently support Procupine as a Keyword detector for AVS SDK. Note that in order to add support to a new keyword engine we will have to make some changes to the SDK. You can take a look at SensoryKeywordDetector.h and SensoryKeywordDetector.cpp files to get more information on how to do this.

[2021-03-01 16:06] mvelegon-amzn commented on #1882
Hi @pcnetzwerke please make sure that you have a microphone installed when you run the SampleApp.

Also please take a look at the following issues which have some resolution steps:
https://github.com/alexa/avs-device-sdk/issues/1372
https://github.com/alexa/avs-device-sdk/issues/1366

[2021-03-01 17:21] pcnetzwerke commented on #1882
Hi @mvelegon-amzn

Thany You very much, that #1372 helped a lot.
Reason: I am using RASPi v1 too, although not suggested. I thought it was only a matter of performance, so please excuse my mistake.
In the meantime I got it running on a RASPI v3 following the guide with one exception: I needed to install the package gstreamer1.0-alsa in addition to them mentioned ones.

off topic: unfortunately my

[2021-03-01 17:21] #1882 closed

[2021-03-02 06:53] shannonantony commented on #1229
@ionutsoran I recently installed AVS on ubuntu, but I am getting the same error as yours

./SampleApp/src/SampleApp ./Integration/AlexaClientSDKConfig.json
configFile ./Integration/AlexaClientSDKConfig.json
#################################################
#       NOTIFICATION INDICATOR STATE: OFF       #
#################################################

###################################
#

[2021-03-03 17:00] erikthegamer1242 opened #1883 "Indicate Device States with LEDs doesn't activate LEDs"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

When setting up the LEDs with [this](https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/indicate-device-state-with-leds.html) and recompiling the SampleApp none o the LEDs light up, but wh

[2021-03-03 17:14] womw commented on #1883
Hi @erikthegamer1242 thanks for posting.

Are you able to directly turn on the LED's in main.cpp of the SampleApp like you do in your simple Python program? This seems to be an issue not with the SDK but with using the PiWiring library which extends beyond the scope that I can support you with. Can you make sure the library is correct for the Pi model you are using?

[2021-03-03 17:20] erikthegamer1242 commented on #1883
I will try the main.cpp, how can I check the library version which I need, I am running on pi 4

[2021-03-03 17:35] erikthegamer1242 commented on #1883
I tried and it didn'work where should I go to ask for support?

[2021-03-03 17:51] erikthegamer1242 commented on #1883
SOLVED: Once you told me to check the library version I figured it out, for everyone else here is the solution:

### Steps to make LEDs work on AVS 1.22.0

1. Follow http://wiringpi.com/wiringpi-updated-to-2-52-for-the-raspberry-pi-4b/
2. Then recompile and run the SampleApp

[2021-03-03 17:51] #1883 closed

[2021-03-04 13:16] lenhattu opened #1884 "Play an audio file before the response from Alexa"
## Briefly summarize your issue:

I tried to modify the startPlaying() function in SpeechSynthesizer.cpp to first play an audio file then the response from Alexa.
[https://github.com/alexa/avs-device-sdk/blob/master/CapabilityAgents/SpeechSynthesizer/src/SpeechSynthesizer.cpp#L1078](https://github.com/alexa/avs-device-sdk/blob/master/CapabilityAgents/SpeechSynthesizer/src/SpeechSynthesizer.cpp#L10

[2021-03-05 05:02] GitHubUser4234 commented on #1881
If effort is put into writing the procupine keyword detector for AVS SDK, will it be possible to merge it into the SDK by pull request or would there be licencing/policy issues preventing it?

[2021-03-06 00:04] womw commented on #1881
Hi, currently we're not accepting pull requests for our SDK.

You're more than welcome to write your own keyword detector for Porcupine but it's not one we're currently supporting.

[2021-03-06 00:13] womw commented on #1884
Hey @lenhattu thanks for posting.

In order to play an audio file you need to first process the file as a istream.

You can see an example of this in the SystemSoundAudioFactory and the SystemSoundPlayer

https://github.com/alexa/avs-device-sdk/blob/master/ApplicationUtilities/Resources/Audio/src/SystemSoundAudioFactory.cpp#L27

https://github.com/alexa/avs-device-sdk/blob/master/ApplicationUtilit

[2021-03-06 00:55] lenhattu commented on #1884
Hi @womw, thank you so much for your help!

So based on your example, if I hexdump my audio file to a C header file:
`xxd -i myaudio.mp3 myaudio.h`
I will be able to reuse the AudioFactory module in your example to process my file as a istream. Am I right?

I am still curious about why passing the url of the audio file to MediaPlayer->setSource() function (like what I did) does not work as I see s

[2021-03-08 07:46] #1881 closed

[2021-03-08 13:48] erikthegamer1242 opened #1885 "Compiling AVS for ubuntu, problem with Sensory"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

When getting to the part in the [guide](urhttps://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html#build-the-avs-device-sdk-sample-appl) i get to the part to download Sensory, i git clone

[2021-03-08 20:43] mg94c18 opened #1886 "Grammar errors on help pages."
## Briefly summarize your issue:
Grammar errors on help pages.

## What is the expected behavior?
Proper grammar.

## What behavior are you observing?
It says "you must you must have a microphone."

## Provide the steps to reproduce the issue, if applicable:
Go to https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html
Read the "Required hardware" section.
It says "you must you mu

[2021-03-08 21:04] mg94c18 opened #1887 "Cloning git repo takes forever; should use "--depth 1""
## Briefly summarize your issue:
When I go through setup steps, git clone command takes a very long time.

## What is the expected behavior?
It should finish within 60 seconds.
I recommend that you add "--depth 1" to instructions because most people are not interested in git history.

## What behavior are you observing?
It takes more than five minutes.  I terminated it then.

## Provide the steps

[2021-03-09 16:05] oscar1372 opened #1888 "Long time to register endpoint when not register alexa immediately"
**IMPORTANT**: Before you create an issue, please take a look at our [Issue Reporting Guide](https://github.com/alexa/avs-device-sdk/wiki/Issue-Reporting-Guide).

## Briefly summarize your issue:

When not register alexa immediately and waiting about 7~8 minutes, alexa will not register endpoint immediately and can not trigger alexa after getting "authorized" status.

Here is device sdk 1.22.0's l

[2021-03-09 23:48] alexandrekm-amzn commented on #1887
hi @mg94c18
Thanks for reaching out, and for your suggestion, it's a valid request. I forwarded the suggestion to the team that takes care of the documentation, keep posted for changes.

I'll be closing this ticket, in case you have more questions do not hesitate to ask.

[2021-03-09 23:48] #1887 closed

[2021-03-10 00:07] alexandrekm-amzn commented on #1884
Hi @lenhattu
The tests you linked are unit tests using Mocks to abstract some part of the code. Have you tried the instructions posted by @womw ?

[2021-03-10 00:19] alexandrekm-amzn commented on #1885
Hi @erikthegamer1242
Thanks for reaching out, the reason that you are facing this error is because the sensory binary you are checking out is for raspberry pi and you are running on x86 hence the binary incompatibility error.

Unfortunately, we do not have a wake word detector compatible with the x86 platform that we can recommend.

Thanks
-Alex

[2021-03-10 00:40] alexandrekm-amzn commented on #1886
Hi @mg94c18
Thanks for pointing out the error, I already submitted informed the team responsible for the public docs, and this will get fixed soon. Keep posted

Thanks,
-Alex

[2021-03-11 01:23] alexandrekm-amzn commented on #1888
hi @oscar1372

Thanks for letting us know about it. I created an internal ticket to get this addressed and we will fix this in one of our future releases.

[2021-03-11 20:00] josema777 opened #1889 "This device does not support the playback of music or radio stations."
## Briefly summarize your issue:

Everything works fine except music playback. When I ask to play any music, for example: 'Play a song from XXXX' or put on any radio station, the voice response is always: "I'm sorry. This device does not support the playback of music or radio stations."

However, when I ask to play music on this device from the mobile app, it does so without a problem.

## What is

[2021-03-11 23:08] lenhattu commented on #1884
I was able to play the audio file by following the instruction posted by @womw.

But the issue is that I can only play 1 sourceId in the startPlaying() function at [https://github.com/alexa/avs-device-sdk/blob/master/CapabilityAgents/SpeechSynthesizer/src/SpeechSynthesizer.cpp#L1078](https://github.com/alexa/avs-device-sdk/blob/master/CapabilityAgents/SpeechSynthesizer/src/SpeechSynthesizer.cpp#L1

[2021-03-12 01:59] alexandrekm-amzn commented on #1889
hi @josema777
Thanks for reaching out, to better assist you can you run the SampleApp with DEBUG9 mode and post the logs here please

[2021-03-12 02:59] noni-mizu opened #1890 "The config.json file not working for authentication"
## Briefly summarize your issue:
I was following the AVS tutorial for how to enable a Raspberry Pi with AVS. I was able to successfully install and compile the SDK as per this tutorial: https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/build-the-avs-device-sdk.html

But I can't authenticate using this tutorial: https://developer.amazon.com/en-US/docs/alexa/alexa-voice-service/get-a

[2021-03-12 13:33] josema777 commented on #1889
Hi @alexandrekm-amzn.

Thanks for your answer.  I do not know if it will be relevant, but I have noticed that the time that appears in the log is incorrect (it appears one hour less). Although it is 1:25 pm, it is actually 2:25 pm. Anyway, the system time is correct, and when I ask Alexa for the time, she also answers the correct time.  I post the new log with DEBUG9 mode:

#######################

[2021-03-12 15:08] clinesmith-m opened #1891 "SDK won't build"
## Briefly summarize your issue:
I've been following [this](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html) guide to install the Alexa SDK on my laptop. I'm able to run the first cmake command found [here](https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/ubuntu.html#build-the-avs-device-sdk-sample-app) with no apparent issues, but compilation fails when I run

[2021-03-12 19:26] alexandrekm-amzn commented on #1890
Hi @noni-mizu ,
Thanks for reaching out.

have you tried running the `genConfig.sh` script as described in this page: https://developer.amazon.com/en-US/docs/alexa/avs-device-sdk/raspberry-pi.html#set-up-your-configuration-file ?

If you followed that guide and it still doesn't work please attach the DEBUG9 logs (run the SampleApp with the DEBUG9 parameter at the end).

Thanks,
-Alex

[2021-03-12 20:45] noni-mizu commented on #1890
Thanks @alexandrekm-amzn, this is a very different process than the tutorial I was following. Are they 2 different ways of doing the same thing or should I start over and follow this one instead? I had already successfully installed the AVS SDK, but this took 20 minutes. If grabbing the SDK from Github is shorter.... which process would you recommend? I'm trying to set this process up for my stude

[2021-03-12 21:33] alexandrekm-amzn commented on #1890
hi @noni-mizu,

Both approaches are valid, you can keep using the script version, please attach the output of the setup.sh script in this ticket. Also try to run the SDK with DEBUG9 logs, that could also shed some light on the problem.

Triple check the registration in the developer console and make sure the clientId and productID are correct, also make sure you selected "Device with Alexa build-i

[2021-03-12 21:37] alexandrekm-amzn commented on #1891
hi @clinesmith-m ,
Thanks for reaching out, the error you are facing is because the SDK build script cannot find the portaudio library.
Double check if this path is correct /home/michael/my_project/third-party/portaudio/lib/.libs/libportaudio.so and if this is the same you used in the cmake command.

You can also paste the exact cmake command you used so we can double check that.

Thanks,
-Alex

[2021-03-12 21:46] noni-mizu commented on #1890
@alexandrekm-amzn Thanks. I'm new to Raspberry Pi and so seeing how that 2nd tutorial basically uses the entire folder structure for installing all new things with the GitHub method of installing the SDK is daunting. Will have to pick apart each command. But then starting over from scratch does not sound great either since perhaps the way (is this what you are calling "script?) that I installed it